[2015-08-24 18:41] #73 closed

[2015-08-24 18:42] justgo129 commented on #38
@bduggan  / @zednis are we good to close #38?

[2015-08-24 18:43] justgo129 commented on #17
I'm all right with it if @rewolfe is.

[2015-08-24 18:47] rewolfe commented on #17
+1

On Mon, Aug 24, 2015 at 2:43 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-24 18:48] zednis commented on #38
busy today but I will try to check on this.

[2015-08-24 19:10] justgo129 opened #132 "SPARQL query with weird output"
Hi everyone,
  I wrote a SPARQL query today which fails to return results even though I believe it should.  What am I doing incorrectly?  The query is available at: http://yasgui.org/short/4JyIq8Vh .

The purpose of the query is to count the number of titles of platforms from which datasets, via "instrument instances," were derived.  The answer should most definitely exceed 0.  I'm pretty sure my

[2015-08-24 19:22] xgmachina commented on #17
Thanks all. I will close the issue now.

[2015-08-24 20:17] congruili commented on #116
The following two queries are both working on the GCIS sparql endpoint:

i. relate GCIS findings to journals and their issn:

[code]

ii. find all the journal issn's and their impact factors from dbpedia:

[code]

I have difficulty combing them as a federated query. Still trying. Any suggestions?

[2015-08-24 20:36] zednis commented on #132
To troubleshoot a query like this I normally break it down into simpler queries and then when I find that statement that is causing trouble (`prov:wasAttributedTo` in this case) I will do describe statements on the subject of the problematic statement pattern.

I broke your query down to this

[code]

and from the output of the describe statements noticed that the datasets in the triplestore are a

[2015-08-24 20:44] congruili commented on #116
After combing the two queries as this:

[code]

I got the following error:
Virtuoso 22023 Error SR012: Function aref needs a string or an array as argument 1, not an arg of type DB_NULL (204)

[2015-08-24 20:44] zednis commented on #132
I think the triplestore is also missing the newer representation of instrument instances, because this query returns 0 results as well.

[code]

[2015-08-24 20:49] zednis commented on #116
Do we know if the version of virtuoso we are using supports federated queries?

[2015-08-24 20:50] congruili commented on #116
I do not know the answer. i will try it on the dbpedia sparql endpoint, too.

[2015-08-24 20:54] zednis commented on #116
I was able to successfully run this query on the GCIS endpoint, so it does support the SERVICE keyword

[code]

I did find this review of federated query support from 2013 which indicates virtuoso 6.1 does have some federated query support, but it does not support federated BINDINGS

https://www.insight-centre.org/sites/default/files/publications/1306.1723v1.pdf

[2015-08-24 21:04] congruili commented on #116
This is also not working on the dbpedia sparql endpoint:

[code]

[2015-08-24 21:25] zednis commented on #116
This seems to work.  I am not sure why what you have been trying does not work...

[code]

[2015-08-24 21:46] zednis commented on #116
hmm, I am now uncertain the query I posted works.  The value of ?issn2 shown in the select does not appear to match the value for the issn if you go to the instance URI...

[2015-08-24 21:52] congruili commented on #116
The result is not correct. One single "issn" matches with a bunch of "impactfactor".

[2015-08-24 21:53] zednis commented on #116
I think this query works, but it times out if you have a limit value greater than 7. I will attempt some refactoring to see if I can make it more efficient

[code]

[2015-08-24 21:54] congruili commented on #116
If federated query could not give us the right result, I suggest we load the rdf triples I created (gcis:Journal gcis:has2014ImpactFactor xsd:decimal) and do the query within the gcis endpoint.

[2015-08-24 22:51] zednis commented on #38
Not all properties have had their labels updated.  I will make a pull request with some more label updates.

[2015-08-24 23:07] zednis opened #134 "duplicate findingProcess property definition"
I noticed today that we have 2 definitions for ``gcis:findingProcess``.

starting at line 735 in the TTL:
[code]

They are the same except for the slight difference in the comment.  Removing one of them seems straightforward enough.

@justgo129 @rewolfe which comment would like us to retain?

[2015-08-24 23:09] #38 closed

[2015-08-24 23:13] justgo129 commented on #134
Excellent catch.  I like the second one with the caveat that "it" replaces "the finding" at the end if the label.

[2015-08-24 23:16] zednis commented on #134
Pull request created.  I am fine with merging now or waiting for Robert to chime in on the preferred comment.

[2015-08-24 23:19] justgo129 commented on #134
Let's wait for @rewolfe.  Thanks, @zednis.

[2015-08-24 23:28] justgo129 commented on #81
Seeing no objection, please feel free to make the aforementioned changes, @zednis @xgmachina.

[2015-08-24 23:28] justgo129 commented on #81
Seeing no objection, please feel free to make the aforementioned changes, @zednis @xgmachina.

[2015-08-24 23:32] justgo129 commented on #78
Let's remove gcis:isBasedOn then.

[2015-08-25 13:04] justgo129 commented on #96
Now that #17 is resolved (thanks, @xgmachina), let's make the changes suggest by @zednis.  We can then close this issue and #12.

[2015-08-25 13:05] justgo129 commented on #72
@zednis, I like your suggestion (in comment beginning "I'm not sure.")  Please feel free to act on it.

[2015-08-25 13:08] justgo129 commented on #74
Seeing the lack of action on this combined with this being a relatively low priority item, coupled with the fact that gcis:cites isn't used in any of the turtle templates, I advise removing gcis:cites from the owl file and closing this ticket.  @xgmachina and @zednis are you fine with this approach?

[2015-08-25 13:23] justgo129 commented on #77
@lic10 could you please inform as to the status of this effort?  Thanks!

[2015-08-25 13:25] justgo129 commented on #86
Closed #86 with no action taken.  Please don't hesitate to reopen if deemed appropriate.

[2015-08-25 13:25] #86 closed

[2015-08-25 13:26] justgo129 commented on #105
@rewolfe do you advise we take further action at this time or hold off?

[2015-08-25 13:31] justgo129 commented on #75
My gut is to remove gcis:contactPoint.  @xgmachina or @zednis , is the portion of the turtle written at: https://data.globalchange.gov/role_type/point_of_contact.thtml correct given the aforementioned changes?

[2015-08-25 13:38] bduggan commented on #116
On Monday, August 24, lic10 wrote:

I disagree.  We do not want to maintain
triples generated elsewhere.  The triple
store is rebuilt on every release and
we are not maintaining a mechanism for
repopulating using subsets of external
datasets.

Brian

[2015-08-25 13:39] rewolfe commented on #134
@zednis, I'm okay with @justgo129 recommendation.

On Mon, Aug 24, 2015 at 7:19 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-25 13:53] bduggan commented on #121
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/Doc.pm#L29

[2015-08-25 14:05] rewolfe commented on #105
@justgo129 - There are a couple of clear definitions here:
https://en.wikipedia.org/wiki/Environmental_indicator

USGCRP uses the term "Indicator" as a type of web publication.  Based on
the way USGCRP is using the term, I would change the definition to say:

"An Indicator is a published set of observations or calculations that is
used for understanding conditions and trends."

On Tue, Aug 25, 201

[2015-08-25 14:17] justgo129 commented on #105
Sure, and for domain/range, are we asserting it to be a type of report or its own publication class?

[2015-08-25 14:32] rewolfe commented on #105
I know that I've been vacillating between "type of report" and "own
publication class".  I think the advantage of making it a type of report is
that we can associate figures, tables and references to it if it is a
sub-class of report.  However, the downside is that we don't really want to
associate it with chapters or findings.  I'm looking at our data model at
http://data.globalchange.gov/resourc

[2015-08-25 14:35] justgo129 commented on #121
Thanks.  The updated query is available at:
http://yasgui.org/short/EyM1nvrn

I'm trying to remove the "xsd:integer" suffix from figureOfChapter.  However, sandwiching the portion before "as" on line 11:
xsd:integer(SUBSTR(?findingNumber,3)) as ?figureOfChapter
with str( ) causes figure 2.10 to follow 2.1 in the output.  Is there a way around this?

[2015-08-25 14:42] justgo129 commented on #105
No sweat.  I'll keep this ticket open in the meantime.

[2015-08-25 14:43] justgo129 commented on #72
Also, let's make "temporalextents" and "spatialextents" as singular per the suggestion of @rewolfe.

[2015-08-25 15:24] bduggan commented on #132
On Monday, August 24, Stephan Zednik wrote:

Looks like the prov namespace prefix is missing from the template, e.g.

[code]

These are the only triples generated:

[code]

Brian

[2015-08-25 15:32] congruili commented on #77
Here is a summary:

`dbpedia:Figure`
http://dbpedia.org/page/Figure

`doco:Figure` -- A communication object comprising one or more graphics, drawings, images, or other visual representations.

`foaf:Image`
http://xmlns.com/foaf/spec/#term_Image

[2015-08-25 15:41] rewolfe commented on #105
@bduggan - Could you weigh in on this?

On Tue, Aug 25, 2015 at 10:42 AM, justgo129 notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-25 15:55] zednis commented on #132
@bduggan The prov namespace was added to this template in commit https://github.com/USGCRP/gcis/commit/88a48da0cb340968e6a51e890ead3f0fdde5c5f6#diff-238eea14cfe940c0fa711f3f061da5d2 7 days ago.

If we haven't run a triplestore load in the last 7 days that could be causing the issues we are seeing with the queries.

[2015-08-25 15:58] bduggan commented on #105
I think @aulenbac may have ideas. The current relational representation is just a subclass of a report, but the concept is broader and includes, I would say, something about sequences of measurements or observations and possibly a visualization of them.

[2015-08-25 16:06] bduggan commented on #132
On Tuesday, August 25, Stephan Zednik wrote:

Great, it'll go out in the next release, then.

We'll need to do a release before a load: the templates in production do not
include this change.

You can see the release on the about page, the X-API-Version
header, or via announcements to the api-users list:

[code]

We are at 1.34:

[code]

[code]

Brian

[2015-08-25 16:11] zednis commented on #132
Thanks @bduggan

@justgo129 We will need to try the query again after the next release and load.

[2015-08-25 16:17] zednis commented on #121
@justgo129 I would suggest leaving figureOfChapter as-is, if it is not an integer then the sort doesn't work correctly.  If we want it to be sorted as a number it has to ~be~ a number, strings are sorted differently and not to our desired effect.

[2015-08-25 16:22] justgo129 commented on #132
sounds good.

On Tue, Aug 25, 2015 at 12:11 PM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1800 G Street NW, Suite 9100,  (_Note New Address)_
Washington, D.C. 20006, U.S.A.

O: (202) 419-3496
M: (202) 285-3005

e-mail: jgoldstein AT usgcrp Dot gov
http://www.globa

[2015-08-25 16:24] justgo129 commented on #72
Closed #72 on behalf of merged https://github.com/USGCRP/gcis/pull/231.

[2015-08-25 16:24] #72 closed

[2015-08-25 16:48] justgo129 opened #137 "Organizational relationships"
Hi everyone,
  Currently we don't have a structured way through which to associate one organization to another.  For instance, let's take a look at:
https://data.globalchange.gov/organization/university-wisconsin-milwaukee.thtml

We would like to affirm that the University of Wisconsin-Milwaukee is a branch of the University of Wisconsin System.  In this example, we have captured the "University o

[2015-08-25 16:51] justgo129 opened #138 "Organizational relationships"
Hi everyone,
  Currently we don't have a structured way through which to associate one organization to another.  For instance, let's take a look at:
https://data.globalchange.gov/organization/university-wisconsin-milwaukee.thtml

We would like to affirm that the University of Wisconsin-Milwaukee is a branch of the University of Wisconsin System.  In this example, we have captured the "University o

[2015-08-25 17:10] zednis commented on #121
ok, this works.  Add a ?figureOfChapter_Text to both the inner selects and then have the outer select return that rather than ?figureOfChapter.

I am actually not sure why the order by on ?chapterNumber is working correctly.  as a string it should order 20 before 3.  The only thing I can surmise is that it is doing the ordering based on when ?chapterNumber is an integer rather than a string (so be

[2015-08-25 17:14] rewolfe commented on #138
@justgo129 - issue #137 and this issue appear to be the same.

On Tue, Aug 25, 2015 at 12:51 PM, justgo129 notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-25 17:18] zednis commented on #138
I am closing this issue as a duplicate of #137

[2015-08-25 17:18] #138 closed

[2015-08-25 17:19] zednis commented on #134
:+1: merging pull request.

[2015-08-25 17:19] #134 closed

[2015-08-25 17:21] zednis commented on #128
@bduggan should we have a related issue in the gcis repository for role instance templates?

[2015-08-25 17:33] zednis commented on #101
I believe all of the examples listed are role instances.

1) Based #128 we are considering moving the role instances out of the ontology and into the DB.  Role instance RDF will subsequently be generated by templates.

2) The role instances we currently have have fairly general definitions.  Some definitions include the text "For NCA3, ..."  I think we could generalize these pretty easily.

exampl

[2015-08-25 18:01] zednis commented on #117
I have updated my query to select the dbpedia URI for the matching instance.  I will then be able to write use a federated query to retrieve the launch date for the platform from dbpedia.

[code]

I have run into an issue where I am unable to retrieve the value of `skos:inScheme` from the lexicon concept from the triplestore. (above query returns 0 results)

see http://data.globalchange.gov/lexico

[2015-08-25 18:35] justgo129 commented on #138
dang, that was definitely inadvertent.  Apologies.

[2015-08-25 18:45] bduggan commented on #128
On Tuesday, August 25, Stephan Zednik wrote:

Yes, also mention adding 'comment' to the database table.

[2015-08-25 18:48] justgo129 commented on #84
Closed #84.  A little later on, I'd like to revisit the definitions one last time, remove unused classes, properties, etc. from the owl file but for now I'll close this ticket.  I'll spin off the health dataset aspect.

[2015-08-25 18:48] #84 closed

[2015-08-25 18:49] justgo129 opened #139 "Definition of a "health dataset""
Revisit definition of gcis:Dataset to encompass health data in addition to those from the NCA3.

Spun off from #84.

[2015-08-25 19:05] justgo129 commented on #114
well-done, @zednis.  @bduggan should this go to the test suite?

[2015-08-25 21:43] zednis commented on #117
I have updated my query to use the a `owl:sameAs` and a regex filter.

[code]

without a limit on the result set size the query times out.

The launch dates in dbpedia seem to generally be missing the year component.  Looking at example RDF on dbpedia the `dbp:cosparId` property is often (but not always) used to contain the launch year.

results:

| "platform_gcis" | "platform_dbpedia" | "launchDa

[2015-08-26 01:47] justgo129 commented on #77
Thanks, @lic10.  Let's either relate gcis:Figure to doco:Figure within the ontology or just conclude the turtle templates for figures with "a gcis:Figure, doco:Figure ."  Which do you recommend?  @rewolfe I think that doco:Figure would work with our definition of figure.  Do you agree?  Would every gcis:Figure be a doco:Figure?

[code]

gcis:Figure a owl:Class ;
    rdfs:label "Figure" ;
    rdfs:

[2015-08-26 13:30] justgo129 commented on #113
Great, @zednis.  How about you or @xgmachina prepare the pull request to place this entry into the test suite, after which I'll close the ticket.

[2015-08-26 13:35] justgo129 commented on #115
@lic10 or @xgmachina could you please add this to the test suite when you have a chance?  Thanks.

[2015-08-26 13:39] justgo129 commented on #132
@zednis @bduggan I just retried the queries given yesterday's release and get the same output as previously for all scripts provided above.

[2015-08-26 13:40] rewolfe commented on #77
+1 - Yes, these definitions are compatible with the GCIS definitions of
Figure and Image.  Note that in GCIS, a Figure may contain one or more
Images.  This means that an Image may have a Caption, but indirectly by
creating a Figure (with a Caption) that contains the Image.

On Tue, Aug 25, 2015 at 9:47 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419

[2015-08-26 13:43] justgo129 commented on #77
Excellent.  @lic10 please advise as to whether we should 1) integrate gcis:Figure with doco:Figure and gcis:Image with fabio:Image within the owl file, or 2) we should leave the owl file as is and conclude the templates with:
a gcis:Figure, doco:Figure .
a gcis:Image, fabio:Image .

I will then prepare the pull request.

[2015-08-26 14:09] bduggan commented on #117
On Tuesday, August 25, Stephan Zednik wrote:

Yes, fixed.

I'm re-runing the import, should be updated in 30 minutes or so.

Brian

[2015-08-26 14:13] bduggan commented on #132
Works for me:: see query and output in the commit above.

[2015-08-26 14:32] justgo129 commented on #132
Great.  The queries work for me now, except I get a list of outputs in-lieu of a count and an additional column is added in-lieu of a rename of a column.
http://yasgui.org/short/Ek1A2nL2

[2015-08-26 14:32] bduggan commented on #117
A nice refinement would be to only show entries for which the date differs.  e.g. why is the GOES-2 launch listed as 1984 in one system and 1977 in another?

[2015-08-26 16:06] zednis commented on #132
@justgo129 could you provide an example of what you mean by "except I get a list of outputs in-lieu of a count and an additional column is added in-lieu of a rename of a column."?

Also, why are you naming the count of ?platform_title ?platform_name?

`(count(?platform_title) AS ?platform_name)`

this will return a count of the instruments on that platform that the dataset was attributed to.

Perh

[2015-08-26 16:47] xgmachina commented on #77
@justgo129 I prefer option 2) in your comment. To add the assertions at the instance level.

[2015-08-26 16:59] justgo129 commented on #77
Excellent.  Please feel free to prepare the pull request.

[2015-08-26 18:54] justgo129 commented on #121
I'm closing #121 since we're changing the query given that it is now much more complex.  See #234 for some candidate replacements.  (@bduggan please reopen that one - thanks).

[2015-08-26 18:54] #121 closed

[2015-08-26 19:12] justgo129 commented on #132
Sure, @zednis.  I meant that I wrote the query expecting a count but instead got a list of information.  I adjusted accordingly but still get all the entities for which 0 platforms exist.  See: http://yasgui.org/short/41i80lP3

[code]

note - edited so the query is property formatted.  Please use github formatting when pasting queries so they show up correctly.

[2015-08-26 21:45] zednis commented on #132
@justgo129 the query above returns a count of 0 because you never specify ?platform_title in the body of the select.  It has no value.  You are then overwriting ?instruments_on_platform_attributed_to with the count of an unbound variable.

honestly, I am surprised the endpoint does not throw an error on this query.

After updating the query so that the title of the platform is ?platform_title, the

[2015-08-26 22:55] zednis commented on #117
@bduggan that might be a bit hard to do in the query since we would have to potentially (but not always) combine and reformat the ?launchDate_dbpedia and ?cospar_dbpedia variables into a date.  I think it would probably be easier to do that analysis in a spreadsheet where you can use some simple parsing logic to attempt to process dbepdia's inconsistent dates.

Also, I am attempting to update the

[2015-08-27 12:20] justgo129 commented on #115
@lic10 @zednis @xgmachina is there a way to address my comment above (the one beginning with "interesting")?  After that, please feel free to add this to the test suite, after which I will close this ticket.  Thanks so very much.

[2015-08-27 12:43] bduggan commented on #77
Once inferencing is enabled, it would be consistent with our handling of prov:Entity to instead put these into the ontology.

[2015-08-27 14:35] bduggan commented on #17
I think model run should not be defined as something other than a type of dataset, since this how the phrase is used in the modeling community.

[2015-08-27 14:44] zednis commented on #17
@bduggan is there a term in the community for the activity of running a model?  As far as I can tell one issue here is that "model run" is used to specify both the activity and the activity output and the context of the usage is required to determine in which way the term is used.

Is this your counter proposal?
- `gcis:ModelRun` a subclass of `gcis:Dataset`
- no subclass of `prov:Activity` specif

[2015-08-27 14:56] bduggan commented on #17
On Thursday, August 27, Stephan Zednik wrote:

Good question, "model run generation" or "model run creation" come to mind
but I will need to ask around.

Yes, though we should check on the attributes...

I'm not proposing no subclass, just concerned about using
"modelRun" for this purpose.

Brian

[2015-08-27 14:58] zednis commented on #17
OK.  I am going to reopen this issue.

[2015-08-27 15:38] aulenbac commented on #17
@zednis and @bduggan, granted this is one of those terms where many concepts get rolled up and used as convenient, technical shorthand for a complicated process and usage varies greatly across the communities we serve. That said, I tend to think of a model run as one complete execution of some type of model.

Model type classifications vary of course, but, for this initial discussion let's use a s

[2015-08-27 15:46] zednis commented on #17
@aulenbac agreed that this is a case where many terms are rolled up into one and context is required for correct interpretation.

From your definition it sounds like you view model run in a manner very similar to what had previously agreed on in the ticket - with a model run being an activity.

If the term model run has too much baggage to be happily settled as either the activity or the output, p

[2015-08-27 17:27] zednis commented on #105
The definition we have been using suggests that datasets can also be indicators.

"Indicators are observations or calculations that can be used to track conditions and trends. "

I am not sure we want to define indicator so narrowly that it is a subclass of report.  If we do though, we can still assert that datasets or other non-report publications are indicators.  We have not modeled report as di

[2015-08-27 18:18] justgo129 commented on #78
closed #78 due to merged #140.

[2015-08-27 18:18] #78 closed

[2015-08-27 19:47] bduggan commented on #17
Here is a model run in the relational model:

Example:

[code]

Schema:

[code]

Note that it has a time range which reflects the range of the
data not the time of the activty.  Also, note that it may be
associated with an activity.  It is essentially a dataset.

Here is an activity associated with this model run:

[code]

There are a number of model runs associated with this activity.

Actually,

[2015-08-27 19:50] aulenbac commented on #17
@zednis, good points. Avoiding "model run", would it be clearer to say "model inputs" and "model outputs" instead? I'm trying to address the need to produce and use something that is broadly applicable and understandable. We have hydrological models, economic risk models, invasive species models, epidemiological models, economic growth models, land use models, ..., as well.

[2015-08-27 20:41] zednis commented on #17
@bduggan I think we are all in agreement that what the relational model calls a "model run" corresponds to the class `gcis:ModelRunOutput` in the current (github master) version of the GCIS ontology.  Being that we have not reached consensus within our own group as to whether "model run" is an activity or an entity, I am starting to think we should avoid using the name without additional explicit

[2015-08-28 13:25] justgo129 commented on #77
The pull request for option 2 is available at: https://github.com/USGCRP/gcis/pull/237.
Once we enable inferencing, we can revise the OWL document accordingly.

[2015-08-28 13:32] justgo129 commented on #74
gcis:cites has been removed from the owl file.  Closed https://github.com/USGCRP/gcis-ontology/issues/74.

[2015-08-28 13:32] #74 closed

[2015-08-28 13:34] justgo129 commented on #81
Would dcterms:source
http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms#terms-source work for case 2?  @zednis if that won't work, please create a new predicate for the "Group 2" instances mentioned above.  We'll then close #81.

[2015-08-28 18:22] justgo129 commented on #77
Addressed with https://github.com/USGCRP/gcis/pull/237 but will keep open for review after inferencing is enabled.

[2015-08-28 19:50] justgo129 commented on #101
@aulenbac and @bduggan @rewolfe I'll defer this your way.

[2015-08-31 16:18] justgo129 commented on #17
:+1:

[2015-08-31 16:36] bduggan commented on #17
Recent discussions have given me the impression that modeling the activity of a model run is probably not useful at this point.  Running a model is a complex and distributed effort, and not a rabbit hole that is worth going down at this point.

[2015-08-31 20:00] rewolfe commented on #17
I agree.  The most important thing to capture is the model run output
information. The same information as what we capture for our other
(observational) datasets.

On Mon, Aug 31, 2015 at 12:36 PM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-31 20:42] zednis commented on #17
OK, are we ok with keeping `gcis:ModelRunOutput` as the class to represent the model run output with superclasses `gcis:Dataset` and `prov:Entity`?

[2015-08-31 20:48] zednis commented on #113
@justgo129 I have added this query to the test suite in gcis-sparql.  Is this ticket ready to be closed?

[2015-08-31 20:49] zednis commented on #114
@justgo129 This query was added to gcis-sparql.  Is this ticket now ready to be closed?

[2015-08-31 20:50] zednis commented on #117
@justgo129 @bduggan query added to gcis-sparql.  Is this ticket ready to be closed?

[2015-08-31 20:51] congruili commented on #115
I have added this query to the test suite in gcis-sparql.

[2015-08-31 20:55] justgo129 commented on #113
Assuming it works and provides the correct output (I haven't had a chance to test), yes.

[2015-08-31 20:55] justgo129 commented on #114
Assuming it works and provides the correct output (I haven't had a chance to test), yes.

[2015-08-31 21:00] zednis commented on #75
@justgo129 the RDF at the link you posted looks fine to me.

In going back to the OP of the ticket, I am fine with having both a point_of_contact provenance role and a `gcis:contactPoint` property.

1) The provenance role is intended specifically to state _'the function of an entity or agent with respect to an activity, in the context of a usage, generation, invalidation, association, start, and e

[2015-09-01 01:42] justgo129 commented on #75
@zednis this seems fine to me.  A search for "point_of_contact" (w/o the quotation marks) in the gcis github repo didn't turn up any instances of this role.

[2015-09-01 15:17] justgo129 commented on #117
I just took a look.  Is there a way to standardize the date formatting in the output?

[2015-09-01 15:21] justgo129 commented on #114
This is cool.  Let's add a "count" column to display the number of pubs by each nca3 author cited by his or her given chapter in order to avoid rows containing identical information.  It might be cool to also provide the URIs for each citation (e.g. Terry Mader, who authored Chapter X of the NCA3, was a co-author on publications /article/10.2567.... and /article/19.2568... , both of which are cite

[2015-09-01 16:25] zednis commented on #114
There are no rows showing identical information.  If an author self-cites himself more than once in a given chapter, there will be a record for each citation and the title of the cited paper along with the author's contribution role to the cited paper (author/editor/etc).

Are you suggesting we remove the cited article information from the report and replace it with just a count?  Then we won't kn

[2015-09-01 16:36] zednis commented on #117
It would be far easier to apply some post-processing to the query results to fix the dates then to add that logic to the query.  The dbpedia RDF uses inconsistent literal types with the launch date values and updating the query to standardize the formatting would make the query much more complicated and probably make the timeout issue worse.  Additionally, because they frequently split the year ou

[2015-09-01 17:32] justgo129 commented on #117
Works for me.  Could we at least git rid of the "Cospar_dbpedia" entries beginning with "SWARM A" or would that also be a post-processing candidate?  I'd think we could at least strip out the text within the SPARQL query.  After that, feel free to repush and close.

[2015-09-01 17:35] justgo129 commented on #114
Ah, I didn't see the rows to the right hand side of the column.  Yes, this is fine.  Closed #114.  Good job.

[2015-09-01 17:35] #114 closed

[2015-09-01 17:37] justgo129 commented on #115
Thanks, @lic10.  Could you please inform as to the purpose of the "frequency" column?

[2015-09-01 17:40] justgo129 commented on #132
@zednis let's chat about this one at your convenience; I'd like to walk through the logic for my own understanding.

[2015-09-01 18:54] zednis commented on #137
I believe we should evaluate the use of http://www.w3.org/TR/vocab-org/ for our organization relationship use cases.

[2015-09-01 19:04] zednis opened #143 "domain of gcis:relatedProject is the intersection of publication and dataset"
[code]

I believe this domain would be the intersection of ``gcis:Publication`` and ``gcis:Dataset`` rather than the union.

I think we should generalize the domain.

[2015-09-01 19:04] justgo129 commented on #137
Agreed, building on the use of that ontology.  @rewolfe @aulenbac @bduggan @zednis @xgmachina @lic10, as decided during our weekly meeting, let's use this issue for adding and discussing various use cases in order to inform a final decision on this matter.

[2015-09-01 23:49] justgo129 commented on #143
Sounds logical to me but I'll defer to @rewolfe and @bduggan on this matter.

[2015-09-01 23:59] justgo129 commented on #137
Here's a second use case, which I call "investigation of extent of organization involvement."  A project PI is interested in using GCIS to explore the extent of NSF's involvement in the USG's Global Change Research portfolio.  Relevant information includes:
- studies and organizational programs funded by NSF
- organizations directly financially supported by NSF
- organizations related to or affili

[2015-09-02 02:38] zednis commented on #143
based on the discussion of in USGCRP/gcis/pull/235.

I suggest we change the domain to `prov:Entity` and update the comment on the property to be "A project the entity is attributed to."

[code]

[2015-09-02 15:00] bduggan commented on #17
On Monday, August 31, Stephan Zednik wrote:

Sure.

Brian

[2015-09-02 15:09] justgo129 commented on #143
Fine here aside from the grammatical issue in the definition.

[2015-09-02 15:09] bduggan commented on #113
There are three test suites with SPARQL queries:
1. acceptance tests (gcis-sparql)
2. ontology unit tests (in this repository)
3. gcis unit tests with sparql (t/011_sparql.t)

Adding to the acceptance tests (1) is great, and these may become examples for end users.  These tests may have external dependencies (e.g. dbpedia), so may fail sometimes.  Also the results may vary depending on the data.

[2015-09-02 15:12] justgo129 commented on #143
Also, to what aspect of the Project is the entity attributed?  The existence, creation, etc?

[2015-09-02 15:22] zednis commented on #143
Is there a difference between ascribing an entity's existence vs it's creation?

Definition of PROV Attribution:

Roles can be used to with a qualified Attribution (see example at http://www.w3.org/TR/prov-o/#Attribution) to specify the role the agent had in the activity that generated the entity.

[2015-09-02 16:19] rewolfe commented on #143
Shouldn't it be "wasRelatedTo", not just "relatedTo"?

Change "A project the entity is attributed to."
to "A project that was related to an entity."

I assume the use cases are:

a. Project A was related to Project B.
b. Project A was related to Organization B.

However, should we be more specific and use terms like "wasAffiliatedWith",
"wasFundedBy" and "wasPartOf"?

Examples:

c. Project A was a

[2015-09-02 16:29] zednis commented on #143
This property is used to assign attribution of some entity to a project.  The super-property is `prov:wasAttributedTo` which has a specific meaning that holds between an entity and an agent and is more precise then a general 'related' property.

A general 'relatedTo' property would be a different property.

The two use cases @rewolfe provides are not appropriate a sub-property of `prov:wasAttribut

[2015-09-02 16:55] justgo129 commented on #17
:+1:

[2015-09-02 17:03] zednis commented on #117
I am not sure we should strip out values from ?cospar_dbepdia.  That property is not explicitly for the year of the launch but for the COSPAR ID.  It seems that the year is often (but not always) part of the COSPAR ID.  I would keep the cospar id intact and leave the logic of parsing it and extracting relevant year information (if any) to post-processing.

[2015-09-02 20:08] justgo129 commented on #126
Closed #126 due to merged https://github.com/USGCRP/gcis-sparql/pull/5.

[2015-09-02 20:08] #126 closed

[2015-09-02 20:31] justgo129 commented on #12
I just did a search to identify areas in which this is still an issue:
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/model_run/object.ttl.tut
  (model_run->Scenario)

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/scenario/object.ttl.tut
   (scenario->Model_run)

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/project/object.ttl.tut

[2015-09-03 01:28] justgo129 commented on #17
@zednis please feel free to proceed with preparing the pull request.

[2015-09-03 01:29] justgo129 commented on #96
@zednis when you get a chance please inform whether we close this issue.  Thanks!

[2015-09-03 01:38] justgo129 commented on #117
@rewolfe are you all all right with the suggestion of @zednis?

[2015-09-03 01:51] justgo129 commented on #101
Let's resolve #128 and then revisit this one (#101).  I don't now think we even need these roles in the ontology, i.e. leave the turtle templates for values at http://data.globalchange.gov/role_type/ as is.  We relate a document to a person / entity through prov:hadRole in a qualified attribution anyway (i.e. role type as object and not as predicate, see e.g. http://data.globalchange.gov/person/82

[2015-09-03 01:51] justgo129 commented on #106
@rewolfe are we ready to proceed with this one?

[2015-09-03 01:55] justgo129 commented on #116
I agree with @bduggan.  @lic10 please inform as to the best way to accomplish this.  Thanks a million.

[2015-09-03 01:56] justgo129 commented on #118
@lic10 when you get a chance could you please inform as to the status of resolving this ticket?

[2015-09-03 02:01] congruili commented on #116
@justgo129 Unfortunately at this moment correct results could not be obtained using federated query.

[2015-09-03 03:50] zednis commented on #96
I believe this ticket is closeable.

[2015-09-03 11:37] justgo129 commented on #116
@CurtTilmes could you be of assistance?

[2015-09-03 13:11] justgo129 commented on #96
Thanks, @zednis.  Closed #96 given merged https://github.com/USGCRP/gcis/pull/235.

[2015-09-03 13:11] #96 closed

[2015-09-03 13:12] justgo129 commented on #102
Also pertains to #127 and #128.

[2015-09-03 13:14] justgo129 commented on #143
I'll defer to @rewolfe going forward with this ticket.

[2015-09-03 13:25] rewolfe commented on #117
@justgo129 - yes, I think that post-processing is the best approach. It
looks like it is pretty difficult to parse dates in SPARQL.

On Wed, Sep 2, 2015 at 9:38 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-03 13:30] rewolfe commented on #106
I think this falls into the more general area of controlled vocabularies
for tagging various resources in GCIS.  The SDA vocabulary is similar to
the current GCMD or future CDI vocabularies.  We need to make this a
general property so that we can add additional vocabularies later.

On Wed, Sep 2, 2015 at 9:51 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 2

[2015-09-03 13:35] justgo129 commented on #117
Thanks, @rewolfe.  As the query has been added to gcis-sparql, I declare #117 to be closed.

[2015-09-03 13:35] #117 closed

[2015-09-03 13:59] zednis commented on #17
This is what is currently in the ontology:

[code]

Should the pull request be to rename `gcis:ModelRun` to `gcis:ModelRunExecution` or to simply remove it?

I will leave `gcis:ModelRunOutput` as it is.

[2015-09-03 14:01] justgo129 commented on #17
I'll defer to @rewolfe.

[2015-09-03 16:17] CurtTilmes commented on #116
Not much to add...

I agree with Brian, I wouldn't try to pull impact factors into your triple store -- we just want to use the external judgements on journals (e.g. impact factor in this particular case, but it could be any other external factor that someone wants to use to filter journals.  Other databases have many facts about journals).

[2015-09-04 14:40] justgo129 commented on #116
Thanks, @CurtTilmes.  @lic10 try http://academia.stackexchange.com/questions/3/where-can-i-find-the-impact-factor-for-a-given-journal

[2015-09-04 15:00] rewolfe commented on #143
Okay, I am sorry that I misunderstood the context. So, an example would be:

  Dataset A was related to Project B.

I think this is pretty general, but it may be okay.  More typical term
would be "was produced by".

So to relate a dataset to a project, we need two triples:

  Dataset A was produced by Activity B.

  Activity B was related to Project C.

Again, a more typical term way of relating a

[2015-09-04 15:09] rewolfe commented on #17
I vote that we drop ModelRunExecution.  We can still use the more general
Activity class if we decide to capture information about the specific
instance of a model run execution.

On Thu, Sep 3, 2015 at 10:01 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-04 16:37] zednis commented on #143
@rewolfe The current definition of `gcis:relatedProject` asserts that it is a sub-property of `prov:wasAttributedTo`.

This means that the statement
`:Dataset_A prov:wasAttributedTo :Project_C`
is inferable from
`:Dataset_A gcis:relatedProject :Project_C`

In PROV attribution has the following definition - _Attribution is the ascribing of an entity to an agent. When an entity e is attributed to ag

[2015-09-04 17:42] rewolfe commented on #143
@zednis Got it! Thanks for being patient in helping me understand this.

So, yes, I'm okay with the definition: "A project the entity is attributed
to."
However, would is be clearer?: "An entity ascribed to a project through an
unspecified activity."

On Fri, Sep 4, 2015 at 12:37 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6

[2015-09-04 17:45] zednis commented on #143
I am ok with "An entity ascribed to a project through an unspecified activity" if everyone else is.

I was trying to follow the grammatical structure that dublin core terms uses in their comments, but I don't think it works well in this case.

[2015-09-04 18:08] justgo129 commented on #143
:+1:

[2015-09-04 18:46] rewolfe commented on #143
+1

On Fri, Sep 4, 2015 at 2:08 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-04 18:51] zednis commented on #143
ok, updated proposal with the new comment text:

[code]

Since I think we already have consensus I will wait a bit and baring any objections I will submit the pull request.

[2015-09-04 18:53] zednis commented on #17
OK, I will submit a pull request that drops ModelRunExecution.

edit - Actually ModelRunExecution was never added as a class, it was a proposed rename of ModelRun.  I think the suggestion to remove the model run activity subclass still holds so I have prepared #145 which removes the current `gcis:ModelRun` class.

[2015-09-04 20:54] justgo129 commented on #132
Thanks for the great one-on-one hangout earlier, @zednis.  Expanded query to include datasets has been entered into the test suite https://github.com/USGCRP/gcis-sparql/pull/6.  As such, closed #132.

[2015-09-04 20:55] #132 closed

[2015-09-07 19:20] congruili commented on #118
[code]

I could find orcid for only 4 authors using the above query.

[2015-09-08 13:03] xgmachina commented on #143
+1

[2015-09-08 13:46] xgmachina commented on #67
I will update the rdfs:comment of `gcis:isSupportedBy` to reflect the discussion.

[2015-09-08 13:54] xgmachina commented on #67
Changed the rdfs:comment to "A finding is supported by or depicted in data, figures,
models, model runs, software, etc.";

[2015-09-08 13:55] justgo129 commented on #67
Thanks, @xgmachina but given previous discussions, I thought we were getting away from using "model run."

[2015-09-08 13:57] justgo129 commented on #67
Hi @xgmachina, it would be help me a lot if we could wait to close issues until after the merging of the corresponding pull request.  Thanks so very much.

[2015-09-08 16:30] xgmachina commented on #67
Yes, let's leave this open because a few more edits will be made.

[2015-09-08 16:41] zednis commented on #17
I believe this ticket is ready to be closed.

[2015-09-08 17:19] zednis commented on #137
@justgo129 Let's create a table (google spreadsheet?) where we can map these use cases with existing properties from GCIS, properties from the W3C org ontology, or other vocabularies already used by GCIS.  This should help us identify if any gaps exist.

[2015-09-08 17:26] justgo129 opened #148 "GCIS Ontology Version"
Continuation of GCIS Ontology Version

[2015-09-08 17:26] justgo129 opened #149 "GCIS Ontology Version"
Continuation of https://github.com/USGCRP/gcis-ontology/pull/54

[2015-09-08 17:54] zednis commented on #113
@bduggan do you think that federated queries should be excluded from (2) and (3) since they have external dependencies?

[2015-09-08 18:15] bduggan commented on #113
On Tuesday, September  8, Stephan Zednik wrote:

Yes.

Brian

[2015-09-08 18:30] rewolfe commented on #137
This may be something we could ask for Hook's group to help with.

On Tue, Sep 8, 2015 at 1:19 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-08 20:06] zednis commented on #149
duplicate of #148?

[2015-09-08 20:08] zednis commented on #75
thanks @justgo129.

I recommend closing this issue with no changes to ``gcis:contactPoint`.

[2015-09-08 20:59] xgmachina commented on #139
@justgo129 Do you mean to make updates to the class gcis:Dataset? I think for the instances of 'health dataset', they can be annotated with one or a few keywords relevant to health issues?

[2015-09-10 00:52] justgo129 commented on #139
Yes, @xgmachina.  It would be nice to have a definition that works for all sorts of scientific datasets, whether they be health, earth observations, or a mix of both.  @rewolfe?

[2015-09-10 00:52] justgo129 commented on #75
Done.  Closed #75 with no action taken.

[2015-09-10 00:52] #75 closed

[2015-09-10 00:54] justgo129 commented on #149
Good catch, I wonder why this keeps happening.  I just closed #148; let's work with #149 (this one).

[2015-09-10 00:54] justgo129 commented on #148
Closed #148 due to it being an inadvertent duplication of #149.  The discussion will pick up in #149.

[2015-09-10 00:54] #148 closed

[2015-09-10 01:04] justgo129 commented on #103
Closed #103, but let's revisit if the time comes for the "not yet" part.

[2015-09-10 01:04] #103 closed

[2015-09-10 01:06] justgo129 commented on #17
Thanks, @zednis.  Closed #17 due to merged #145.

[2015-09-10 01:06] #17 closed

[2015-09-10 01:11] justgo129 commented on #76
Reopened #76 in case recent changes in the ontology file have changed the manner in which we address this ticket.  @zednis and @xgmachina I'm curious as to your thoughts about my comments above.

[2015-09-10 01:17] #143 closed

[2015-09-10 01:18] justgo129 commented on #143
Closed #143 due to merged #147.

[2015-09-10 01:19] justgo129 commented on #143
@zednis @xgmachina now that #147 has been merged, please feel free to proceed editing the turtle templates where necessary.  It may also impact #17.

[2015-09-10 01:20] justgo129 commented on #5
Given that this has been tackled through other tickets, I'm closing #5 as it's now redundant.

[2015-09-10 01:20] #5 closed

[2015-09-10 01:23] justgo129 commented on #137
Agreed.  Copying @pymonger.

[2015-09-10 13:25] rewolfe commented on #139
This appears to be the current definition:

[code]

This seems broad enough to include health data, or am I missing something?

[2015-09-10 13:29] zednis commented on #139
:+1: I think the current definition is sufficiently broad

[2015-09-10 13:33] justgo129 commented on #139
fine with me.  @rewolfe should we remove "of data" from the definition given that we are defining "dataset?"

[2015-09-10 13:36] justgo129 commented on #132
Additions have been made to the gcis-ontology repo as well:  See:
https://github.com/USGCRP/gcis-ontology/pull/151
https://github.com/USGCRP/gcis-ontology/issues/132

[2015-09-10 13:44] zednis commented on #139
I would say no to removing "of data" from the definition.

1) It would be odd to define a data**set** and then explicitly go out of our way to not mention **data** in the definition
2) precedence exists.  This is the definition of `dcat:Dataset` : _A collection of data, published or curated by a single agent, and available for access or download in one or more formats._

[2015-09-10 13:48] justgo129 commented on #139
Works for me.  Closed #139 with no action taken.

[2015-09-10 13:49] #139 closed

[2015-09-10 13:50] rewolfe commented on #139
[Well, I have been trying to respond to this in between other comments, so
here's my response for the record.]

The Wikipedia definition of dataset https://en.wikipedia.org/wiki/Data_set
includes the word data so I'm okay with including it in the definition.
One could argue that "or information" is redundant since data
https://en.wikipedia.org/wiki/Data is "information or knowledge []
represented

[2015-09-10 14:25] justgo129 opened #153 "References (SPARQL query)"
I am preparing a SPARQL query for the unit test in order to encompass the turtle for "references."  See e.g.:
https://data.globalchange.gov/report/nca3/reference

The purpose of the following test is to count the number of articles cited in the NCA3 that came out after 2009, the date of the NCA2.  Yes, I know some of the following lines are completely unnecessary but they are included for testing

[2015-09-10 15:21] justgo129 commented on #67
@xgmachina, given that #150 has been merged, are we all right to close this ticket?

[2015-09-10 19:20] justgo129 commented on #116
@lic10 I'm just checking on the status of this ticket.

[2015-09-11 16:16] congruili commented on #116
@justgo129 I could get the impact factors. The problem comes from the federated query we are trying to use.

[2015-09-14 16:44] zednis commented on #129
(d)  I found there are multiple qualified attributions between a chapter and an author if the author has multiple organizations.  To make the query handle this correctly I wrote it as a sub-query with the assumption that an author should only be listed once per chapter.

[code]

[2015-09-14 16:45] zednis commented on #129
@justgo129 Actually, for (d), is this an author of a work cited by the NCA3 or an author of a chapter of the NCA3?  The query I posted above is for a chapter author of the NCA3.

[2015-09-14 17:45] zednis commented on #106
there is `dcterms:subject` as a general purpose property for _The topic of the resource._  This property is often used to associate a resource with a concept from a controlled vocabulary.

Additionally, we could define a sub-property of `dcterms:subject` that provides additional context.

[code]

I think an example will help us proceed.  Is there a known controlled vocabulary that we would like to

[2015-09-14 18:30] zednis commented on #129
(c) list NCA3 and NCA3 chapter cited articles.  @justgo129 should this include any other citations?

http://yasgui.org/short/EkflGZeC

[code]

[2015-09-14 18:38] rewolfe commented on #106
We already use the GCMD controlled vocabulary
http://data.globalchange.gov/gcmd_keyword.  This is one example
http://data.globalchange.gov/gcmd_keyword/7fdc339e-017f-4e4b-89a3-12e441a40bad of
its use.  This is not very well advertised and I believe that @bduggan is
working to make it more general.

On Mon, Sep 14, 2015 at 1:45 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, N

[2015-09-14 18:51] zednis commented on #106
1) Is the use of the controlled vocabulary expressed in the RDF?  I see that Finding 2.7 is associated with the Surface Water > Floods yet I see nothing in the RDF for the GCMD keyword (http://data.globalchange.gov/gcmd_keyword/7fdc339e-017f-4e4b-89a3-12e441a40bad) or the finding ( http://data.globalchange.gov/report/nca3/chapter/our-changing-climate/finding/extreme-weather-increase.thtml) that sh

[2015-09-15 20:25] zednis commented on #81
@justgo129  `dcterms:source` is intended to be used with non-literal values.

http://wiki.dublincore.org/index.php/User_Guide/Publishing_Metadata#dcterms:source

 It also is intended to represent a derivation relationship between two resources.

Definition: A related resource from which the described resource is derived.
Comment:    The described resource may be derived from the related resource i

[2015-09-15 20:47] zednis commented on #76
Reviewing this discussion for the first time in a while, lots of comments
- `gcis:producedDataset` is a subproperty of `prov:generated`.  It doesn't really add anything to `prov:generated` beyond having a narrower domain and a different label.
- presumably `gcis:producedImage` would be the same.
- I do not think either`gcis:producedDataset` or `gcis:producedImage` are needed - we can just use `pro

[2015-09-15 21:45] zednis commented on #12
Thanks @justgo129

(ModelRunOutput->Scenario)

ModelRunOutput and Scenario are both entities.  Entity->Entity relationships in PROV are derivation relationships.  If a scenario is conceptually an input into the (not necessarily represented in RDF) model run activity, then a derivation relationship between the ModelRunOutput and Scenario is semantically accurate.  If not, then we should not use a P

[2015-09-16 00:32] justgo129 commented on #76
:+1: for removing uncecessary terms.

[2015-09-16 13:35] #81 closed

[2015-09-16 13:36] justgo129 commented on #81
Resolved #81 through merged #156.

[2015-09-16 14:24] rewolfe commented on #12
It sounds like we are trying to say that a ModelRunOuput is basedOn a
Scenario.

On Tue, Sep 15, 2015 at 5:45 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-16 15:40] zednis commented on #12
That sounds reasonable.

(ModelRunOutput -> Scenario) `gcis:basedOn`

(Scenario -> ModelRunOutput) `gcis:basisFor`

Do you think these properties should be sub-properties of the PROV wasDerivedFrom and hadDerivation properties?

[2015-09-16 19:05] justgo129 commented on #12
I think so, @zednis.

[2015-09-17 14:49] rewolfe commented on #12
@zednis - Sounds good.
On Sep 16, 2015 3:05 PM, "justgo129" notifications@github.com wrote:

[2015-09-17 18:04] zednis commented on #12
Great.  I am on PTO.  Marshall can create a pull request with the proposed changes.

[2015-09-21 19:05] congruili commented on #102
I think if a certain number of instances all have the same role_type, it's better if we just define this role_type as a subclass of `prov:Role`.

http://data.globalchange.gov/role_type
My question is, would these be all the role_types?
What if we have more role_types in the future. Is it good practice to mix role_types at instance level and role_types at ontology level? Or do we want to add a new

[2015-09-21 21:24] justgo129 commented on #102
Thanks, @lic10.  I'll defer to @aulenbac on this one.

[2015-09-21 21:25] justgo129 commented on #12
Great.

[2015-09-21 21:27] justgo129 commented on #149
@zednis @rewolfe I'd like to discuss this further (even offline) upon your return from PTO.  Thanks.

[2015-09-21 21:39] zednis commented on #149
:+1: I will be back to normal work on the 28th (Monday)

[2015-09-22 14:01] rewolfe commented on #149
I will be back in the office Oct. 5.

On Mon, Sep 21, 2015 at 5:39 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-09-22 14:26] justgo129 commented on #149
Sounds good.  Tabled #149 until the week of October 5.

[2015-09-22 19:15] justgo129 commented on #105
@rewolfe @bduggan what do you think?

[2015-09-22 20:21] rewolfe commented on #105
An indicator should be a type (subtype) of report.  It has the similar
types of relationships as reports for resources such as figures, tables,
datasets and references.  The main thing it is missing is chapters, but a
report is not required to have chapters.

I don't really understand the need for "indicatorOf".  Suppose we look at
our definition of report:

"An account given of a particular matte

[2015-09-22 20:23] justgo129 commented on #105
:+1: to the suggestion of @rewolfe.

[2015-09-24 14:40] justgo129 commented on #76
@zednis when you return from PTO, please feel free to act on your comment above ("reviewing this discussion for...") and create the pull request.

[2015-09-24 14:41] justgo129 commented on #101
Is this ready for closure?

[2015-09-24 14:47] justgo129 commented on #129
Thanks, @zednis.
for (c) @zednis this looks good but chapters in the nca3 can also cite "generics," "books," and "webpages" in addition to "articles" and "reports."

for (d), it should be the most frequently cited author in the nca3, i.e., nca3 or chapters thereof cites many works, each of them having authors.  Go through all of the authors of all of the cited works and locate the author which app

[2015-09-24 18:55] justgo129 commented on #105
@xgmachina @zednis please feel free to proceed per the comment of @rewolfe.

[2015-09-24 19:40] justgo129 commented on #137
Per discussion on 9/22, I'm working with Rama on formally documenting this use case.  A draft has been created and will I update the group regularly.

[2015-09-30 19:41] justgo129 commented on #12
@xgmachina please feel free to proceed.

[2015-10-13 14:54] justgo129 commented on #102
@zednis I'll defer this your way.

[2015-10-13 16:54] zednis commented on #102
summary: Right now we have role instances in the database.  All role instances have type `prov:Role` (and nothing more specific).  As of right now we have no hierarchy for roles.  There is no more relationship between "lead author" and "author" as there is between "funding agency" and "engineer".

If we have no need of a role hierarchy then we can leave the system as-is and close this ticket.

One

[2015-10-13 18:39] zednis commented on #118
This query returns 177 results.  http://yasgui.org/short/EJfyyHIgx

[code]

[2015-10-13 19:44] rewolfe commented on #118
Looks good!

On Tue, Oct 13, 2015 at 2:39 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-10-13 20:21] #128 closed

[2015-10-13 20:23] justgo129 commented on #118
:+1:

[2015-10-13 20:24] justgo129 commented on #118
Job well done.  Let's add this to the test suite / gcis-sparql repo, after which I will close this issue.

[2015-10-14 13:18] justgo129 commented on #12
Great.  Now that #159 has been merged, I think we'll just need to add gcis:basedOn and gcis:basisFor per the comment of @zednis that begins with "That sounds reasonable."  We should subsequently be able to close #12.

[2015-10-14 13:20] justgo129 commented on #116
Per 10/13 discussion, let's table this until after we update virtuoso.  We'll then retest the federated query and tweak if need be for performance reasons.

[2015-10-14 13:20] justgo129 commented on #115
@zednis @xgmachina could you be of assistance with the question in the previous comment (Sep 1.)?  Thanks.

[2015-10-14 13:27] justgo129 commented on #102
I agree with @zednis and believe that taking such an approach would better suit user needs.  This is because of my concern lies with the lack of official definitions.  The "Coordinating Lead Author" for a chapter in one report may actually be performing the duties of a "lead author" in another report.  I would be fine keeping the db as is but making the change solely in the turtle templates, doing

[2015-10-14 13:36] justgo129 commented on #76
Closed #76 due to merged #160.

[2015-10-14 13:36] #76 closed

[2015-10-14 13:37] justgo129 commented on #67
Closed #67, feel to reopen if desired.

[2015-10-14 13:37] #67 closed

[2015-10-14 14:08] justgo129 commented on #105
Closed #105 on behalf of merged #161.

[2015-10-14 14:08] #105 closed

[2015-10-20 17:49] zednis commented on #101
I think we can close this ticket. Discussions of role subclasses (which I think is what the OP of this ticket is about) can be discussed in #102.

[2015-10-20 18:15] justgo129 commented on #101
Very good.  Closed #101 on behalf of #102.

[2015-10-20 18:15] #101 closed

[2015-10-20 18:16] justgo129 commented on #149
October update: @zednis is looking into this issue and will report back.

[2015-10-20 18:17] zednis commented on #101
After reading this ticket again, I think the original question concerned potentially change the comments on the roles to not sound NCA3 specific.

Based on http://data.globalchange.gov/role_type we are not including the comments/descriptions in the generated role instances so I do not think any of the current DB-based role instances would be interpreted as being NCA3-specific and would make sense

[2015-10-20 18:24] zednis commented on #153
try this:

[code]

I get a result of 975.

[2015-10-20 18:28] zednis commented on #153
@justgo129  where are you planning on putting this?  This query as-is makes sense for gcis-sparql, but I do not think it makes sense to add it to the tests in gcis-ontology as it does not test any part of the gcis ontology, but is really just an example of how to query our instance data.

[2015-10-20 18:34] zednis commented on #129
@justgo129 for (c) the cited work can be of any type, I do not do any filtering or selection by type.  ?article could be a book, webpage, report, etc.

[2015-10-20 18:40] zednis commented on #129
(d) perhaps we should rephrase?  English can be ambigious at times.

The original request was "author listed in the NCA3" then we had "the most frequently cited author in the nca3" but then you suggest to "Go through all of the authors of all of the cited works and locate the author which appears the most frequently."

So is it correct to say you do not want a query for who is the most frequent au

[2015-10-23 11:48] justgo129 commented on #101
Good call.  I'll defer to @rewolfe.

[2015-10-23 11:52] justgo129 commented on #153
Yikes, dumb mistake on my apart.  Thanks for catching it, @zednis.  With regards to your question, I think it tests various terminology (e.g. "dbpprop:pubYear," etc.), potential future changes in which we'd like to flag.  It's a good question though; let's chat about this during our next tagup.

[2015-10-23 11:55] justgo129 commented on #129
Indeed.  The author of a work cited by the NCA3 report.
Note, an author could be "author," "convening lead author," "lead author," etc. since those categories do exist for some of the works cited by the NCA3.  I'm not sure if this matters though since we're no longer storing these roles in the ontology.

[2015-10-23 18:59] rewolfe commented on #101
Please change the definitions to remove the specific reference to NCA3 (and
draft chapter).  For instance, this current definition
http://data.globalchange.gov/gcis.owl#ReviewEditor :

For NCA3, a review editor is an independent, objective expert who critiques
a draft chapter for scientific accuracy and as appropriately representative.

should be:

A review editor is an independent, objective expe

[2015-10-27 16:46] zednis commented on #153
@justgo129 If we want to test the RDF template to ensure that the instance data is being created in the desired manner than we should put this test in gcis (and it would be using test-only instance data); if we want to show an example of this query with the 975 results we should put the query in gcis-sparql.  Since this query does not really utilize the GCIS ontology classes and properties I do no

[2015-10-27 16:54] zednis commented on #115
@justgo129 As you can see in the query, Frequency is a count of the occurrences of the figure (by URL).  I am not sure why @lic10  added it to the query, but my guess would be he added it since there are multiple figures in the report with the same title (though it appears each occurrence has a unique URL).

My guess is that frequency can be safely removed from the query.

[2015-10-27 18:52] zednis commented on #102
I think it would make sense to add the following subclasses of `prov:Role` - `gcis:Author`, `gcis:Editor`.

edit - maybe `gcis:Contributor`? (not sure on the instances that would have this type)

edit 2 - Author could be subclass of Contributor...  I think we need some use cases.  What would we expect to get if we queried "show me all contributors to this report, chapter, dataset, figure, report,

[2015-10-27 20:37] justgo129 commented on #149
Per today's discussion, we will name the updated version GCIS 2.0 upon the closure of the github issues.

[2015-10-28 20:01] justgo129 commented on #118
Closed #163 due to merged #163 , https://github.com/USGCRP/gcis-sparql/blob/master/ticket-118.csv, and https://github.com/USGCRP/gcis-sparql/blob/master/ticket-118.sparql.

[2015-10-28 20:12] justgo129 commented on #129
@rewolfe would you mind taking a look at the output of http://yasgui.org/short/NyGZcG5Wg when you get a chance?  Since there are > 3000 citations in the NCA3, the output looks accurate but I could use another pair of eyes.

@zednis regarding (d), I'll present an example since the number of citations is not equivalent to the number of publications and I can locate various technicalities to complica

[2015-10-28 20:22] justgo129 commented on #102
@justgo129 is working on this and will report back.

[2015-10-28 20:28] justgo129 commented on #113
@zednis I tested the code found at:
https://github.com/USGCRP/gcis-sparql/blob/master/ticket-113.sparql
at data.globalchange.gov/SPARQL
That returned the following error:
"Virtuoso 37000 Error SP031: SPARQL compiler: Variable 'Name' is used in the query result set but not assigned"

As the query does seem to work in yasgui, should I ignore that error?
http://yasgui.org/short/NJh3AfcZe

[2015-10-28 23:11] zednis commented on #113
@justgo129 interesting.  Take the ?Name out of the group by clause and the query should work.

[2015-10-29 14:20] justgo129 commented on #113
It sure does.
The updated query is at: http://yasgui.org/short/EkCG5Gobg.  @zednis how would I order the ChapterNumber values to go in order of 1, 2, 3, etc. instead of 1, 10, 11, ...2,21, ...?

[2015-10-29 16:11] zednis commented on #113
Don't convent chapter number to a string.

[2015-10-29 19:22] justgo129 commented on #113
Worked, and added to:
https://github.com/USGCRP/gcis-sparql/
https://github.com/USGCRP/gcis-ontology/tree/justgo129-patch-1/t/results
  (will merge the latter soon)

[2015-10-29 20:35] justgo129 commented on #153
Closed #153 since it doesn't extensively utilize the GCIS ontology classes and properties.

[2015-10-29 20:35] #153 closed

[2015-11-02 14:36] justgo129 commented on #106
@rewolfe should we still consider this item tabled pending further discussion and action on keyword hierarchies?

[2015-11-02 15:43] rewolfe commented on #106
@justgo129 - Yes, this is closely related to the keyword discussion. -Robert

On Mon, Nov 2, 2015 at 9:36 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-11-03 18:11] zednis commented on #149
What do we want the `owl:versionIRI` to be?

Options:
- http://data.globalchange.gov/gcis-2.0.owl
- http://data.globalchange.gov/gcis-2.0
- http://data.globalchange.gov/2.0/gcis.owl
- http://data.globalchange.gov/2.0/gcis

1) This should be a resolvable URL where we will make the 2.0 version of the ontology available
2) My preference is to leave the .owl off the URI
3) We should have HTML document

[2015-11-03 18:22] zednis commented on #149
Do we want to add a `owl:versionIRI` for version 1.2?

[2015-11-03 18:23] zednis commented on #149
Additional note, when we decide on version 2.0 we should create a release of the ontology in github

[2015-11-03 18:32] zednis opened #168 "BUILD TESTS ARE FAILING"
There appear to have been recent merges to the unit tests that are causing the build tests to fail.

Tests related to tickets #113 and #118 are failing.

Please DO NOT merge branches that do not pass the Travis-CI tests.

https://travis-ci.org/USGCRP/gcis-ontology/builds/89064364

[code]

[2015-11-03 18:36] justgo129 commented on #168
Yep, this relates to the issue with Virtuoso we broached yesterday.  We get the same errors.

[2015-11-03 18:38] zednis commented on #168
This can't be related to virtuoso; running virtuoso is not part of the built tests for gcis-ontology.

[2015-11-03 18:42] justgo129 commented on #168
I think we'll need to debug more offline as @rewolfe and I spent quite a lot of time dealing with this yesterday when preparing another branch for merging.  Let's table all merge requests until a later point.  @rewolfe @zednis

[2015-11-03 18:49] rewolfe commented on #168
@zednis and @justgo129 - I agree that this is a different gYear issue than
we were debugging in Virtuoso yesterday.  That Virtuoso issue had to do
with trying some scripts that used to work against Virtuoso not working any
longer because of changes in the ontology.  Sorry for the confusion.

On Tue, Nov 3, 2015 at 1:42 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ US

[2015-11-03 18:53] justgo129 commented on #168
Okay, I know the issue.  It's the lack of a .txt suffix for the last file listed at:
https://github.com/USGCRP/gcis-ontology/tree/master/t/results

This is actually resolved in the branch on which I was working yesterday, but I am unable to merge that branch because of the (unrelated) issues with Virtuoso yesterday; the tests failed.  I don't want to create a merge conflict by changing the suffix

[2015-11-03 18:54] justgo129 commented on #168
To see the tweak made in my branch, go to:
https://github.com/USGCRP/gcis-ontology/tree/justgo129-patch-1/t/results

(Note there are 31 commits there,hence my concern about potential merge errors with just making one tweak).

[2015-11-03 18:54] zednis commented on #168
There were a large number of direct to master commits on the 28th and 29th that broke the build.

https://travis-ci.org/USGCRP/gcis-ontology/builds

please, please, do not merge branches that do not pass the tests.

My inclination right now is to revert all changes that have been made to master since the 28th.

[2015-11-03 18:55] justgo129 commented on #168
Please no reverts at this time.

[2015-11-03 18:56] justgo129 commented on #168
To clarify: we weren't able to merge yesterday because the potential merges failed the unit tests.

[2015-11-03 18:57] zednis commented on #168
so we revert the changes to master that originally broke the build

[2015-11-03 18:57] justgo129 commented on #168
I'm not wild about that given the intervening changes.  Let's discuss further offline so I can be sure to pinpoint what we're doing.  Closed #168.

[2015-11-03 18:59] justgo129 commented on #168
Please add this to the agenda for today's meeting.

[2015-11-03 19:52] zednis commented on #168
This is the process we should be following: https://guides.github.com/introduction/flow/
- All commits should be done to a branch
- branches should only be merged into master if they pass all tests
- pull requests act as code reviews for proposed merges

[2015-11-03 19:55] rewolfe commented on #168
Stephan, I agree. Is there a way to set up a GitHub policy that enforces
this? -Robert

On Tue, Nov 3, 2015 at 2:52 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-11-03 19:58] zednis commented on #168
I don't think so, not without limiting commit access to a single user and forcing everyone to suggest changes via pull requests from downstream forks.

[2015-11-03 19:59] zednis commented on #168
As far as I can tell enforcement of github flow is mostly upheld by social contract and having admins that liberally revert commits that don't follow the process :-)

[2015-11-03 20:49] rewolfe commented on #168
Got it.  Thanks.

On Tue, Nov 3, 2015 at 2:59 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-11-03 23:01] zednis commented on #168
I pushed a commit to master that reverted several commits from the 28th and 29th.  The master branch is now building successfully again.  I also created a new branch 'update-run-tests-script' and made an initial commit to it to use a OS/X compatible diff call.

[2015-11-04 13:52] justgo129 commented on #168
Excellent - thanks, @zednis.  Please feel free close to #168 when you feel the time is right.

[2015-11-04 18:53] zednis commented on #168
The master branch is passing build tests again.  Closing this ticket.

[2015-11-04 18:53] #168 closed

[2015-11-06 20:15] justgo129 commented on #106
Understood.  Tabled #106.

[2015-11-06 20:17] justgo129 commented on #102
Hopefully this will facilitate closing the ticket:
https://github.com/USGCRP/gcis-ontology/wiki/Role-Hierarchies---DRAFT

[2015-11-06 20:18] justgo129 commented on #12
@zednis or @xgmachina when you get a chance, could you please add gcis:basedOn and gcis:basisFor to the ontology, after which we can close this ticket?  Thanks a million.

[2015-11-06 21:30] zednis commented on #12
@justgo129 will do

[2015-11-06 21:38] zednis commented on #12
It looks like @xgmachina created the properties, but gave them different names.  Should I rename them?

https://github.com/USGCRP/gcis-ontology/pull/159/files

[code]

[2015-11-08 20:35] justgo129 commented on #12
I like both approaches, but have a slight preference for yours, Stephan.  @zednis feel free to rename.

[2015-11-09 15:59] #149 closed

[2015-11-09 16:02] justgo129 commented on #115
@zednis do you feel that this needs to go into a test suite?  If not, since it's been added to gcis-sparql, I am happy to close #115.

[2015-11-09 16:56] zednis commented on #115
I do not think it is necessary in the gcis-ontology tests.

[2015-11-09 16:56] zednis commented on #115
@justgo129 please feel free to close.

[2015-11-09 16:57] justgo129 commented on #113
@zednis do you agree that this should go into the test suite?

[2015-11-09 16:59] justgo129 commented on #115
Closed #115.

[2015-11-09 16:59] #115 closed

[2015-11-09 17:07] zednis commented on #113
I don't think it needs to be in the gcis-ontology tests; it would be OK as a test in gcis (to test RDF templates) or gcis-sparql (as an example).

[2015-11-09 17:11] zednis commented on #113
The reason I don't think it should be in GCIS-ontology is that the only class or property referenced in the query is `gcis:hasChapter`, so it is really a query on how we construct instance data using primarily non-GCIS properties.

If we want a test covering `gcis:hasChapter` in GCIS-ontology tests we should go with something much simpler.

[2015-11-10 14:48] justgo129 commented on #113
Sounds good; I'll just close #113 since this has been added to gcis-sparql.  @rewolfe will that disrupt any of your ongoing work?

[2015-11-24 18:40] zednis commented on #12
@justgo129 after thinking about it I think I have a slight preference for the names @xgmachina used.  `gcis:basedOn` and `gcis:basisFor` are pretty generic for the specific domain and range of the property and could lead to the property being misused by someone who does not take a careful look at the property domain and range.

I would suggest leaving as is.  I also think this ticket - which was o

[2015-11-24 20:43] justgo129 commented on #12
Sounds good.  Closed #12 due partially to merged #159.

[2015-11-24 20:43] #12 closed

[2015-11-24 21:57] zednis opened #175 "Rephrase definition of gcis:derivedModelRunOutputs"
references #159

[code]

[2015-11-24 21:58] zednis commented on #175
how about "outputs of a model run based on this scenario"?

[2015-11-24 21:59] zednis commented on #175
@xgmachina @rewolfe

[2015-11-24 21:59] justgo129 commented on #175
Fine with me.

On Tue, Nov 24, 2015 at 4:58 PM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program

1800 G Street NW, Suite 9100,  (_Note New Address)_
Washington, D.C. 20006, U.S.A.
phone: (202) 419-3496
e-mail: jgoldstein AT usgcrp Dot gov

http://www.globalchange.gov

[2015-11-24 22:13] zednis commented on #175
I'll wait for input from @rewolfe and @xgmachina and if there is consensus make the change.

[2015-11-25 03:03] justgo129 commented on #175
Sounds good.  In the meantime, for the actual turtle templates, I've merged a pull request incorporating two of the three new predicates.
https://github.com/USGCRP/gcis/pull/250

[2015-11-25 14:43] rewolfe commented on #175
+1

[2015-12-01 14:10] #175 closed

[2015-12-01 14:11] justgo129 commented on #175
Closed #175 due to merged #176.

[2015-12-09 13:55] justgo129 commented on #129
@zednis or @rewolfe any update on #129?

[2015-12-11 00:16] justgo129 commented on #118
I'm reopening #118 given the incorrect query results.  The query and results could be found further up in this ticket and at:
https://github.com/USGCRP/gcis-sparql/blob/master/118-ORCiD.sparql
and
https://github.com/USGCRP/gcis-sparql/blob/master/118-ORCiD.csv
respectively.

The frequency numbers are incorrect in the .csv file.  For instance, [Dennis Lettenmaier](http://data.globalchange.gov/perso

[2015-12-11 19:17] justgo129 commented on #118
At second thought, @zednis @rewolfe could this get back to the fact that line 1 in [the turtle template for reports](https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/prov.ttl.tut) maxes out at 20, and as such not every item cited by the NCA3 gets entered into the triplestore?  This is resulting in a vast undercount of articles associated with authors having ORCiDs?

[2015-12-11 19:19] zednis commented on #118
@justgo129 this is an issue with gcis-sparql query example, correct?  Not a test in gcis-ontology?

[2015-12-11 19:20] justgo129 commented on #118
Correct.

[2015-12-11 19:34] zednis commented on #118
It's possible.  If the turtle templates are being used to generate RDF imported into virtuoso then there should be no maxes in the templates.

[2015-12-11 19:38] justgo129 commented on #118
I agree, but we don't want 3395 references to show up in at:
https://data.globalchange.gov/report/nca3.thtml

@rewolfe would removing the max returns and having 3395 outputs show up in the turtle for the NCA3 report adversely impact performance?

[2015-12-11 19:39] zednis commented on #118
I think the templates need to have a parameter that tells them whether to use maxes or not when they are run.  During RDF generation for the triplestore we do not use any maxes.  For THTML generation for the website we use maxes.

[2015-12-11 19:42] justgo129 commented on #118
@zednis I'm all for that.  How easy would it be to create the parameter and test the code?

[2015-12-11 19:43] zednis commented on #118
@rewolfe might be able to answer that question best.  If not, I will take a look at it, but I am still pretty unfamiliar with some of the template infrastructure.

[2015-12-11 19:44] rewolfe commented on #118
@justgo129 - They all should definitely be in the Turtle output when
loading virtuoso (I agree with Stephan).  However, listing them all might
cause a usability issue when someone is using a browser or API.  Is there a
convention for producing a reduced list vs. a complete list in Turtle?  We
already have the "?all=" flag for many lists.  Maybe we need something
similar for Turtle output (and/or t

[2015-12-11 19:50] rewolfe commented on #118
Justin, This needs to be on our list.  I guess that for now our Virtuoso
store is incomplete.

On Fri, Dec 11, 2015 at 2:44 PM, Robert Wolfe rewolfe@usgcrp.gov wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-11 19:56] zednis commented on #118
@rewolfe I am not sure what you mean by a reduced list vs complete list in turtle; my guess though is no.  If a list item is not in the turtle it is not in the RDF.

[2015-12-11 19:57] justgo129 commented on #118
btw @zednis the turtle templates can be found inside many of the folders at: https://github.com/USGCRP/gcis/tree/master/lib/Tuba/files/templates .  e.g. the one for book can be found in the "book" folder, that for chapters is in the chapter folder, and so on.  The file names are always called object.ttl.tut.

[2015-12-11 19:57] zednis commented on #118
@justgo129 I know where the templates are, I am just not familiar with what runs the templates and how parameters can be passed to them.

[2015-12-11 20:00] justgo129 commented on #118
ah, got it

[2015-12-11 20:04] rewolfe commented on #118
@zendis - I was hoping that there was a standard way of saying "...", "etc"
or "this is not the complete list".  That is, there are more items of the
preceding type, but they are not included (for whatever reason).

On Fri, Dec 11, 2015 at 3:00 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-11 20:10] zednis commented on #118
@rewolfe nope, RDF is a data format.  It does not include things like "..." that are for presentation purposes.  RDF is also open-world so there is no need to say a list is complete / incomplete, as it is not assumed the list _is_ complete.

[2015-12-11 22:36] rewolfe commented on #118
@zednis - Got it, so I think using the "?all=1" flag is a good approach.
I'll look at the code to see how easy this is to implement across the
various rendered formats.

On Fri, Dec 11, 2015 at 3:10 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-11 22:54] zednis commented on #118
That might make sense in the THTML resource, but is definitely to be avoided in the actual TTL resource.

On that note, I think the tags at the bottom should be updated.  The representation tag "Turtle" does go to a TTL resource, but a HTML page.  It is a presentation of Turtle embedded in HTML and designed for people, but it is not a TTL file.

I think the "Turtle" but should reference the .ttl f

[2015-12-14 14:10] justgo129 commented on #118
@rewolfe I'll go ahead and edit the code at: https://github.com/USGCRP/gcis/edit/master/lib/Tuba/files/templates/prov.ttl.tut
to remove the max_children. On the code at the aforementioned URL, what change should I make to line 12, as it invokes "max_children"?

Regarding the bottom tags, I'll defer to @rewolfe.  I'd be fine to include tabs: "Turtle (hyperlinks)" or "Turtle (Raw").  We actually hav

[2015-12-14 14:18] rewolfe commented on #118
@justgo129 - we also need to make the "?all=1" flag change

On Mon, Dec 14, 2015 at 9:10 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-14 14:43] justgo129 commented on #118
@rewolfe, great, I committed the change to a new branch:
https://github.com/USGCRP/gcis/commit/4896f5a9d0940e92aaaa9751b2ed3da73047e143
No pull request yet.  Does my change make sense?

[2015-12-14 15:31] zednis commented on #118
Does the ?all=1 query param get passed to the template?  I believe for this idea to work that a different set of turtle will need to be generated based on whether it is THTML or TTL.

Since THTML is HTML with a `<pre>` (or similar) around the RDF the absence ?all=1 would have to cause a change in the embedded RDF, either by being passed to the template or invoking a JS method that would change the

[2015-12-14 15:36] zednis commented on #118
Would it be too complicated to change the flag so that it specifies the cap Instead of "?all=1", generating everything is default and "?max=" is used to specify the number of max children.

[2015-12-16 22:02] zednis opened #179 "author position in RDF?"
@justgo129 @rewolfe

I was looking at the RDF for contributors and realized that there is no positioning information recorded in the RDF.

[code]

I was wondering what your thoughts would be on including author ordering with a datatype property?

[code]

example:

[code]

What do you think?  This would be easy to add.

[2015-12-16 23:23] justgo129 commented on #179
@zednis I'm intrigued by the idea but I'm not sure--with the exception of identifying a first author--that this will fill a need.  I don't think delineating the 3rd author as opposed to the fourth would add much value within the RDF.

[2015-12-17 01:34] zednis commented on #179
If someone wanted to presentation of the publication from the RDF then they would not be able to correctly order the authors.  For example, Hook's faceted search.

As an example, we could not generate the same HTML that GCIS shows for a publication from the RDF we are publishing.

[2015-12-17 13:22] justgo129 commented on #179
@zednis how long would this take?  The [html](https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/contributors.html.ep) and [turtle](https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/contributors.ttl.tut) files are linked to here.  @rewolfe I don't see any ordering of contributors within the html.  Am I missing something or is that information contained elsewhere

[2015-12-17 13:59] rewolfe commented on #179
@zednis - I like this idea. @justgo129 - We have a similar concept for
ordering other resources (e.g. chapters).  I think we may need to add a new
field (ordinal) to the contributor table.

On Thu, Dec 17, 2015 at 8:22 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-17 14:10] justgo129 commented on #179
Sounds good.  @zednis let's proceed.  Since we may need to add the ordinal to the contributor table anyway, we might as well knock out this issue along with #118 simultaneously.

[2015-12-17 14:10] justgo129 commented on #118
@rewolfe what do you think?

[2015-12-17 14:55] rewolfe commented on #118
I need to look at the details of this.  Let's discuss this more after AGU.

On Thu, Dec 17, 2015 at 9:11 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-17 15:52] justgo129 commented on #118
Sure thing.  @zednis is there a stop-gap solution in order to ensure a complete Virtuoso in time for ESIP?

[2015-12-17 16:29] zednis commented on #179
Ok.  I'll do a quick first pass on Monday.

[2015-12-17 17:54] justgo129 commented on #118
Stupid me, I forgot we could just set max_contributors to exceed the number of references.  Such hard-coding isn't a best practice but could be a nice placeholder in the meantime for the purpose of fully populating Virtuoso for accurate SPARQL query results.

[2015-12-17 21:12] justgo129 commented on #118
I guess I should retract that statement.  See lines 229-234 of the [build](https://travis-ci.org/USGCRP/gcis/jobs/97539266) in the [pull request](https://github.com/USGCRP/gcis/pull/253).

[code]

[2015-12-17 22:24] zednis commented on #118
I will be honest, I am not sure how to interpret that error message.  The title of a chapter is wrong?

[2015-12-18 17:09] justgo129 commented on #118
Looks so, @zednis.  I also changed max_children from 20 to 21 just to confirm that the issue isn't with an overloading of Virtuoso.  The same error message appeared (see #234).

The [test](https://github.com/USGCRP/gcis/blob/master/t/004_report.t) hasn't been updated since May, so an external dependency is probably responsible.

@zednis do you know which keystroke produces the � icon?

As such, it

[2015-12-18 18:03] justgo129 commented on #118
I spotted an ampersand embedded within a report title and replaced it with "and."  It didn't help though.

[2015-12-18 19:33] zednis commented on #118
Perhaps the template should ensure all text values in the RDF are UTF-8?

[2015-12-18 19:35] zednis commented on #118
http://search.cpan.org/~jhi/perl-5.8.1/ext/Encode/Encode.pm

Lets update the script to encode the title string as UTF-8 and see if this error still occurs.

[2015-12-21 20:01] rewolfe commented on #118
It looks like it is failing because of some change in a dependency.  I
viewed the Travis logs and found the main configuration difference below.
I'm not sure how this caused the problem.

I'd like to keep the non-UTF-8 string in the test (t/004_report.t) until we
understand why this bug is occurring.

---

From test 1051.1 - failed, https://travis-ci.org/USGCRP/gcis/jobs/97720546,
line 181:

$ cpa

[2015-12-21 20:19] justgo129 commented on #118
@rewolfe sounds good.  Which next steps should we take in rectifying the bug?

[2015-12-21 20:44] zednis commented on #118
If I am reading the spec correctly, the charset of turtle should always be UTF-8

http://www.w3.org/TR/turtle/#sec-mediaReg

[2015-12-21 21:06] rewolfe commented on #118
This is weird.  I just looked at "t/003_lists.t
https://github.com/USGCRP/gcis/blob/master/t/003_lists.t" and it also
uses the "+/-" character and doesn't have a problem.

On Mon, Dec 21, 2015 at 3:44 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-12-31 18:56] justgo129 opened #180 "Triple Store values?"
As discussed in other threads, the issue with an incomplete triple store seems to be resolved.  However, when running the following SPARQL query on both data.gc and yasgui, only 28 values are produced.

    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX gcis: <http://data.globalchange.gov/gcis.owl#>
    PREFIX bibo: <ht

[2016-01-04 03:05] zednis commented on #180
How are you determining that 2196 values should be produced?  Is there a SQL query you can run against the relational database to show what values should be expected by the corresponding SPARQL query?

[2016-01-04 14:09] justgo129 commented on #180
There are 2196 articles in GCIS: [http://data.globalchange.gov/article](http://data.globalchange.gov/article).

[2016-01-04 15:06] rewolfe commented on #180
Justin, It may be a problem with populating the triple-store.  Could you
locate script that does this?  I don't believe it is on github. -Robert

On Mon, Jan 4, 2016 at 9:09 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-04 16:29] zednis commented on #180
[Here](http://data.globalchange.gov/sparql?default-graph-uri=&query=PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0APREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0APREFIX+gcis%3A+%3Chttp%3A%2F%2Fdata.globalchange.gov%2Fgcis.owl%23%3E%0D%0APREFIX+bibo%3A+%3Chttp%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2F%3E%0D%0A%0D%0ADESCRIBE+%3Chttp%3A%2

[2016-01-04 16:37] justgo129 commented on #180
Thanks, Stephan.  Noticing that only articles without contributors were coming up in the triplestore, we subsequently rearranged the resources types of line 82 [here](https://github.com/USGCRP/gcis-rdf/blob/master/import-gcis) so that person and organization are loaded prior to articles.  We ran it on dev.  It didn't help though.  I'm wondering why the presence or absence of contributors seems to

[2016-01-04 16:54] rewolfe commented on #180
Returns 100(+?) articles:

[code]

Returns 35 articles:

[code]

Also returns 35 articles:

[code]

[2016-01-04 16:56] zednis commented on #180
[code]

returns 2149

[2016-01-04 17:00] zednis commented on #180
So it seems the articles in the triplestore have type `gcis:Article` and not `gcis:AcademicArticle`.

actually, looking at https://github.com/USGCRP/gcis-ontology/blob/master/gcis.ttl, I don't see `gcis:AcademicArticle` as a class.  I am not sure why it is showing up in the THTML, but `gcis:AcademicArticle` is not in the ontology at present.

[2016-01-04 17:15] rewolfe commented on #180
It looks like this change to the ttl may have gotten dropped back in July.
See https://github.com/USGCRP/gcis-ontology/pull/65 and related threads.

On Mon, Jan 4, 2016 at 12:00 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-04 17:20] justgo129 commented on #180
I agree, @rewolfe.  e.g. https://github.com/USGCRP/gcis-ontology/commit/48913b60b103b5cbeae695aa3d52fe2c64f6ed9a

@zednis why would fabio:Article only return 35 as well?

[2016-01-04 17:21] zednis commented on #180
Good catch @rewolfe

The ontology change was https://github.com/USGCRP/gcis-ontology/pull/64 but that was never merged.  The associated change to the templates was merged in gcis with https://github.com/USGCRP/gcis/pull/191

[2016-01-04 23:11] zednis opened #182 "Run inference on ontology during tests?"
I just noticed that the Jena RIOT utilities now includes a utility for computing inferences.  I think we should consider using this in our tests and we might even be able to use it during data ingest to compute inferences before they are loaded into the triplestore.

In tests we would compute the inferences of the ontology + test data and run our test queries on that.

## Inference
RIOT support cr

[2016-01-04 23:35] rewolfe commented on #182
Nice!

On Mon, Jan 4, 2016 at 6:11 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-05 15:39] justgo129 opened #183 "Date recorded in Ontology OWL file"
Is there a way to invert the date that is present in the header of the (ontology file)[https://data.globalchange.gov/gcis.owl]?  It reads 03/11/2015, when it's should be dated November 11, 2015.  The (line in the ttl file)[https://github.com/USGCRP/gcis-ontology/blob/master/gcis.ttl] reads:

"dcterms:date "2015-11-03"^^xsd:date ;

[2016-01-05 15:45] justgo129 commented on #182
+1

[2016-01-05 16:23] zednis commented on #183
I do not know, check the LODE documentation - http://www.essepuntato.it/lode

If there is no available configuration parameter to control this, we could always fork the code (on github at https://github.com/essepuntato/LODE) and create a version that generates the date with our preferred formatting.

[2016-01-05 17:02] justgo129 commented on #183
Good idea.  There's nothing in the LODE documentation.  I believe the parameter is located on line 281 at:
https://github.com/essepuntato/LODE/blob/4a3860b01aa8fc6fe80147de1816c00efee1aee3/src/main/webapp/extraction.xsl

 <xsl:when test="matches(.,'\d\d\d\d-\d\d-\d\d')">

[2016-01-05 17:05] justgo129 commented on #137
Rama and I have created a use case.  However, I'm a little unsure about how to semantically properly capture the nature of the relationship between orgs.  e.g. unlike in the [html](http://data.globalchange.gov/organization/adaptive-management-working-group.html) there is no "program of" [here](http://data.globalchange.gov/organization/adaptive-management-working-group.thtml).  How would one model

[2016-01-05 17:27] zednis commented on #183
If we are using static HTML generated by LODE we can manually update the HTML to fix the published webpage, then we can fork LODE and tweak it so it generates what we want in the future.  We may additionally be able to incorporate the anchor link fix into our modified copy of LODE.

[2016-01-07 00:39] zednis commented on #137
link to the use case?

[2016-01-12 03:17] justgo129 commented on #180
@zednis, @rewolfe figured it out:
(1) The "prov" namespace wasn't declared for articles and books
(2) For some reason, Virtuoso doesn't like blank strings.  Specifically, it doesn't like blank values for prov:actedOnBehalfOf in 'contributors.'

These have been resolved and are currently on dev.  See: https://github.com/USGCRP/gcis/pull/261 ,  https://github.com/USGCRP/gcis/pull/262 , https://githu

[2016-01-12 17:45] zednis commented on #180
@justgo129 do you have confirmation that fixes resolve the issue where article instances were missing information?  Specifically `rdf:type` statements?

[2016-01-12 17:50] justgo129 commented on #180
yep, those were the issues.  We have one ongoing issue with several datasets but assuming the build that I'm running on dev works, I'll deploy to prod and we should be able to close this issue.

[2016-01-12 17:56] zednis commented on #180
Do you know how the prov namespace and/or blank strings were causing the issue?  I can see these being issues, but I do not currently understand how they would be causing the specific issue we were looking into.

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/article/object.ttl.tut has the following:

[code]

Was the contributors template failing and that caused the article te

[2016-01-12 17:58] justgo129 commented on #180
Kind of.  The lack of the prov namespace was causing an issue with the contents of the turtle template.  The other issue is really (2).  From checking the error logs, it seems that Virtuoso doesn't like blank strings.  Why, I don't know.

[2016-01-12 18:02] zednis commented on #180
ok, good work troubleshooting it.

[2016-01-12 18:32] justgo129 commented on #180
thanks.
I just ran this on dev and receive a complete triplestore.  The number of articles and people is what is expected.  We're good to go.

[2016-01-12 18:44] rewolfe commented on #180
@justgo129 - What is final error count?  Is it just the dataset that have
urls with "blanks" or other strange characters?

On Tue, Jan 12, 2016 at 1:32 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-12 18:50] justgo129 commented on #180
13 errors total, all for datasets.  12 have URLs with "blanks," one is an undefined namespace issue which should be a quick code fix and which should be resolved [here](https://github.com/USGCRP/gcis/pull/268)

[2016-01-12 18:53] rewolfe commented on #180
Cool.

On Tue, Jan 12, 2016 at 1:50 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-13 01:28] justgo129 commented on #180
I have fixed the issue with datasets; no dataset returns an error.  I've subsequently tested on dev and stage and all works perfectly well.  Closed #180.

[2016-01-13 01:28] #180 closed

[2016-01-13 01:29] justgo129 commented on #183
@rewolfe what do you think?

[2016-01-13 01:58] rewolfe commented on #180
@justgo129 - Excellent!

Make sure you commit your change to the virtuoso import script to the
gcis-rdf repository.

On Tue, Jan 12, 2016 at 8:28 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-01-13 16:38] justgo129 commented on #180
Sure thing.  After testing on dev, I've successfully deployed to stage and prod.  I'll run the Virtuoso rebuild on prod after tomorrow's content push.

[2016-01-21 15:31] justgo129 commented on #137
Update: discussed during January 19, 2016 call.  @zednis will research further.

[2016-01-21 15:32] justgo129 commented on #113
Closed #113.

[2016-01-21 15:32] #113 closed

[2016-01-21 17:23] zednis commented on #137
@justgo129 I did not see any qualified (n-ary) organization to organization relationships in the W3C Organization Ontology.

There is such a relationship for the membership of an agent in an organization - https://www.w3.org/TR/vocab-org/#reporting_structure, but I don't think any of your use cases require this relationship.

Looking at the bullets that you listed as 'use cases' above you suggest

[2016-01-21 17:49] justgo129 commented on #137
I agree with your rationale, @zednis.  Just to be sure I understand though, since subOrganizationOf has domain org:Organization, it would still be accurate to consider suborganizations as separate but related organizations.  e.g.
http://data.globalchange.gov/organization/university-washington-department-civil-environmental-engineering could still be an org distinct from http://data-stage.globalcha

[2016-01-21 18:06] zednis commented on #137
- Why define branch, council, and center sub-properties but not office, department, and division?
- Is `gcis:councilOf` a org-to-org relationship?
- funded and affiliated would be sub-properties of `org:linkedTo`, the others would be sub-properties of `org:subOrganizationOf`

[2016-01-21 19:16] justgo129 commented on #137
sure.  @zednis: an example of councilOf is
http://data.globalchange.gov/organization/presidents-council-advisors-science-technology
We also have "programOf" btw.

You have a good point.  I'm not so sure "branchOf" should be a suborganization though.  I'm thinking of branchOf in the context of the branch of a bank, or the branch of a larger office.  As such, it's more emblematic of an org (as oppos

[2016-01-22 03:24] zednis commented on #137
I can see a lot of thought has already gone into potential changes but I don't think we have explored all use cases in detail.

I think we should proceed by creating a pull request as a proposal and then discussing the proposed change and various use cases in depth till we gave agreement (or at least consensus).

[2016-01-29 17:41] justgo129 commented on #118
@zednis do you have a soln?

[2016-02-02 18:04] zednis commented on #118
The error we were discussing before the thread died down was related to https://github.com/USGCRP/gcis/pull/253 and its branch which are now closed.

I guess my question is are we still having problems with ORCIDs after the recent template changes?

[2016-02-02 18:06] zednis commented on #118
This query from early in the thread is now returning 817 results.  @justgo129 can you look at the results and determine if there is still an issue with ORCID prevalence?

[code]

[2016-02-02 18:15] zednis commented on #118
@justgo129 Dennis Lettenmaier is now showing a frequency of 25 citations by NCA3, does this look correct?  It's better than where we were but I am not sure if it is correct.

Letetnmaier appears to be author on 35 articles/reports/etc., but I am not sure how many of these are cited by the NCA3.

http://data.globalchange.gov/person/1526

| URI | First name | Last name | ORCID | Frequency |
| --- |

[2016-02-02 18:32] justgo129 commented on #118
@zednis this seems accurate.  If DL lists multiple affiliations on an article (e.g. JISAO and UW Civil & Env. Engineering), he'd appear twice at:

http://data.globalchange.gov/person/1526

each under a different affiliation.

[2016-02-02 18:42] zednis commented on #118
@justgo129 +1.  Can you look through the results to the ORCID prevalence query and see if the results look right?  I think with the recent template updates we may have resolved this issue.

[2016-02-02 18:46] justgo129 commented on #118
Sure thing.  I'll take care of this after the next content push on Thursday since some additional information has been since added to our staging site.

[2016-02-04 19:25] justgo129 commented on #118
To follow up, I just did a couple spot checks:
http://data.globalchange.gov/person/1026
http://data.globalchange.gov/person/896

The SPARQL results are accurate for both.  Also, the number of people and articles in GCIS are accurately accounted for in SPARQL outputs.

As such, excellent call, @zednis.  Closed #118.

[2016-02-04 19:25] #118 closed

[2016-02-04 20:26] zednis commented on #118
:smiley:

[2016-02-04 21:31] rewolfe commented on #118
+1!

On Thu, Feb 4, 2016 at 3:32 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-02-05 16:52] justgo129 commented on #129
Closed #129.

[2016-02-05 16:52] #129 closed

[2016-02-05 16:53] justgo129 commented on #102
I think we can close #102 given recent enhancements - could @rewolfe and/or @zednis confirm?

[2016-02-05 16:54] justgo129 commented on #137
As an update, we discussed this on 2/2.  As this is a work in progress, I'll keep #137 open until a pull request is made and merged.

[2016-02-05 16:56] justgo129 commented on #182
Is this something we should table until after the assets are transferred?

[2016-02-05 16:57] justgo129 commented on #106
Should we continue to table this ticket or is the time right to continue work on it?

[2016-02-05 17:21] rewolfe commented on #182
@justgo129 - I think this can wait.  Do we already have a use case for this?

On Fri, Feb 5, 2016 at 11:56 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-02-05 17:23] rewolfe commented on #106
@justgo129 - I think this we should keep this ticket open, but table it
until after we have the keyword tagging implemented through the CDI
activity.

On Fri, Feb 5, 2016 at 11:57 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2016-02-05 21:48] zednis commented on #106
+1 to keeping it open but on the backlog.

Perhaps we should create an issue label "backlog" for open items we are not currently working on?

[2016-02-05 22:02] justgo129 commented on #106
+1

[2016-02-05 22:06] zednis commented on #179
@justgo129 @rewolfe

This issue fell through the cracks.  Do you think this ticket should be worked on now or put in the backlog?

[2016-02-22 18:57] justgo129 commented on #179
@zednis, backlog

[2016-04-21 22:14] justgo129 opened #185 "redirects for ontology"
@rewolfe I forget what this is about.  Elaborations are welcome.  Thanks.

[2016-04-21 22:15] zednis commented on #185
?

[2016-04-21 22:15] justgo129 commented on #185
(@zednis, the "technical" label here is for the internal use of Robert and I, please feel free to ignore)