[2015-05-05 23:07] zednis opened #2 "Change dcterms creator/contributor usage"
Proposal: [change dcterms:creator/contributor usage](https://github.com/USGCRP/gcis-ontology/wiki/Ontology-change-proposal---change-dcterms:creator-contributor-usage)

## Proposal
Change usage of dcterms:creator and dcterms:contributor properties to be as object-properties.

## Background

Currently the ontology is treating dcterms:creator and dcterms:contributor properties as datatype properties.

[2015-05-06 12:37] bduggan commented on #2
:thumbsup:

[2015-05-06 15:31] zednis commented on #2
One thing I thought about after I wrote up the change request is ordering of the creator and contributor individuals.  Do we have a requirement to retain ordering?

Also, is there a preference to mint URIs or use blank nodes with the contributor and creator individuals?

[2015-05-06 15:51] bduggan commented on #2
I would say there is no such requirement, and no preference; I would just go with whatever is common practice.

[2015-05-06 18:39] zednis commented on #2
Ordering of authors is a common need, but I have seen it implemented in several ways.

We might not need it for the ontology creators and contributors, but I suspect we will want author ordering for the NCA report chapters - so I think it would be beneficial to have a discussion on how to best model it.

I checked the Linked Data Design Patterns site for a recommended practice.

Linked Data Design

[2015-05-06 19:14] bduggan commented on #2
So far, for this particular case, we have found it more important to order groups of people by roles than to order individuals:

 http://data.globalchange.gov/report/nca3/chapter/our-changing-climate.thtml

(Note, it uses prov:qualifiedAttribution, and we have a finite set of "role"s.  )

But, there is no order specified in the representation -- could multiple people have the same gcis:sequencePos

[2015-05-06 19:49] zednis commented on #2
Using PROV's qualifiedAttribution is probably the best way to express this qualified relation using an existing vocabulary.

On a side note, prov:hadRole is also an object-property and should not be used with a literal value.

This is what the modeling would look like using prov:qualifiedAttrbution.  I like it.

[code]

[2015-05-06 20:26] justgo129 commented on #2
Thanks for catching the issue prov:hadRole.  Searching on sindice, specifically:
http://sindice.com/search?q=role

The sixth item that comes up is a TW term "has role."  Unfortunately, the linked to page is no longer available.  Is that also an object property?

[2015-05-06 21:36] zednis commented on #2
@justgo129 I would suggest creating a new ticket for the prov:hadRole usage in the instance data, but I am not sure if this repository is the best place to create it.

As for the property, you can see more information on it at the [W3C PROV-O Recommendation](http://www.w3.org/TR/prov-o/#hadRole).

As I look at the definition of prov:hadRole I find it interesting that prov:Attribution is not in the

[2015-05-06 21:55] zednis commented on #2
Since there is not currently a clear requirement on ordering of creator and contributor individuals I am going to open a pull request (essentially a code review) on proposed changes to update dcterms contributor and creator to use foaf:Person instances.  This update will not include qualified relations with ordering information.

[2015-05-07 00:36] bduggan commented on #2
On Wednesday, May  6, Stephan Zednik wrote:

You can make a ticket in the gcis repository; I will
add support for /role and /role/:role_identifier
endpoints.

Brian

[2015-05-07 13:35] bduggan commented on #2
Would it also make sense to add a vivo:orcidId for contributors?  This would be consistent with [other](http://data.globalchange.gov/person/1025.thtml) instance data.

[2015-05-07 15:59] justgo129 commented on #2
I like that idea very much, Brian, for the reasons presented.

[2015-05-07 16:04] justgo129 commented on #2
Opened as an issue in the gcis repo, (Issue #141), see link above.

[2015-05-07 21:25] zednis commented on #2
I closed pull request #3, which updated the usage of dcterms properties to use foaf:Person instances instead of literals.  This update resolves the core issue of this ticket.  I did not include a qualified attribution with sequence information because our discussion determined that this was not currently a requirement.  A good discussion, we can come back to it in a new ticket if need be.  With #3

[2015-05-07 21:25] #2 closed

[2015-05-15 14:34] justgo129 opened #5 "SPARQL queries"
Hi @zednis ,
  We earlier discussed the need for the list of SPARQL queries which are integrated into GCIS.  Are you referring to  the ones integrated at https://github.com/USGCRP/gcis/blob/master/t/011_sparql.t or just a list of other queries that we've successfully tried?

[2015-05-19 18:34] zednis commented on #5
I was not referring to any specific suites of queries because I did not know what already existed.  I think it will be important to have a test suite of queries that can be executed by Travis CI when commits are made to the repository.

[2015-05-19 18:52] zednis opened #6 "B5. change domain of gcis:hasSpatialResolution and gcis:hasTemporalResolution properties"
| Change Proposal | B5 |
| :-------------- |:-----:|
| Point of Contact | @justgo129  |
| Date | 2015-05-19 |

## Proposal

Broaden or remove domain of **gcis:hasSpatialResolution** and **gcis:hasTemporalResolution** properties.

## Background

**gcis:hasSpatialResolution** and **gcis:hasTemporalResolution** each have domain **gcis:modelRun**, but we also call SpatialResolution and TemporalResolut

[2015-05-19 19:29] justgo129 commented on #6
I like Option 3 if that's feasible.

[2015-05-19 19:33] xgmachina commented on #6
Can we use owl:unionOf to add gcis:Dataset as a part of the domain of those two properties?
For example:

[code]

[2015-05-19 19:44] zednis commented on #6
@xgmachina, that is also good suggestion.  I will include it as an option in the proposal.

[2015-05-19 19:53] zednis commented on #6
Regarding the optional to use unionOf (option 4) - are there any instances that would have temporal or spatial resolution and are neither a dataset or model run?

[2015-05-19 20:26] justgo129 commented on #6
Images and figures have lat max, lat min, long max, long min, but that's the closest.  @aulenbac , please confirm.  Thanks.

[2015-05-20 12:56] justgo129 commented on #5
I fully agree.  If you have a couple of minutes, could you look at the code linked to above and let me know if you'd like to see some additional sample queries?  Also copying @bduggan on this.

[2015-05-20 13:01] justgo129 commented on #6
I thought extensively about the comment by @xgmachina and decided I'd still prefer to go with Option 3.  This is because the definitions for the terms to which the union is "applied"  may change during the course of making other changes to the ontology.  It would just be one less thing to consider and potentially revisit.

[2015-05-20 14:39] justgo129 commented on #6
Also, Project Open Data uses dcat:spatial and dcat:temporal to describe the spatial and temporal coverages, respectively, of a dataset.

https://project-open-data.cio.gov/v1.1/metadata-resources/
http://www.w3.org/TR/vocab-dcat/#Property:dataset_spatial
http://www.w3.org/TR/vocab-dcat/#Property:dataset_temporal

[2015-05-20 14:45] zednis commented on #6
We may want to consider using **dcat:spatial** and **dcat:temporal** as part of a general adoption of DCAT terms, but I believe spatial resolution and spatial coverage are two different (but related) concepts.

edit - nevermind.  see comment below.

[2015-05-20 14:47] justgo129 commented on #6
Right, they are.  I just realized that I meant to include the extent discussion somewhere else (my bad).  I'm for using dcat:spatial and dcat:temporal if the formatting of their respective entries would work for us.  Project Open Data uses it for datasets.  Would we need to broaden the use of dcat:spatial and dcat:temporal for other items down the road (I.e. not datasets), though?

[2015-05-20 14:51] zednis commented on #6
No broadening of dcat:spatial and dcat:temporal - those properties are defined for being used specifically in the context of datasets.  If we wanted to use something broader we would use [dct:spatial](http://dublincore.org/documents/dcmi-terms/#terms-spatial) and [dct:temporal](http://dublincore.org/documents/dcmi-terms/#terms-temporal).

edit - after looking at DCAT I see that there is no such pr

[2015-05-20 15:01] justgo129 commented on #6
Would dct:spatial and dcat:temporal accommodate the necessary ranges?  For instance, in entries for datasets in GCIS, the field "spatial extent" is defined as a "brief extension of the spatial extent, which corresponds to lat_min/lat_max, lon_min/lon_max ."  For datasets, there are also fields for "lat_min," "lat_max," "long_min," and "lat_max" for which entries in exist in the db.  Often when ent

[2015-05-26 04:36] zednis opened #7 "C1. iterate on activity to dataset relationships"
Check entries under http://data.globalchange.gov/activity and create terms accordingly, relating to other datasets.

Need something for
- [ ] computing environment
- [ ] data usage
- [ ] names of input/output data files
- [ ] etc. (?)

Maybe relate to pre-existing dbpedia entries in use at the turtle there.

See https://data.globalchange.gov/activity/0158fa86-nca3-ghcn-daily-r201305-process.ttl fo

[2015-05-26 04:37] zednis commented on #7
I don't think suggestion is at the point where we can utilize the change proposal template.  I suggest we discuss and refine the issue first.

[2015-05-26 04:44] zednis commented on #7
@justgo129 looking at the example instance RDF from this ticket, there are a number of issues that we should address.

1) dcterms:SizeOrDuration is a class and it is being used as a datatype property.
2) gcis:Software is a class and it is being used as a datatype property.
3) dcterms:InteractiveResource is a class and is being used as a datatype property.
4) meth:Methodology is a class and is bein

[2015-05-26 04:49] zednis opened #8 "C2. represent duration of activities"
Create something synonymous to dcterms:SizeOrDuration since that term requires a specific time format.  To describe the time requirement of an activity, we have been using strings, e.g. “6 hours”  (http://data.globalchange.gov/activity/0158fa86-nca3-ghcn-daily-r201305-process).  A relationship with Dublin Core would still be good though if it can be salvaged.

example from http://data.globalchange

[2015-05-26 04:58] zednis commented on #8
First off, this usage of dctersm:SizeOrDuration is incorrect.  SizeOrDuration is a class, not a property.  In dublin core the proper term to use is dcterms:extent.  The range of dcterms:extent is  dcterms:SizeOrDuration.

Here is a link with an example of using dcterms:extent.

http://wiki.dublincore.org/index.php/User_Guide/Publishing_Metadata#dcterms:extent

This is what the example from above w

[2015-05-26 05:00] zednis commented on #8
Also, I do not know what you mean by 'Create something synonymous to dcterms:SizeOrDuration since that term requires a specific time format' - the value of a dcterms:SizeOrDuration resource does not require a specific time format.

[2015-05-26 05:02] zednis opened #9 "C3. prefix usage for SWEET reprScimethodology"
The reprSciMethodology ontology available at http://sweet.jpl.nasa.gov/2.3/reprSciMethodology.owl# may not be called “meth” appropriately at https://data.globalchange.gov/activity/048de6b5-nca3-cddv2-r1-process.ttl  If this is the case, what is the “proper” abbreviation for this namespace?

As an aside, it is not possible to tell whether a term called “methodology” really exists at http://sweet.jp

[2015-05-26 05:08] zednis commented on #9
Is there a technical reason why the prefix "meth" may not be used or is this political?  The prefix used in the source ontology is "meth".  We can use whatever prefix we want in our own serializations - there is no 'proper' prefix.

We could use "method" or "methods".

Also the usage of meth:Methodology from the example TTL is incorrect.   You are using a class as a property.

[code]

This is inco

[2015-05-26 05:33] zednis opened #10 "E6. temporal extents for images and figures"
Consider expanding/modifying gcis:startedAtTime and gcis:endedAtTime to include the temporal extents of figure and image content.  Currently, the domain of these terms is gcis:TemporalExtent which is solely a domain of a gcis:Dataset.  Maybe relate to dcterms:coverage or dcterms:temporal.

[2015-05-26 05:57] zednis commented on #10
A few questions:
1) The gcis ontology does not appear to have a startedAtTime or endedAtTime property.
2). I do not understand the sentence 'Currently, the domain of these terms is gcis:TemporalExtent which is solely a domain of a gcis:Dataset.'
3) Could you provide an example?

I think that irregardless of the answers to my questions above we will want to use dcterms:coverage to describe the temp

[2015-05-26 06:18] zednis opened #11 "Z1. Remove gcis:hasTemporalExtents and gcis:hasSpatialExtents, replace with usage of dublin core terms properties"
| Change Proposal | Z1 |
| :-------------- |:-----:|
| Point of Contact | @zednis  |
| Date | 2015-05-26 |

## Proposal

Remove properties **gcis:hasTemporalExtents** and **gcis:hasSpatialExtents** from the ontology.

## Background

**gcis:hasTemporalExtents** and **gcis:hasSpatialExtents** are defined in the ontology as way to state the temporal and spatial extents of a model run.

[code]

These

[2015-05-26 13:25] bduggan commented on #6
Datasets and model runs both have temporal and spatial resolutions, but the concepts are slightly different; the resolutions of model runs are parameters in addition to being attributes.  There is currently no instance data for model runs in GCIS but there are some narrative descriptions embedded [here](http://data.globalchange.gov/activity/0d40038a-nca3-cmip3-downscaled-r201304-process) and the R

[2015-05-26 13:42] bduggan commented on #8
These are stored as a postgres interval data, so the values in the turtle can be rendered in any format.

[2015-05-26 13:51] bduggan commented on #11
Sounds fine to me. :+1:

[2015-05-26 14:29] justgo129 commented on #9
I'm fine with leaving "meth" as is given your reasoning.

With regard to the general issue of using classes as properties, I agree 100% and the GCIS team definitely noticed it during the course of writing the turtle.  Usage of some of those terms arose because no better term (or use of a term) was readily available for illustrating the relationships.

[2015-05-26 14:37] zednis commented on #9
We need to find and remove all cases where a class is being used as a property.

[2015-05-26 14:42] justgo129 commented on #9
Yes, but I'll defer to my colleagues on this.  If we remove all cases where a class is being used as a property, we'll lose much information in the Turtle until other terms are either created or modified.  I'm uncomfortable with the idea of having to go back incrementally to add new/revised (but to be used correctly) terms.  In short, I'm fine with removing such cases of classes being used as prop

[2015-05-26 14:50] justgo129 commented on #10
It should be gcis:startedAt and gcis:endedAt, both of which have domains gcis:TemporalExtents and ranges xsd:dateTime.  Regarding questions 2 and 3 from @zednis, I wonder if I had used an earlier version of the ontology for this one.  Regardless, could we use gcis:startedAt and gcis:EndedAt for figures and images, or is dcterms:coverage really a preferred method (just asking as a point of informat

[2015-05-26 14:55] justgo129 commented on #9
Regarding the second request of the ticket, I'll rephrase.  Could you confirm that the term "Methodology" is one of the terms listed in http://sweet.jpl.nasa.gov/2.3/reprSciMethodology.owl# ?  I see it there but am unclear whether it is actually a separate entity.  Although a moot point given the nature of this discussion, I am still curious about it.

[2015-05-26 15:25] zednis commented on #9
@justgo129 from http://sweet.jpl.nasa.gov/2.3/reprSciMethodology.owl# on line 22

[code]

[2015-05-26 15:26] zednis commented on #9
I am going to create a separate ticket regarding updating the instance data to no longer uses classes as properties.

edit - the new ticket for the classes as properties issue is #12

[2015-05-26 15:31] zednis opened #12 "Update instance data to no longer use classes as properties"
There are a number of cases in the instance data where we are incorrectly using classes as properties.

**This is a pretty big problem and I think fixing it should take precedence over any and all suggested updates to the ontology.**  I think a large number of the suggested changes will become defunct once we fix the instance data.

Several of the suggested changes I have looked at are based more

[2015-05-26 15:35] zednis commented on #8
Right, I just did not understand where the assumption that the 'term' dcterms:SizeOrDuration required a specific time format came from.  It doesn't.

[2015-05-26 15:36] bduggan commented on #12
I agree.  Is there an automated way to discover all of these?
At [ldow2015](http://events.linkeddata.org/ldow2015/), there was a [paper](http://events.linkeddata.org/ldow2015/papers/ldow2015_paper_01.pdf) about fixing domain+range problems in triple stores. maybe there's something we can use from that..

[2015-05-26 15:37] zednis commented on #10
You use both.  you use dcterms:coverage to link the image or figure to an extent and you use gcis:startedAt and gcis:endedAt to describe the extent.

[2015-05-26 15:40] zednis commented on #12
I could probably write a script.

[2015-05-26 15:47] bduggan commented on #12
On Tuesday, May 26, Stephan Zednik wrote:

Sounds great.  This would be great to incorporate
into the unit tests.

Brian

[2015-05-26 15:49] justgo129 commented on #12
I really like the idea of a script, as it would be too taxing to perform manually.  What would the output of the script be - a list of all the flagged properties/classes arranged according to the the file name for their respective turtle templates?

[2015-05-26 15:52] zednis commented on #12
I would probably use python and rdflib to write the script.  It would load the instance data files into a graph and then check each statement to see if the property has type owl:Class or rdfs:Class.

In doing so it would probably lose the line number as it would be looking at the RDF graph in memory.

It could log the statement and the input file.

[2015-05-26 15:54] zednis commented on #12
A simpler first script would be to check for any statement properties that start with a capital letter.  That script would not be as thorough but would be faster to write and could spit out the line number.

note - RDF conventions are that classes start with capital letters and properties start with lowercase letters.  This script will catch cases where the properties and classes were named accord

[2015-05-26 16:00] bduggan commented on #12
I was thinking maybe there'd be a quick query against the [endpoint](http://data.globalchange.gov/sparql)...would save you the trouble of scraping everything...

[2015-05-26 16:02] zednis commented on #12
@bduggan  Good idea!  Are the ontologies also loaded into the endpoint?

[2015-05-26 16:26] zednis commented on #11
I have updated this request change to suggest using dct:temporal and dct:spatial instead of gcis:hasTemporalExtents and gcis:hasSpatialExtents, respectively.

[2015-05-26 16:43] bduggan commented on #12
No, do I need to do that from the backend?  By the way, [here](https://github.com/USGCRP/gcis-rdf/blob/master/import-gcis) is the script that drops and recreates the triple store.

[2015-05-26 16:48] zednis commented on #12
If we want to check the type of the property used in a statement the definition of the URI used as the property will have to be loaded in the triplestore.

The following query will print out a statement where a class is used as a property but only if the type of ?p is saved in the triplestore.

[code]

This means we will need to load the RDF for dublin core terms, gcis, prov, and any sweet ontolog

[2015-05-26 17:14] bduggan commented on #12
Okay.  the  list is [here](https://github.com/USGCRP/gcis/blob/master/lib/Tuba/Plugin/TubaHelpers.pm#L501).  Loading them is straightforward, but finding the turtle for the ontologies will take some investigation. (edit: updated link)

[2015-05-26 19:01] zednis commented on #12
Let's do the simple script that scraps content first.  That should give us a good first pass and it doesn't require us to find and load all the schema graphs.  It should also be easy to write in perl.

by convention:
- ex:foo ==> property
- ex:Foo ==> class

[2015-05-26 19:23] bduggan commented on #12
[Here](https://gist.github.com/bduggan/f34bc07d1afdf3c63055)'s a start.

[2015-05-26 20:26] #8 closed

[2015-05-26 20:26] justgo129 commented on #11
@zednis, I see that dcterms:spatial (http://dublincore.org/documents/dcmi-terms/#terms-spatial) has range:Location.  dcterms:Location has definition: "A spatial region or named place."  Does the delineation of various coordinates (for dcterms:Spatial) satisfy "a spatial region?"  I've been unable to locate a more specific meaning for "spatial region."

[2015-05-26 20:38] zednis commented on #11
@justgo129 are you asking if a bounding box would qualify as a spatial region?  Yes.

DC Terms does not provide a set of properties or attributes we must use to describe a location.  We can use any other vocabulary and attributes/properties as make sense to describe a location in our context.

There are some good examples from the User Guide/Publishing Metadata for Dublin Core in RDF (always a goo

[2015-05-26 20:41] zednis commented on #11
Really our only requirement is that the Location be a RDF resource and make sense semantically as some kind of location.

[2015-05-26 20:41] justgo129 commented on #11
Sure thing.  Yes, I'm inquiring about a bounding box, polygon, any vector-form geometric representation.  I'm happy to see this flexibility employed, and did not previously know about the wiki (thanks!).  I accept the suggested change.

[2015-05-27 14:26] aulenbac commented on #6
"Regarding the optional to use unionOf (option 4) - are there any instances that would have temporal or spatial resolution and are neither a dataset or model run?"

Reports, report chapters, report sections, report findings, images, figures, datasets, products derived from datasets such as GCIS arrays and tables, models, model runs, model scenarios, model experiments, model ensemble members, model

[2015-05-27 16:28] zednis commented on #6
I don't think it makes sense to say that a report, report chapter, report section, report finding, field experiment, platform, or instrument directly have spatial extents or spatial resolution.

A chapter or report finding may have a region as a topic, but the chapter itself does not have a spatial extent or resolution.

[2015-05-27 16:48] zednis commented on #6
I think spatially-mapped data has temporal resolution.  That should cover both sensor data and model output.

If the domain of this property was just Dataset and ModelRun was a subclass of Dataset then I think we would be set.

Which leads me to my next question - why is ModelRun not a subclass of Dataset?

[2015-05-27 16:58] zednis commented on #6
The one potential snag I can see is if for some reason we want to say that a satellite sensor has spatial resolution.  A satellite sensor definitely has optical/sensor resolution, but I am not sure it has spatial resolution.

A satellite can have a high-resolution optical sensor but for something to have spatial resolution I think it needs to be spatially mapped - and that only happens once the se

[2015-05-27 17:05] bduggan commented on #6
On Wednesday, May 27, Stephan Zednik wrote:

I'd be okay with this, though I think we are conflating a run and an
output of a run.  I think these terms are often used interchangably,
though, so our definition should reflect that.

Brian

[2015-05-27 17:56] zednis commented on #6
Currently a ModelRun is a subclass of prov:Entity, so I would say it is currently modeled as the output of a run and not as the run itself (which I would think would be modeled as a subclass of prov:Activity).

It definitely seems like there is currently some conflating of the run and the run output.

[2015-05-27 21:06] aulenbac commented on #6
"I don't think it makes sense to say that a report, report chapter, report section, report finding, field experiment, platform, or instrument directly have spatial extents or spatial resolution.

A chapter or report finding may have a region as a topic, but the chapter itself does not have a spatial extent or resolution."

I appreciate your confusion but it does make sense. Reports first. These ar

[2015-05-28 12:05] justgo129 commented on #6
Are we referring to a chapter as a porion of a written document or to the contents of that document?  i.e. the "this is not a pen" example.  I'd think one would have spatial extents, the other wouldn't.  The GCIS Ontology suggests the former rather than the latter definition.

Steve, I agree with you.  I think we should table this discussion until we have our tag up on Tuesday.

[2015-05-28 12:07] justgo129 commented on #6
"Contents of that portion of the document," I mean.

[2015-05-28 14:05] aulenbac commented on #6
We should continue the discussion here. I'm flying Tuesday.

[2015-05-28 14:27] aulenbac commented on #6
Unfortunately, resolution is one of those overloaded terms. To me, sensor resolution is the smallest measurement the sensor can reliably capture. Sensor resolution is usually defined in engineering units. It is tied to the sensor hardware itself. When I think of spatial resolution I think of either the smallest unit data is provided in (e.g, meters, a 0.5 x 0.5 degree box, etc.) or, iff dealing wi

[2015-05-28 14:31] aulenbac commented on #9
Do we have a requirement to use SWEET? Quoting the website "SWEET 2.3 is highly modular with 6000 concepts in 200 separate ontologies."

[2015-05-28 14:40] bduggan commented on #6
I find @aulenbac's examples convincing: just as the spatial/temporal characteristics for a dataset are not about the representation (i.e. the bits on a disk), various publications <i>may</i> have spatial/temporal attributes which are unique to the publication.  On the relational side, there's currently some redundancy with lat/lon etc fields in multiple tables which should probably be refactored.

[2015-05-28 14:55] justgo129 commented on #9
(Apologies if this is a duplicate.  I answered the thread using e-mail but I don't see that comment here.)

 There is no requirement to use SWEET.  Feel free to search for other terms.  The rationale behind using SWEET is that it contains terms about experimentation, scientific method, and broad topics of study which I haven't seen in other ontologies or in wikipedia/dbpedia, or for which the defi

[2015-05-28 15:04] justgo129 commented on #6
While I agree with @aulenbac and @bduggan, I am wondering if those in the Semantic Web community not involved with the production of GCIS would also broach some of the questions initially asked by @aulenbac.  I am thinking that having something like "gcis:contentofWhichHasSpatialExtent" in-lieu of "hasSpatialExtent" (clearly something shorter though) could alleviate some of the confusion while add

[2015-06-01 17:11] zednis commented on #11
Closed with #13

[2015-06-01 17:11] #11 closed

[2015-06-01 17:24] zednis commented on #6
I think this discussion has migrated away from what has temporal/spatial resolution to what has temporal/spatial coverage.

As for spatial coverage - I think geosparql has influenced my thinking and it would probably be a good idea for the group to take a look at geosparql to:
1. use as an option for describing the geometry of spatial coverages (bounding boxes, points, polygons, etc) as opposed to

[2015-06-01 17:27] zednis commented on #6
Geosparql links
- http://www.semantic-web-journal.net/sites/default/files/swj176_0.pdf
- http://www.ssec.wisc.edu/meetings/geosp_sem/presentations/GeoSPARQL_Getting_Started%20-%20KolasWorkshop%20Version.pdf
- http://www.opengeospatial.org/standards/geosparql

[2015-06-01 17:40] zednis commented on #7
I have a feeling we can use PROV to guide our relationships here.  We have already updated the instance data to use a PROV qualified association with the software agent and the methodology (as a plan).  See #9.

[2015-06-01 20:22] zednis opened #14 "Z2. Add startDate and endDate properties with range xsd:date"
We currently have **gcis:startedAt** and **gcis:endedAt** properties with range dateTime.  If we use these properties for general dates we are forced to include a time value along with the date (e.g. "2012-01-01T00:00:00" when we only want to say "2012-01-01").  I think this may create artificial precision when we just want to talk about a date.  It also forces us to use conventions for dateTime t

[2015-06-02 12:01] justgo129 commented on #14
I am fine with this.

[2015-06-08 23:02] zednis commented on #14
| Change Proposal | Z2 |
| :-- | :-: |
| Point of Contact | @zednis |
| Date | 2015-05-26 |

## Proposal

Add **gcis:startDate** and **gcis:endDate** datatype properties with range xsd:date to the ontology.

## Background

The existing **gcis:startedAt** and **gcis:endedAt** properties have range xsd:dateTime.  This causes us to have to encode time information in cases were nothing more than the d

[2015-06-09 12:35] bduggan commented on #14
If we just assume that a time of 00:00:00 GMT means that there is no time information then this is straightforward.   This is probably the case for many of our current datasets.  There is a bigger issue of temporal resolution beyond the '1 day' resolution.  Some datasets have measurements taken weekly, monthly, yearly, biweekly, whatever.  We can sometimes obtain and store this information, but wi

[2015-06-09 12:48] bduggan commented on #14
Two examples:
http://data.globalchange.gov/dataset/nasa-nsidcdaac-0007

http://data.globalchange.gov/dataset/nasa-podaac-remss-l2p_gridded_25-wsat
http://podaac.jpl.nasa.gov/dataset/REMSS-L2P_GRIDDED_25-WSAT
http://podaac.jpl.nasa.gov/ws/metadata/dataset/?datasetId=PODAAC-GHWST-2GR01&format=gcmd

In both of these the start/end dates are only provided as dates, so I think your proposed change is fi

[2015-06-09 14:30] rewolfe commented on #14
I think this should be okay for the start/end date of datasets.

If we need to specify individual granules (or scenes) or time slices (e.g.
a specific 3 hour period in a weather forecast) we will need the time of
day resolution.  However, I can't think of a specific case where this might
be relevant to GCIS.

On Tue, Jun 9, 2015 at 8:48 AM, Brian Duggan notifications@github.com
wrote:

##

Robert

[2015-06-09 15:23] aulenbac commented on #14
It is relevant to GCIS. It is relevant to the science. GCIS is a tool to aid people making science-based decisions. Examples? Think of any question which addresses a diurnal cycle -- changes in stream flow or forest respiration or particulate levels or carbon monoxide levels or traffic patterns and so on. Or any query which needs to know if a peak or trough event occurred within the period of reco

[2015-06-09 15:42] zednis commented on #14
@aulenbac adding the proposed properties is not dumbing down the system and still uses date information expressed in ISO-8601.

We are not losing any current expressivity but introducing a property that can be used to express dates without the convention that dates with no time information are expressed as datetime values with "00:00:00" time components.

I feel that in cases where we only wish to

[2015-06-09 17:35] bduggan commented on #14
On Tuesday, June  9, Stephan Zednik wrote:

Agreed.  Generally, the 00:00:00 is incorrect since it was not
in the original data.  There may be some additional changes to
the relational model to support making the distinction and preserving
fidelity in the instance data, but I think adding xsd:date to the
ontology is the right thing to do.

Therefore :+1:

Brian

[2015-06-09 18:35] zednis commented on #14
I updated the issue name to reduce confusion.

[2015-06-09 19:41] rewolfe commented on #14
Yes, +1

On Tue, Jun 9, 2015 at 1:35 PM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-06-10 14:37] bduggan opened #16 "J2. Anchor tags and HTML build process"
The rendered ontology at <http://data.globalchange.gov/gcis.owl> does not have proper support for anchor tags, e.g. this

 http://data.globalchange.gov/gcis.owl#Dataset

doesn't jump to this section of the page:

 http://data.globalchange.gov/gcis.owl#d4e1684

[2015-06-10 14:40] justgo129 commented on #16
Good point.  It's also in the ontology improvements document so we can cross it off when resolved.

[2015-06-16 16:13] xgmachina commented on #16
Some useful information: http://www.w3.org/TR/swbp-vocab-pub/

[2015-06-16 18:58] zednis commented on #6
I will create a new ticket for the discussion around Model, ModelRun, ModelOutput, and Dataset.

[2015-06-16 19:10] zednis opened #17 "Model, ModelRun, model output, and Dataset"
There was some question today on the relationship between Model, ModelRun, Dataset, and model output.

From the current GCIS ontology:
[code]
No class or property exists with the name "model output."

Right now ``gcis:ModelRun`` is a subclass of ``prov:Entity`` and the output from a 'model run' activity.  We do not have any classes that specifically represent the activity of running the model.  We

[2015-06-16 19:53] #14 closed

[2015-06-16 20:54] zednis commented on #7
Here is what the example instance data looks like after the recent updates to the RDF-generation templates:

[code]

In this example we still need to look at the modeling of:
- [ ] activity output files
- [ ] computing environment
- [ ] possible classes to use for value of `dcterms:extent`relationship
- [ ] label on the software (is this more than 1 software instance?)

[2015-06-16 21:14] zednis commented on #7
I think we should represent the output files as PROV entities and reference them using `prov:generated`.

Here is an example of doing that where we do not have to mint a URI for each output file.

[code]

and here is an example where we mint a URI for each output file:

[code]

[2015-06-16 21:30] justgo129 commented on #7
I like this approach but it will also require creating a term for gcis:File since the ontology currently lacks it.  Actually, doing so may inform the turtle for "files," e.g.:
https://data.globalchange.gov/file/9bdd68ab-4b90-4ad9-b043-fedb7e564184.thtml

Note that we use fabio:ComputerFile here.  If we go with the suggestion of @zednis could we relate the new gcis:File with fabio:ComputerFile to i

[2015-06-16 21:33] zednis opened #18 "possible update gcis:hasVersion"
The domain of ``gcis:hasVersion`` is ``gcis:Model``.

[code]

From the property's comment it is clear this property is intended specifically for the model version, but it has a very broad name and label.

I think we should do one of the following:
1) updating the property to be ``gcis:modelVersion``
2) broadening the definition of ``gcis:hasVersion`` to not be just for model versions
3) removing t

[2015-06-16 21:37] zednis commented on #7
@justgo129  I think it would be fine to use `fabio:ComputerFile` directly in the instance data.

edit: so in my example replace `gcis:File` with `fabio:ComputerFile`.

[2015-06-16 22:28] justgo129 opened #19 "More on SHA-1s"
Given today's discussion, I've noticed that foaf:sha1 is a property.  However, the description implies that this term is "unstable" and "not coherent."  @zednis , please clarify what this means and advise whether that would be an acceptable replacement for dbpedia:SHA-1 in our context of computer files.

See:
http://xmlns.com/foaf/spec/#term_sha1
https://data.globalchange.gov/file/9bdd68ab-4b90-4a

[2015-06-17 14:02] rewolfe commented on #18
I agree that the version domain should be for more than just the model.  It
is also applicable to datasets and activities (e.g. software version).

On Tue, Jun 16, 2015 at 5:33 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-06-17 14:05] bduggan commented on #7
I think we do not want URIs in GCIS for these individual files.  These
files are actually often not available to us and we don't want
to take on the role of long term curation of them.  They are
'owned' by the organization/people that produced them (hi, @abuddenb),
and I think storing coarse information that describes them
(as provided by whoever generated them) is the best we can do.

I'm even a

[2015-06-17 14:17] zednis commented on #7
Then perhaps we should remove that information from the RDF.

[2015-06-17 14:23] bduggan commented on #18
My impression is that model versions are very distinct from one another,
so much so that the versions are often built into the identifiers.
Different model versions may have different attributes. Some examples
are at http://data.globalchange.gov/model and also
the draft health report [appendix](http://www.globalchange.gov/health-assessment),
table A1.5.

For these reasons "modelVersion" may be mor

[2015-06-17 14:29] bduggan commented on #7
I suppose, unless there is nice way to describe a collection of labels for output artifacts generated by an activity?

[2015-06-17 14:34] zednis commented on #7
The preferred way to describe a collection of labels for output artifacts in PROV was the posted example.

edit: there are no datatype properties in PROV to reference entities as strings and there are no datatype properties to reference delimited collections of labels.  If you want to record an input or output to an activity you make it an entity and in RDF that means it has to be a resource.

[2015-06-17 14:56] bduggan commented on #7
That representation (the first one) looks good but splitting the field up into filenames consistently (and identifying that the field contains filenames) may be a challenge (e.g. see [this example](http://data.globalchange.gov/activity/ef839340-grace-process), which has labels like "Data Files:" in the field, so we can't just split on \n\r)

[2015-06-17 15:09] zednis commented on #7
Yeah, that was a problem with the example I used as well as there was one line with two files delimited by a space and a different file on another line that included a space in the filename.

If we want to proceed with these output files in the RDF going forward there may have to be updates to the form used to gather the data.

[2015-06-17 15:21] abuddenb commented on #7
You do not.  Those files are ephemeral; what's the point of assigning an identifier to an object that is likely inaccessible, outdated, or missing.  On the other hand, if we could point to a commit / release in a version control system, that would be more durable--and it comes with its own identifier.

Perhaps this data should be collected in a more structured manner?

[2015-06-17 15:34] bduggan commented on #7
On Wednesday, June 17, Andrew Buddenberg wrote:

Yes, agreed, with notions of input files, output files, programs,
URLs, versions (commits?) etc.

The existing representation is much much better than nothing
but is still basically a narrative blob; it is a decent
first cut.

[2015-06-17 17:10] zednis commented on #18
How about option 3, removing the `gcis:hasVersion` from the ontology and using `dcterms:hasVersion` in the RDF?

edit: `dcterms:hasVersion` does not currently have a range and is not specified as an object property or as a datatype property.  How about we keep `gcis:hasVersion` as we have specified it as a datatype property with range of string and instead remove the domain entirely so anything ca

[2015-06-17 17:30] rewolfe commented on #7
+1: Narrative blob

Let's leave this at a more general level and not try to get too much
detail. We already have trouble collecting activity information and don't
need to make it more difficult.

On Wed, Jun 17, 2015 at 11:34 AM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-06-17 17:34] zednis commented on #7
In that case I would recommend a new datatype property in the gcis ontology such as `gcis:descriptionOfOutputFiles`.  Make it clear this is narrative and a literal value that describes a collection of files.

[2015-06-17 17:54] zednis commented on #7
For computing environment, I found the property `dbpedia-owl:computingPlatform` that I think is close to what we want to say - but it is an object property so we would need to use it with resources and not string values.  Also, the domain of the property is `dbpedia-owl:Software`, so we would want to associate it not with the activity but with the software agent associated with the activity.

http

[2015-06-17 18:35] bduggan commented on #18
On Wednesday, June 17, Stephan Zednik wrote:

"A related resource that is a version, edition, or adaptation of the described resource."

Would this mean that we would be undertaking to trace which models are versions of which other models?  That would be interesting but could be hard (e.g. is [CCSM4](http://www.cesm.ucar.edu/models/ccsm4.0/) a version of CESM1?) Another notion of version would jus

[2015-06-17 18:44] bduggan commented on #7
On Wednesday, June 17, Stephan Zednik wrote:

Sounds good.

[2015-06-17 18:47] zednis commented on #19
I would not use `foaf:sha1` because of its instability.

`dbpedia:SHA-1` is an instance, not a property.  we could use it as the object of a property used to designate which hash function was used.

What we want is a property for cryptographic hash or similar.  If we can't find one (looking around now) we could define our own.

here is an example:

[code]

`dbpedia:MIME` is also a resource/instanc

[2015-06-17 19:08] zednis commented on #18
@bduggan good catch.  On further look it appears that the `dcterms:hasVersion` is similar to the frbr and fabio relationships  that connect (work -> expression -> manifestation -> item) and is not a simple datatype to express version information.

With this in mind I would not recommend using `dcterms:hasVersion`.

We could use `<http://dbpedia.org/property/version>` (see http://dbpedia.org/data4/

[2015-06-17 19:13] bduggan commented on #18
On Wednesday, June 17, Stephan Zednik wrote:

That looks good.

[2015-06-17 19:18] justgo129 commented on #18
fine here

On Wed, Jun 17, 2015 at 3:13 PM, Brian Duggan notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1717 Pennsylvania Ave NW, Suite #250
Washington, DC 20006

O: (202) 419-3496
M: (202) 285-3005

e-mail: jgoldstein AT usgcrp Dot gov
http://www.globalchange.gov

[2015-06-17 19:32] rewolfe commented on #18
Looks good.

On Wed, Jun 17, 2015 at 3:18 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-06-18 14:05] aulenbac commented on #19
Just curious: do we want and/or need a cryptographic hash in the GCIS ontology? Do we have a sense of how and when this would be used as part of an ontology? @abuddenb and @bduggan, what are your thoughts?

[2015-06-18 14:31] abuddenb commented on #19
In the context of input and output files?  It would ensure the highest level of traceability but I worry about the practicality of collecting it--same issues as assigning identifiers to files.  Also, not everyone uses SHA1.

[2015-06-18 14:42] zednis commented on #19
Cryptographic hashes (any function) can be collected and included in the RDF on a best-effort basis.

With the modeling above we can also support other hash function types, the templates will just have to have enough information to disambiguate different hash function types.

[2015-06-18 23:59] congruili commented on #17
I could not locate prov:ModelRun in the "prov" namespace.

http://www.w3.org/TR/prov-o/

Do you mean something else?

[2015-06-19 00:17] zednis commented on #17
Edit: I found and corrected my typo in the previous post.  Thanks @lic10

[2015-06-23 18:06] zednis commented on #18
I propose the following changes:
1) remove `gcis:hasVersion` from the GCIS ontology
2) update the RDF templates to use `<http://dbpedia.org/property/version>` (I need to check on the prefix)

edit - I think there is already general agreement on this, I just wanted to make the proposed change official.

[2015-06-23 19:17] zednis opened #22 "B2. iterate on gcis:accessURL"
from the GCIS Ontology Proposed Changes google doc:

Don’t understand the inclusion of word “download” in the definition for gcis:accessURL given the existence of gcis:downloadURL.  Therefore, clarify the distinction.

from current gcis.ttl:
[code]

From my reading of the properties I think the author was trying to replicate the definitions of the similarly named ``dcat:accessURL`` and ``dcat:down

[2015-06-23 20:00] bduggan commented on #18
:+1:

[2015-06-23 20:05] justgo129 commented on #18
I'm fine with it, but could someone confirm that the domains/ranges of <
http://dbpedia.org/property/version> match our instance data?  I don't see
one listed there.  Explicitly, are both floats and integers encompassed?

On Tue, Jun 23, 2015 at 4:00 PM, Brian Duggan notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US

[2015-06-23 20:16] zednis commented on #18
@justgo129 This is what I got when I asked for the RDF of the property:

[code]

It does not have a domain or range and is defined as a rdf:Property so it can be treated as an owl:ObjectProperty or owl:DatatypeProperty.  it can have any rdfs:Literal as a value.  The downside of this that it does not conform to OWL-DL.

If we want to use a property that confirms to OWL-DL then we should define the

[2015-06-23 20:38] justgo129 commented on #18
Excellent.  I'm fine with this then if @bduggan and @aulenbac are.  Your
explanation answered my question, Stephan -- thanks.

On Jun 23, 2015 4:16 PM, "Stephan Zednik" notifications@github.com wrote:

[2015-06-24 00:20] xgmachina commented on #6
Did we find a solution to this issue? If we still want to retain those two properties, I would suggest we remove the assertions of domain.

[2015-06-24 00:52] xgmachina commented on #17
How about create a new class `gcis:ModelRunOutput` as a subclass of `prov:Entity` and `gcis:Dataset`. And change `gcis:ModelRun` as a subclass of `prov:Activity`?

[2015-06-24 00:56] xgmachina commented on #18
+1

[2015-06-24 01:02] xgmachina commented on #22
hi @zednis Yes I adapted the definitions from DCAT. Did not reuse the DCAT properties directly because the assertions of domain and range.

[2015-06-24 15:26] congruili commented on #17
That could work.

[2015-06-24 16:18] zednis commented on #16
For reference the OWL HTML documentation was generated using the Live OWL Documentation Environment - http://www.essepuntato.it/lode

We should probably also include this HTML in the repository and update it each time we make a change to the ontology.

[2015-06-24 16:28] bduggan commented on #16
It would be great to have that; I could then include the latest tagged version whenever there is a new GCIS release.

[2015-06-24 18:32] zednis commented on #16
I'll work with @lic10 to add doc/gcis.html to this repository based on the most current version of the ontology in github.  For now we'll have a convention to re-generate the HTML every time we update the ontology.  I'll also look into github hooks that might be able to do that for us automatically

edit - while working on the versioned HTML we will make sure the anchor tags work as desired.

[2015-06-24 18:36] bduggan commented on #16
Great!

[2015-06-24 20:18] aulenbac commented on #19
Agreed it can be collected on a best-effort basis but do we want and/or need it? How and when would a user use a cryptographic hash as part of an ontology? @abuddenb makes several good points. Do we need to support other hash types in either the relational or the semantic model? I am certainly fine if we feel this is needed. I am thinking about what we need to support it.

[2015-06-24 20:30] zednis commented on #19
I believe the use case would be to support verification of the authenticity of the download file mentioned in the RDF - much like md5 hashes are used on many open source download pages.

I do think we should consider if that is in an important use case to support.

If this is our use case we need to be able to ensure that the SHA1 (or other) hash is updated every time the associated file is update

[2015-06-25 00:41] lic10 opened #24 "J1. IRI for organization ontology"
The IRI for organization ontology seems to be incorrect as listed at the page at http://data.globalchange.gov/gcis.owl .That page lists the IRI of http://www.w3.org/ns/org/ but per Section 4 ("Namespaces") of the page at http://www.w3.org/TR/vocab-org/ it is http://www.w3.org/ns/org#

[2015-06-25 00:58] lic10 opened #25 "J5. definition of "Scenario""
Revisit definition for http://data.globalchange.gov/gcis.owl#d4e2042 to ensure continued accuracy.  This URL points to "Scenario" in the GCIS Ontology.

[2015-06-25 13:04] justgo129 commented on #24
Thanks for taking this on.

[2015-06-25 13:45] rewolfe commented on #19
USGCRP regularly distributes reports (e.g., the National Climate
Assessment) and images for which a sha1 hash is used to verify the
integrity of the transfer from the archive to the user.  The turtle
(ontology) serialization should support this just like a yaml or json
serialization.

On Wed, Jun 24, 2015 at 4:30 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USG

[2015-06-25 14:40] justgo129 commented on #25
I think this will be of assistance:
http://scenarios.globalchange.gov/content/scenarios

But I'd be hesitant to link anything directly to the NCA3 to minimize later improvements to the ontology.

[2015-06-25 15:46] zednis commented on #25
Looking at the ontology I noticed a typo in `gcis:describesScenario`.  Proposing fix with #26

[2015-06-25 15:50] zednis commented on #25
1) Should we change the name of `gcis:isDescribedIn` to be less general?  It is specific to scenarios and reports which would not be clear from the name/URI or label.

2) Should `gcis:describesScenario` and `gcis:isDescribedIn` be inverse properties?

[2015-06-25 15:57] zednis commented on #25
@justgo129 has mentioned in #26 that the domain and ranges of the properties should probably be re-evaluated.  I agree with him on this.

[2015-06-25 16:21] justgo129 commented on #25
I'm fine having gcis:describesScenario gcis:isDescribedIn be inverse properties.

[2015-06-25 16:24] justgo129 commented on #25
fyi I just fixed another xsd:Scenario.
https://github.com/USGCRP/gcis-ontology/pull/27
https://github.com/USGCRP/gcis/pull/180

[2015-06-30 13:40] congruili commented on #24
We should just change the IRI into http://www.w3.org/ns/org# in production.

[2015-06-30 18:13] zednis commented on #22
In the interest of compatibility and reuse of widely known vocabularies, would it make sense for us to adopt `dcat:accessURL` and `dcat:downloadURL`?  If we do this we would have to update the templates to include distributions for datasets.

[2015-06-30 18:24] zednis opened #28 "Possible updates to describesScenario property"
proposal:
1) remove domain from ``gcis:describesScenario``
2) rename ``gcis:isDescribedIn`` to ``gcis:scenarioDescribedIn``
2) remove range from ``gcis:scenarioDescribedIn``
4) make ``gcis:describesScenario`` and ``gcis:scenarioDescribedIn`` inverse properties

[2015-07-01 16:01] justgo129 commented on #24
Fine with me.

[2015-07-01 16:11] justgo129 commented on #22
I like this idea.  Team, given that dcat:accessURL and dcat:downloadURL have domain dcat:Dataset (http://www.w3.org/TR/vocab-dcat/#Class:_Dataset), can we confirm that every dataset in GCIS qualifies as a dcat:Dataset, thereby allowing use of these properties?  Would we need to redefine gcis:Dataset a subclass (or owl:sameAs) as a dcat:Dataset?  Would that be problematic for the other dataset prop

[2015-07-01 16:29] xgmachina opened #29 "TBD"
TBD

[2015-07-01 16:30] xgmachina commented on #29
The URL to the ontology is not accessible. I found a new URL for reprSciMethodology.owl
http://sweet.jpl.nasa.gov/filebrowser/download/2210
And the class Methodology is in it.

[2015-07-01 16:32] xgmachina opened #30 "TBD"
TBD

[2015-07-01 16:34] xgmachina commented on #30
RDF in https://data.globalchange.gov/activity/0158fa86-nca3-ghcn-daily-r201305-process.ttl.
[code]

[2015-07-01 16:38] zednis commented on #30
Is this a duplicate with #7?

[2015-07-01 16:38] xgmachina commented on #30
Yes. I will delete this one.

[2015-07-01 16:39] zednis commented on #29
Is this a duplicate with #9 ?

[2015-07-01 16:44] #30 closed

[2015-07-01 16:45] #29 closed

[2015-07-01 16:55] zednis commented on #22
@justgo129 `dcat:accessURL` and `dcat:downloadURL` have domain `dcat:Distribution`.  Also, the DCAT properties are object properties whereas the GCIS properties are datatype properties.

current:

[code]

with DCAT:

[code]

The DCAT model allows a dataset to have multiple distributions (serializations) which can each have different access or download URLs.

[2015-07-01 16:59] zednis commented on #22
DCAT does include a `dcat:landingPage` property which has domain `dcat:Dataset` as a more general dataset-level relationship.

definition: _A Web page that can be navigated to in a Web browser to gain access to the dataset, its distributions and/or additional information._

[code]

This might make more sense for GCIS accessURLs since they were (presumably) collected at the dataset-level.

[2015-07-01 17:02] justgo129 commented on #22
@aulenbac @rewolfe what do you think?

[2015-07-01 17:47] xgmachina opened #31 "B.1. Dates relevant to the lifecyle of a dataset"
The google doc item B.1.:
Apply any Dublin Core terms (http://purl.org/dc/terms) or existing GCIS ontology terms to reflect the access and release dates of datasets.

[2015-07-01 17:51] rewolfe commented on #22
I think this is fine for a landing page url.

On Wed, Jul 1, 2015 at 1:02 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-01 17:56] xgmachina commented on #31
Dublin Core terms (http://purl.org/dc/terms) has a few date properties that apply to Dataset: `date`, `dateAccepted`, `dateCopyrighted`, `dateSubmitted`.
Schema.org (http://schema.org/Dataset) also has a few date properties for Dataset: `dateCreated`, `dateModified`, `datePublished`. It also has a property `releasedEvent` which points to a `PublicationEvent`.
I think a purpose here is to record da

[2015-07-01 18:06] zednis commented on #31
for reference an RDF schema of schema.org terms is available at http://schema.rdfs.org/all.ttl

[2015-07-01 18:08] zednis commented on #31
What is the scenario / use case for encoding the access date of a dataset?  That may be a case where we can leverage PROV.

[2015-07-01 18:18] xgmachina commented on #31
I am also curious about this. @justgo129 do you have any comments or user stories on the `accessDate` of Dateset?

[2015-07-01 18:38] zednis opened #32 "D1. Definition of gcis:Publication"
Definition of gcis:Publication is “A bounded physical representation of a body of information designed with the capacity (and usually intent) to communicate, and which has been made available to the public.”  Does a publication necessarily have to be bounded and physical?

[2015-07-01 18:39] zednis opened #33 "D2. property for publication year"
from https://docs.google.com/document/d/1KSfdbp9Nf1kzuvoAtWo3Qhs_m-ocuafpIv9nSM3YlPA/edit

[2015-07-01 18:46] zednis opened #34 "D3. Should we add Book, Webpage, Article, and Journal as subclasses of Publication?"
Since we have gcis:Report, gcis:Image, and gcis:Figure, should we also have gcis:Book, gcis:Webpage, gcis:Article, and gcis:Journal, and make these all subclasses of their respective terms in the bibo ontology?

[2015-07-01 19:13] zednis opened #35 "I1. Instruments and Lexicons"
Create terms for “instrument_instance” and possible for “lexicon”

examples:
- https://data.globalchange.gov/platform/defense-meteorological-satellite-program-f-11/instrument/special-sensor-microwave-imager
- https://data.globalchange.gov/lexicon/echo
- https://data.globalchange.gov/lexicon/ceos

Additionally, we are currently using dbpedia:Lexicon and skos:Concept for lexicons; is that an accurat

[2015-07-01 19:18] zednis commented on #35
I am not sure if this is still an issue after some of the recent changes we have made to lexicons.  For example, we are now using type `skos:ConceptScheme` for lexicon instances in RDF instead of `skos:Concept`.

@justgo129 Can you confirm that this issue is still unaddressed?

[2015-07-01 19:19] zednis opened #36 "I3. representing "Also known as" in lexicons"
Please create something for “also known as” (see e.g. http://data.globalchange.gov/instrument/topex-microwave-radiometer)

[2015-07-01 19:23] zednis commented on #36
@justgo129 Can you provide more information on the problem?

Also, there is currently a "Also known as" section in the generated RDF.

from http://data.globalchange.gov/instrument/topex-microwave-radiometer.thtml

[code]

[2015-07-01 19:40] justgo129 commented on #35
Sure.  The instrument_instance issue is still unaddressed.  Please also
inform whether dbpedia:Lexicon is still an acceptable term (to couple with
a skos:ConceptScheme).  e.g.
https://data.globalchange.gov/lexicon/ceos.thtml

On Wed, Jul 1, 2015 at 3:18 PM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinato

[2015-07-01 19:43] justgo129 commented on #36
Sure.  The issue was representing the "also known as" representation in the
html.  See:
http://data.globalchange.gov/instrument/topex-microwave-radiometer

on the bottom left above "instrumentID 763".

I believe recent changes have made this moot.  e.g.:
http://data.globalchange.gov/instrument/topex-microwave-radiometer.thtml

Please confirm, and if so, feel free to close.

On Wed, Jul 1, 2015 at

[2015-07-01 19:54] zednis commented on #35
1) Could you rephrase the instrument_instance issue?

2) Having looked at the RDF for dbpedia:Lexicon (see http://dbpedia.org/data/Lexicon.n3), it seems that `dbpedia:Lexicon` is not a `rdfs:Class` or `owl:Class`.  It is simply an RDF instance and not intended to be used as a type.

It is my recommendation that we remove the `... rdf:type dbpedia:Lexicon` statement from the generated RDF.

[2015-07-01 19:58] justgo129 commented on #35
Sure.

GCIS has instrument_instance(s), which is a pairing of a platform and
instrument.
e.g.:
https://data.globalchange.gov/platform/defense-meteorological-satellite-program-f-11/instrument/special-sensor-microwave-imager

https://data.globalchange.gov/platform/defense-meteorological-satellite-program-f-11/instrument/special-sensor-microwave-imager.thtml

We'll need to capture this somehow in the

[2015-07-01 20:04] zednis commented on #35
Ah, ok.

First, is an RDF individual that describes an instrument describing a model of instrument or a specific physical object?

example - http://data.globalchange.gov/instrument/special-sensor-microwave-imager.thtml

[2015-07-01 20:06] justgo129 commented on #31
Sorry, I don't have any use cases although I definitely see the importance of getting this right.  I'll defer to @aulenbac

[2015-07-01 20:08] justgo129 commented on #31
@xgmachina in your comment beginning with "Dublin Core terms," are you asking for @aulenbac and me to review the properties that exist in the gcis ontology or those in dublin core?

[2015-07-01 20:10] justgo129 commented on #35
A specific physical object.  @rewolfe could you elaborate further on the characteristics of instrument instances?

[2015-07-01 20:12] zednis commented on #35
@justgo129 do you know what template was used to generate the RDF for https://data.globalchange.gov/platform/defense-meteorological-satellite-program-f-11/instrument/special-sensor-microwave-imager.thtml ?  This is another case of using classes as properties and I will need to create a ticket in the gcis repo and suggest updates to the templates.

[2015-07-01 20:15] justgo129 commented on #35
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/instrument_instance/object.ttl.tut

With respect to using classes as properties, I believe that resolving the
issue labeled I1 on the aformentioned document will also resolve other
items under category I in the document.

On Wed, Jul 1, 2015 at 4:12 PM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.

[2015-07-01 20:16] rewolfe commented on #35
Stephan,

Yes, an instrument/platform instance is something physical.  For example
MODIS is a type of instrument.  MODIS/Terra and MODIS/Aqua are two physical
instruments one on the Terra platform and the other on the Aqua platform.

 -Robert

On Wed, Jul 1, 2015 at 4:12 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-01 21:09] zednis commented on #35
@rewolfe @justgo129

I think you misunderstood my question.  I was referring to RDF instances with type `gcis:Instrument`.  Are they resources that represent physical objects or types?

example - http://data.globalchange.gov/instrument/moderate-resolution-imaging-spectroradiometer.thtml

Based on your answers and looking at the current RDF an instance of type `gcis:Instrument` is not a physical ob

[2015-07-01 21:55] zednis commented on #35
The original request makes more sense now, because currently instances of `gcis:Instrument` do not represent physical objects but more specific _instrument types_.

We should review the domain and range of [`gcis:inPlatform`](http://data.globalchange.gov/gcis.owl#d4e558) and [`gcis:hasInstrument`](http://data.globalchange.gov/gcis.owl#d4e313) to see if they make sense.

| lay term | type | URI |
|

[2015-07-02 02:29] xgmachina commented on #35
I prefer the option 1 proposed by @zednis. This is same to what we do with data types in another project. It avoids adding subclasses to `gcis:Instrument`. Users can add instances of `gcis:InstrumentType`, and can also use those instances as tags of a `gcis:Instrument` instance.

[2015-07-02 02:47] xgmachina commented on #31
@justgo129 and @aulenbac I reviewed the gcis ontology and found we used `dct:issued` and `dct:modified` to describe datasets. The two properties both represent dates according to their labels 'Date Issued' and 'Date Modified'. And I even found more date relevant properties `dct:created`, `dct:available`, and `dct:valid`. They just do not have 'date' in the property name but all have 'date' in the

[2015-07-02 13:47] justgo129 commented on #35
Interesting discussion.  Just to ensure that I understand @zednis and @xgmachina , the proposed solution (option number 1) is as follows:

Consider what we call an "instrument_instance"
   e.g.: http://data.globalchange.gov/platform/aqua/instrument/moderate-resolution-imaging-spectroradiometer
  as a gcis:Instrument

Consider what we call an "instrument"
  e.g. http://data.globalchange.gov/instrum

[2015-07-02 15:39] zednis commented on #35
@justgo129 that is correct

[2015-07-02 15:41] xgmachina commented on #35
+1
http://data.globalchange.gov/platform/aqua/instrument/moderate-resolution-imaging-spectroradiometer  represents the physical object of the MODIS instrument on Aqua.
http://data.globalchange.gov/instrument/moderate-resolution-imaging-spectroradiometer represents the general MODIS instrument, which is regarded as a type.

[2015-07-02 16:05] xgmachina commented on #34
If there are instance records of those classes in GCIS, or potential of them in the future, I will support to add them.

[2015-07-02 16:07] justgo129 commented on #34
We have all those.

[2015-07-02 16:11] xgmachina commented on #33
@zednis do you mean the range of publication_year or a property for it?

[2015-07-02 16:14] xgmachina commented on #32
This definition was copied from `bibo:Document`. We can consider an update to cover online and digital publicaitons.

[code]

[2015-07-02 16:17] justgo129 commented on #32
I'm curious as to what "bounded" really means.  Within which constraints is it bounded?  Or, does bibo mean physically "bound?"  I ask because of the widespread use of electronic resources.

[2015-07-02 16:23] zednis commented on #33
Err, the text in the first comment is pulled directly from the ontology suggestion google doc.  I have updated the comment to make the source of the issue more clear.

As for the request - my guess is there is a desire for something like this:

[code]

I think this is sensible and I would approve of its addition if we cannot find a suitable property in a commonly used publication-related vocabular

[2015-07-02 16:24] justgo129 commented on #33
Meant as a property for it, similar to the latest example by @zednis

[2015-07-02 16:33] xgmachina commented on #32
Perhaps it means 'complete', or 'versioned'?

[2015-07-02 16:34] zednis commented on #32
I am not a fan of the definition from bibo.

The bibo ontology also states that `foaf:Document` is an equivalent class to `bibo:Document`

foaf document has the following definition with a note:

**definition:** _The Document class represents those things which are, broadly conceived, 'documents'._

**note:** _We do not (currently) distinguish precisely between physical and electronic documents, o

[2015-07-02 16:34] zednis commented on #32
I think we should change the definition for `gcis:Publication` so our intent is clear.

[2015-07-02 16:41] xgmachina commented on #33
`dct:issued` has a meaning close to 'date published', but not specifically 'year'. So if we address 'year' I will support @zednis

[2015-07-02 16:44] zednis commented on #33
@xgmachina I reached the same conclusion for the same reasons

[2015-07-02 16:48] zednis commented on #32
Also, for background knowledge we may want to think about how our class of Publication and its subclasses fit into the 4 levels of entities defined in the Functional Requirements for Bibliographic Records (FRBR)

https://en.wikipedia.org/wiki/Functional_Requirements_for_Bibliographic_Records
www.oclc.org/research/projects/frbr/

FRBR conceptualizes a spectrum of entities related to products of int

[2015-07-02 16:48] justgo129 commented on #33
I'd be fine with that.  The same concern about dct:issued prompted the initial question, actually.  Assuming we go with a gcis:publicationYear or something similar thereof, is there a way we can relate it to existing terms in other vocabularies/ontologies?  I'd be all right if not but it would be great if we could.

[2015-07-02 16:54] zednis commented on #33
@justgo129 the question isn't can we relate it to terms in other vocabularies/ontologies, the question is are there terms in other ontologies that we should relate it to?

[2015-07-02 20:23] xgmachina commented on #34
Do we want more subclasses of gcis:Publication. e.g., Standard, Map, etc. See subclasses of bibo:Document at:
http://www.essepuntato.it/lode/owlapi/http://bibliontology.com/bibo/bibo.php#d4e2399

[2015-07-06 12:17] bduggan commented on #22
On Wednesday, July  1, Stephan Zednik wrote:

:+1:

The URLs we store are landing pages, not access URLs, so this is more appriopriate.

i.e. providers often have a number of URLs for dataset, and we try to use the
landing page, if there is one.

Brian

[2015-07-06 12:28] bduggan commented on #16
I'm updating the title of this, and changing the importance.  I will wait for this to be resolved before pulling from the gcis-ontology to the gcis repository.  That way changes to gcis.ttl in production will be consistent with changes to the HTML rendering.

[2015-07-06 12:30] bduggan commented on #24
On Tuesday, June 30, lic10 wrote:

I will push, once issue #16 is resolved.

[2015-07-06 14:18] zednis commented on #22
Thanks Brian, Robert,

My recommendation then is to change the RDF templates to use `dcat:landingPage`.

I also think we should consider removing `gcis:accessURL` and `gcis:downloadURL`.

[2015-07-06 14:37] justgo129 commented on #31
"In your original description of the issue, do you want to add a few 'date' terms that are from the perspective of data users, such as accessDate?"

   @xgmachina please clarify whether you'd like @aulenbac and me to suggest new terms for the ontology or identify potential uses for existing ones and add them to the aforementioend document.  Thanks!

[2015-07-06 14:41] bduggan commented on #35
This is fine, and solves the immediate problem, basically
echoing the relational representation.

At some point this should include a deeper treatment of
classification of instruments, addressing issues such as
types of types (radiometer, radar, sonar, altimeter),
modes (e.g. these are the same physical
instrument: http://data.globalchange.gov/instrument/active-microwave-instrumentation-image-mode

[2015-07-06 14:43] bduggan opened #38 "Make rdfs:labels lower case."
See #21

[2015-07-06 14:55] justgo129 commented on #34
I think is all we'd need (or borrow from bibo or another source if acceptable given domain/ranges etc.):

gcis:Book
gcis:Webpage
gcis:Article
gcis:Journal

As we have gcis:Dataset, gcis:Table, and gcis:Array.

We may also need a gcis:Generic down the road but I wouldn't worry about it now.

[2015-07-06 15:02] zednis commented on #34
What would `gcis:Generic` be?

[2015-07-06 15:15] rewolfe commented on #32
In this sense, I believe we are using the term document to refer to its
Manifestation.  Even bits on a computer disk (or tape or in memory) are a
physical embodiment.

I believe we use the term bounded to refer to something that has a fixed
length.  It doesn't need to be something that has a binding (like a book).

On Thu, Jul 2, 2015 at 12:48 PM, Stephan Zednik notifications@github.com
wrote:

##

[2015-07-06 15:26] rewolfe commented on #34
I think it makes sense to go ahead and include gcis:Generic now because we
already have a number of publications that fall into this category.

On Mon, Jul 6, 2015 at 10:55 AM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-06 15:46] zednis commented on #32
In FRBR the bits on a particular disk would be the item and the PDF encoding (as a general concept) would be the manifestation.  I think in FRBR "physical embodiment" corresponds to 'format'.  The PDF and Word Document of a publication would be different manifestations in FRBR.  The PDF file on your local filesystem would be an item.

I think the best example is that a download link to a PDF file

[2015-07-06 15:53] justgo129 commented on #34
We've been using generics to describe publication types that aren't one of the following: dataset, book (or book section), article, webpage, report.  These may include conference proceedings, conference papers, theses, etc.

[2015-07-06 15:56] zednis commented on #34
I do not think we should use the class `gcis:Generic`.

[2015-07-06 16:11] bduggan commented on #34
I agree -- :-1: for gcis:Generic

[2015-07-06 16:37] rewolfe commented on #32
+1 - yes, that definition works for me.

On Mon, Jul 6, 2015 at 11:46 AM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-06 16:40] justgo129 commented on #32
I'm fine with this, but am wondering whether we should clarify the meaning of "made available to the public?"  Many journal articles for instance are made available to the public but are not directly accessible without purchase or from most IP addresses.

[2015-07-06 16:40] rewolfe commented on #34
What is an alternative proposal for these items (the ones that Justin
mentioned).

On Mon, Jul 6, 2015 at 12:11 PM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-06 17:07] bduggan commented on #34
Just define them as gcis:Publications, but no subclass since the nature of these objects is not defined.

[2015-07-06 17:10] zednis commented on #34
@rewolfe  I assume you are referring to: conference proceedings, conference papers, theses, etc.

In cases where none of the current subclasses of `gcis:Publication` are appropriate I think we should give the instance type `gcis:Publication` and make a point to evaluate if a new subclass should be defined.  We can then go back and update the template to include the new subclass as needed.

The one

[2015-07-06 17:11] zednis commented on #34
:+1:  to @bduggan's phrasing

[2015-07-06 17:26] rewolfe commented on #34
+1 : works for me
On Jul 6, 2015 1:12 PM, "Stephan Zednik" notifications@github.com wrote:

[2015-07-07 02:06] xgmachina commented on #34
Classes added: #37
gcis:Book
gcis:Webpage
gcis:Article
gcis:Journal

[2015-07-07 03:48] congruili commented on #24
pull request sent

[2015-07-07 03:54] #24 closed

[2015-07-07 11:45] justgo129 commented on #34
Could we make the ferns for gcis:Article and gcis:Book more specific to GCIS content?  For instance, GCIS contains some ebooks.  We use articles specifically to refer to journal articles.

[2015-07-07 11:45] justgo129 commented on #34
Terms, I mean

[2015-07-07 12:18] justgo129 commented on #34
In the meantime, I revised the turtle templates appropriately to reflect the new terms:

https://github.com/USGCRP/gcis/pull/183

[2015-07-07 13:41] bduggan opened #47 "Fix travis build process"
There is currently a syntax error in gcis.ttl -- line 569 of gci.ttl should be a . not a ;.
riot is catching this but the exit status is not correct, so the build is passing incorrectly:

https://travis-ci.org/USGCRP/gcis-ontology/builds/69893063

[2015-07-07 14:00] bduggan commented on #47
Note in this case the build failure means the issue was resolved.

[2015-07-07 14:24] zednis commented on #47
I have fixed the incorrect semicolon in the RDF.

[2015-07-07 16:22] bduggan commented on #16
Looks like the HTML can be generated by just adding the ontology URL to
`http://www.essepuntato.it/lode/owlapi/`
like this: http://www.essepuntato.it/lode/owlapi/https://raw.githubusercontent.com/USGCRP/gcis-ontology/master/gcis.ttl

[2015-07-07 16:28] aulenbac commented on #35
I agree with @bduggan

[2015-07-07 16:30] rewolfe commented on #16
Cool!

On Tue, Jul 7, 2015 at 12:22 PM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-07 16:30] zednis commented on #16
@bduggan yep, but the anchor tag issue is still there on the generated HTML.  We may have to do some post-processing of the HTML to get the anchor behavior we want.

[2015-07-07 16:37] aulenbac commented on #22
As @bduggan mentions, we try to use landing pages if there is one. This is in keeping with best practices and recommendations from a GCIS advisory group. I agree with @bduggan and @rewolfe.

[2015-07-07 17:12] #47 closed

[2015-07-07 17:46] bduggan commented on #16
Good catch.
I'd like to do a push this week, and since the templates are now using terms from the latest ontology, I've copied over gcis.ttl and regenerated gcis.owl ( usgcrp/gcis@e4ff7f5d1938a537c63e47cb4433dc0e1952e43d) with a little script that pulls from github and lode (usgcrp/gcis@516a14dd40830de4ad7e0d2661489547210f6b1f).

[2015-07-07 17:53] zednis commented on #36
@bduggan can you confirm that this issue is closable?

[2015-07-07 17:55] zednis commented on #18
resolved by #23

[2015-07-07 17:55] #18 closed

[2015-07-07 17:57] zednis commented on #6
I am not sure we converged on a solution to the original issue in this ticket.

I concur with @xgmachina's suggestion to remove the assertion of domain for the spatial and temporal resolution properties.

[2015-07-07 18:03] bduggan commented on #36
On Tuesday, July  7, Stephan Zednik wrote:

Yes, as far as I can see the current treatment is consistent with
(and has some redundancy with) the treatment in usgcrp/gcis#165.

[2015-07-07 18:14] zednis commented on #32
How about just "made available" or "officially/formally released"?

[2015-07-07 18:14] justgo129 commented on #32
+1 for "made available."

[2015-07-07 18:22] zednis commented on #32
definition: "a distinct work with intent to communicate information that has been made available"

It could use some tweaking for elegance but I think all the components are there.

[2015-07-07 18:26] justgo129 commented on #32
@zednis +1

[2015-07-07 18:53] bduggan commented on #6
:+1:

[2015-07-07 19:20] justgo129 commented on #36
Works for me.  Closing due to the reasons stated above.

[2015-07-07 19:20] #36 closed

[2015-07-07 19:25] justgo129 commented on #10
Are we all right to make this change?

[2015-07-07 19:29] justgo129 commented on #6
+1

[2015-07-08 17:00] bduggan commented on #16
The above script adds a decent process to pull changes, (e.g. see usgcrp/gcis@dfd0ca742df682e982f32110adf36b75f8c12229), so I'm removing the 'critical' tag from this issue.

[2015-07-08 18:19] congruili commented on #16
in the production HTML file:
<a href="#d4e1684" title="http://data.globalchange.gov/gcis.owl#Dataset"..

should be changed to:
<a href="#Dataset" title="http://data.globalchange.gov/gcis.owl#Dataset"..

A practical way is to write a script to modify all the situations like this in the HTML file.

[2015-07-08 18:21] zednis commented on #16
@lic10 would you be willing to take the lead on writing that script?

[2015-07-08 18:24] congruili commented on #16
will try.

[2015-07-08 19:20] bduggan commented on #16
Also the <div id="d4e1684"..  portions need to be changed:
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/public/gcis.owl#L210

[2015-07-08 20:49] xgmachina commented on #34
@justgo129 I think a ebook is also a `gcis:Book`. Journal/academic articles and magazine articles are `gcis:Book`. Do you mean we need `gcis:eBook` and `gcis:JournalArticle`? bibo does have a class `bibo:AcademicArticle`

[2015-07-08 21:19] zednis commented on #34
I agree with @xgmachina that ebooks are just books.  If there are extra properties that make sense for ebooks and not all books then I could see the justification for an ebook class (which would be a subclass of book), but otherwise I would just use the class Book to represent both physical books and ebooks.

[2015-07-08 22:53] justgo129 commented on #34
Let me clarify: I agree that ebooks should be classified as books.  My concern is that the definition for a gcis:Book is restrictive against ebooks.  I suggest broadening the definition.  Sorry for my lack of clarity.

[2015-07-09 15:51] justgo129 commented on #9
Having explored this issue further, I believe that we should look for an alternate term.  This is because:
1) The location denoted for meth:Methodology no longer resolves.
"@"prefix meth: http://sweet.jpl.nasa.gov/2.3/reprSciMethodology.owl#
2) The owl file suggests that "Methodology" is limited to forms of scientific experimentation such as isotope analysis and carbon dating, not to an approach f

[2015-07-09 21:29] xgmachina commented on #34
Thanks @justgo129 I made a few updates to the content of rdfs:comment of `gcis:Book` and `gcis:Article` see #55

[2015-07-13 16:59] zednis commented on #22
Have we reached a consensus on this issue?

[2015-07-13 17:00] zednis commented on #25
Current definition of `gcis:Scenario` class.

[code]

@justgo129 @rewolfe  are there any outstanding questions regarding the accuracy of this definition?  Have any comments/concerns been raised?

[2015-07-13 18:37] zednis commented on #28
@justgo129 @bduggan what do you think of the proposed changes to the properties related to Scenario?

[2015-07-13 23:35] lic10 opened #57 "F1. first name and middle initial"
Can we create a term which reflects a string containing a person’s first name and middle initial, similar to foaf:firstName and foaf:lastName?  Or, is foaf:givenName, which we have been using in-lieu of gcis:firstName, sufficient?
(Someone’s comment): What about foaf:name or foaf:nick? The original intent of foaf had heritage in social networking context though.

[2015-07-13 23:37] lic10 opened #58 "F2. describe the URL for a webpage associated with a person"
To describe the URL for a webpage associated with a person, should we use gcis:hasURL or foaf:page?  Note that although we refer mostly to pages on organizational servers, we sometimes refer to personal webpages or to information about people contained on a webpage which isn’t devoted solely to that person (e.g. devoted to other staff, goals, etc.).  See http://xmlns.com/foaf/spec/#term_page  .  A

[2015-07-13 23:41] lic10 opened #59 "G1. organization types"
We have been using org:Purpose to define an organization as “federal,” “international,” “state,” “commercial,” “private,” “city,” etc.  Per the page at http://www.w3.org/TR/vocab-org/  this may not be an accurate use of org:Purpose.  We are unable to locate a necessary term in the ontologies at: http://oegov.org/ because GCIS includes many organizations which are not part of the Federal government

[2015-07-13 23:44] bduggan commented on #57
givenName makes sense (and probably we should change
the database field to "given" too) since this is the term
used by crossref, which is a source of much of the data.

[2015-07-13 23:46] lic10 opened #60 "H1. Create a property for “region”"
Create a term for “region” as used in the NCA3 (see http://nca2014.globalchange.gov/system/files_force/downloads/low/NCA3_Full_Report_Intro_to_Regions_LowRes.pdf?download=1).  Also need a term relating various publications to a region, e.g. in http://data.globalchange.gov/region/hawaii-pacific-us
Should this new term be similar to: http://data.globalchange.gov/gcis.owl#isDescribedIn but have domai

[2015-07-14 00:25] lic10 opened #61 "H2. Inform whether a region should be a subclass of prov:Entity."

[2015-07-14 00:28] lic10 opened #62 "H3. describe a linkage between a region and a publication"
Relate a term to describe a linkage between a region and a publication.  Maybe make it as a subclass of dcterms:Relation.  Currently, we are using http://schema.org/isRelatedTo; please inform whether is a correct use of this term.

[2015-07-14 02:07] zednis commented on #57
:+1: for using `foaf:givenName` in general.

I believe the original question resolves around whether there is an appropriate property for a first name + middle initial (e.g. "Stephan T.").  I believe `foaf:givenName` is valid for this use case.

[2015-07-14 02:11] zednis commented on #62
@justgo129 can you provide a few examples?

One option that comes to mind is the use of [`dcterms:subject`](http://dublincore.org/documents/dcmi-terms/#terms-subject) and/or [`dcterms:spatial`](http://dublincore.org/documents/dcmi-terms/#terms-spatial).

[2015-07-14 02:23] zednis commented on #62
`schema:isRelatedTo` is defined as a relationship between 2 products, so I do not think it is the correct property to use in this scenario.

from http://schema.rdfs.org/all.ttl

[code]

[2015-07-14 04:09] justgo129 commented on #57
Fine here.  Also, the question resolves around use of the first initial and middle name (e.g. "John Doe" has an official name of "A. John Doe."  We have several examples of this in GCIS.

[2015-07-14 04:13] justgo129 commented on #62
@zednis in response to the need for examples, I am finding that this may be an outdated request.  I think we're using dcterms:Relation now.  As it's a class in-lieu of a property, the need for clarification about a substitute term still stands.  e.g. http://data.globalchange.gov/report/ucollaw-ti-2011.thtml

[2015-07-14 04:16] justgo129 commented on #28
I'm fine if @bduggan is fine with it.

On Mon, Jul 13, 2015 at 11:37 AM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1717 Pennsylvania Ave NW, Suite #250
Washington, DC 20006

O: (202) 419-3496
M: (202) 285-3005

e-mail: jgoldstein AT usgcrp Dot gov
http://www.globa

[2015-07-14 05:28] justgo129 commented on #25
I can check on this.

[2015-07-14 05:30] justgo129 commented on #25
Also, @zednis could you please clarify the meaning behind the special characters in the defn?  Thanks.

[2015-07-14 15:28] congruili commented on #62
I think that [`dcterms:spatial`](http://dublincore.org/documents/dcmi-terms/#terms-spatial) makes more sense according to the definition: spatial characteristics of the resource.

[2015-07-14 15:35] congruili commented on #60
Is the second part of the question the same as H3?
https://github.com/USGCRP/gcis-ontology/issues/62

[2015-07-14 17:12] zednis commented on #61
Is there a use case or scenario where we would want to treat a region as a subclass of `prov:Entity`?  Without such a use case I would say that we should not create the subclass relationship.  Even without the subclass relationship we could still mutli-type instances of region to also have type `prov:Entity`, so unless there is a fundamental reason in our ontology for all regions to be prov entiti

[2015-07-14 17:19] zednis commented on #59
This reminds me of a similar issue with instruments.  We could define a class hierarchy of Organization subclasses but that would be difficult to maintain for the same reason such a hierarchy of instrument types would be hard to maintain.

I think `dbprop:organizationType` with a literal value is a workable solution.  As a bonus, it also follows the same pattern we have been discussing with the pr

[2015-07-14 17:31] justgo129 commented on #62
I'd be fine with that since it has range dcterms:Location which itself has a broad definition.

[2015-07-14 17:34] justgo129 commented on #60
Very similar but not identical.  Here (issue #60), the region is the subject and the publication type would be the object.  e.g.: http://data.globalchange.gov/region/hawaii-pacific-us.thtml

[2015-07-14 17:37] justgo129 commented on #61
I'm fine as is then, @zednis .  The rationale is that if we decide to create a term gcis:Region, could we relate it to preexisting terms for searchability and robustness?  Right now, we use "a dbpedia:Region."  In the event we decide to use a different term, the question of relating a newly created term to a pre-existing one applies.  Basically, this item is meant as more of a Point of Information

[2015-07-14 17:44] zednis commented on #61
@justgo129 when you say 'term' are you referring to a class, property, or other?  I have seen the term 'term' colloquially used to mean a class, property, and controlled vocabulary term (think SKOS concept) and I find the current usage very confusing.

[2015-07-14 17:47] justgo129 commented on #61
Sure.  By term in this instance, I mean a subject, predicate, or object.  So here, if we decide to use a new class to define a Region, e.g. a gcis:Region, a gcis:NCA3region, etc.

[2015-07-14 17:49] zednis commented on #61
Yes, I am asking for us to stop using term to mean 'anything in RDF'

[2015-07-14 21:40] congruili commented on #60
you mean that we are trying to define a inverse property of H3 (https://github.com/USGCRP/gcis-ontology/issues/62)?

[2015-07-14 22:51] justgo129 commented on #60
Yep.  My comment about the first portion of the requests remains identical to #62.  I'm all right keeping dbpedia:Region if it is being used correctly at the present time.

[2015-07-14 23:27] zednis commented on #60
If I am interpreting the question correctly, you are asking for an inverse property to `dct:spatial` (or whatever we end up using to associate a publication with a region).

If that is correct, my question is do we need an inverse property?

[2015-07-15 00:37] justgo129 commented on #34
See:
https://github.com/USGCRP/gcis-ontology/pull/63

#55 is now closed.

[2015-07-15 05:15] justgo129 commented on #34
#65 should now work.  If it's acceptable, we can close this issue, as well as #55 and #63 .  These were the changes which @xgmachina and @justgo129 discussed today.

[2015-07-15 17:04] justgo129 commented on #34
Corresponding pull request: #65.  Please ignore all other outstanding pull requests pertaining to this topic.

[2015-07-15 17:59] bduggan commented on #28
Yes, sounds good.

[2015-07-15 18:12] bduggan commented on #22
Yes, I think so.

[2015-07-15 18:15] bduggan commented on #59
Sounds fine.

[2015-07-15 18:21] justgo129 commented on #22
Fine here.  Within GCIS, are there any instances of the non-landing page URL being provided in-lieu of that for a landing page?  @aulenbac and @bduggan are right in that we try to use landing page - if there is one.

[2015-07-15 18:28] justgo129 commented on #59
+1

[2015-07-15 18:52] bduggan commented on #22
On Wednesday, July 15, justgo129 wrote:

Maybe, but this should not inform the semantic model.

Brian

[2015-07-15 19:17] zednis commented on #22
I will create a pull request to update the templates to use `dcat:landingPage`.

[2015-07-16 02:53] justgo129 commented on #33
Let's go with gcis:publication year or a variation thereof, and ascertain whether predicates from other ontologies can be related to gcis:publicationYear.

[2015-07-16 02:54] justgo129 commented on #19
Have we reached a consensus on the resolution of this issue?

[2015-07-16 02:55] justgo129 commented on #17
Are there any objections to the proposed solution of @xgmachina?

[2015-07-16 03:07] zednis commented on #19
It sounds like we have a use case for supporting it and we will have USGCRP-published resources for which GCIS will be capable of keeping up-to-date SHA1 values.  I am ok with us having hashes for non-USGRCP documents; I think in that case we should investigate having a scheduled process (once per week?) that checks those hashes to discover if our hash value gets out of date - but that is a proces

[2015-07-16 03:08] justgo129 commented on #9
How about using or adapting gcis:wasCreatedBy or gcis:wasCompiledBy in-lieu of meth:Methodology?

[2015-07-16 03:19] justgo129 commented on #19
+1

[2015-07-16 03:33] zednis commented on #9
we could drop `meth:Methodology` and just use `prov:Plan`.

[code]

[2015-07-16 14:50] justgo129 commented on #9
+1

[2015-07-16 15:34] justgo129 commented on #59
@zednis please merge.

[2015-07-16 15:41] justgo129 commented on #61
I believe we have a consensus to continue using "a dbpedia:Region" then.  @zednis, please confirm that this is an acceptable use given:

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/region/object.ttl.tut

and e.g.
https://data.globalchange.gov/region/midwest-us
https://data.globalchange.gov/region/oceans

(or data.globalchange.gov/region ...).

If dbpedia:Region is an accept

[2015-07-16 15:43] justgo129 commented on #28
Great, we're done with this Issue (#28).  @zednis please feel free to close this issue and any other related issues, merging related pull requests if necessary.

[2015-07-16 15:45] justgo129 commented on #62
"dcterms:Spatial" it is.  @lic10 or @zednis please make the appropriate change, merge the change, and close this issue (#62).

[2015-07-16 15:45] rewolfe commented on #19
+1

On Wed, Jul 15, 2015 at 11:19 PM, justgo129 notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-16 16:45] zednis commented on #28
thanks @justgo129

[2015-07-16 16:45] #28 closed

[2015-07-16 16:52] zednis commented on #28
@bduggan I did a search and did not find `gcis:describesScenario` or the old `gcis:describedIn` in any of the RDF templates.  If my search was accurate then I do not think this ontology change will require any template updates.

[2015-07-16 18:58] zednis commented on #62
@justgo129  are you sure we are not currently using dcterms:Relation for regions?

I found this in the RDF for http://data.globalchange.gov/report/nca1.thtml:

[code]

[2015-07-16 19:15] zednis commented on #62
I created two pull requests in gcis repository.

USGCRP/gcis/pull/189 updates `dcterms:Relation` to `dcterms:spatial` for publication->region reference

USGCRP/gcis/pull/190 updates `dcterms:Relation` to `dcterms:relation` for region->publication reference.

I see now why we requested an inverse property to `dcterms:spatial`.  No inverse property is defined by dublin core.  We can use `dcterms:rel

[2015-07-16 19:16] congruili commented on #58
I think what we need here is a combination of these two properties: [`foaf:page`](http://xmlns.com/foaf/spec/#term_page) and gcis:hasURL. Please comment.

[2015-07-16 19:30] zednis commented on #58
We should be able to just use `foaf:page`.

current RDF:

[code]

proposed change:

[code]

[2015-07-16 19:40] justgo129 commented on #58
I'm fine with the approach of @zednis.

[2015-07-16 19:43] justgo129 commented on #62
I would prefer if we define a new property in the gcis namespace to be related to dcterms:relation in some way.  dcterms:relation seems rather vague to me.

[2015-07-16 19:55] zednis commented on #62
Ok, how about this?

[code]

If there is consensus to add this add it to the ontology and update USGCRP/gcis#190 to use this.

[2015-07-16 19:58] justgo129 commented on #62
I really like it.  Do you mean "of the resource?"  +1 on making that update to USGCRP/gcis#190

[2015-07-16 20:07] zednis commented on #62
@justgo129 No, the definition of `dcterms:spatial` is "Spatial characteristics of the resource."  In that case "of the resource" implies _this_ (the subject in the RDF statement).

I was hoping to have a similarly worded definition for the reverse association.  My first pass may not have been clear enough though.

[2015-07-16 20:14] justgo129 commented on #62
I think I get it now.  Yep, could we clarify the proposed definition?

[2015-07-16 20:15] zednis commented on #62
"resource with these spatial characteristics"?

[2015-07-16 20:19] congruili commented on #62
looks good enough

[2015-07-16 20:23] justgo129 commented on #62
"resource with contents having these spatial characteristics?"
"spatial characteristics of resource content?"

[2015-07-16 20:32] zednis commented on #62
To me "resource with" and "resource with contents having" mean basically the same thing...

How about "a resource related to these spatial characteristics"?

[2015-07-16 20:39] justgo129 commented on #62
Interesting, I perceive it differently.  I see the resource as something physical or electronic and which contains content.  The content, as opposed to the document containing it, would have the spatial characteristics under discussion (i.e. a physical resource itself doesn't have the characteristics; it's the information contained in the resource with the characteristics).  Basically, I see it as

[2015-07-16 21:01] zednis commented on #62
With dublin core terms the resource and the resource's content seem to be synonymous.

The definition of `dct:spatial` is "Spatial characteristics of the resource" not "Spatial characteristics of the resource's contents".  This usage of resource as an informational resource is consistent through DCT and terminology I tried to copy in my comment on the inverse property.

[2015-07-16 21:10] justgo129 commented on #62
Good catch, @zednis.  I wonder why the resource and its content are treated in dublin core as synonymous as it seems rather counter-intuitive to me given various distinctions in the Semantic Web (e.g. a URL versus the page to which it directs are separate objects in various ontologies).
It would be a good discussion topic for another venue.

Back to this particular issue, @zednis are you proposing

[2015-07-16 21:28] justgo129 commented on #32
As I'm seeing no other opinions, @zednis please prepare the pull request.

[2015-07-16 21:38] justgo129 commented on #60
continued in #62

[2015-07-16 21:44] justgo129 commented on #35
Feel free to prepare the pull request, @zednis

[2015-07-16 21:53] justgo129 commented on #12
@bduggan @zednis could you please rerun when you get a chance so that I can have a better understanding of the remaining extent of this issue?  Thanks.

[2015-07-17 18:25] bduggan commented on #28
I don't see describesScenario or describedIn either.

On Thursday, July 16, Stephan Zednik wrote:

[2015-07-17 18:25] bduggan commented on #58
:+1:

On Thursday, July 16, justgo129 wrote:

[2015-07-17 18:28] justgo129 commented on #25
To follow up, I've been informed that either (1) this definition, that at (2) http://scenarios.globalchange.gov/content/scenarios, or that at (3) http://www.globalchange.gov/climate-change/glossary would be acceptable for use in our ontology.  As such, I propose going with (3) since it appears in the official glossary on globalchange.gov.

[2015-07-17 18:32] bduggan commented on #19
On Wednesday, July 15, Stephan Zednik wrote:

The gcis-qa tests look at sha1's for nca3 chapters + report:

[code]

Currently it runs when a commit is made to gcis-qa (using travis).

Brian

[2015-07-17 18:33] #62 closed

[2015-07-17 18:35] justgo129 commented on #58
One more thing: @zednis please confirm that foaf:givenName could be also be used for people who use their middle initial as their common name, e.g. as used at:
http://data.globalchange.gov/person/903.thtml

"

[2015-07-17 18:36] justgo129 commented on #58
Barring opinions to the contrary, I'd say go ahead and prepare the pull request.

[2015-07-17 18:36] bduggan commented on #12
On Thursday, July 16, justgo129 wrote:

@justgo129, you can run it: let me know if you need help
running a find command from a bash prompt.

Brian

[2015-07-17 18:37] justgo129 commented on #57
To clarify my comment, is foaf:givenName used correctly at:
http://data.globalchange.gov/person/903.thtml

If so, then I'd say let's close this issue since it won't involve changes.

[2015-07-17 18:44] justgo129 commented on #12
Sure, I'll run it after we complete this round of pull requests.  Is there a way to modify the script so that classes don't show up if they are used correctly within the turtle?  Alternatively stated, as the code runs now, line 17 of:

https://github.com/USGCRP/gcis/blob/1db0066ddb5ae3a3f6955ed7d31da65b00d5ddca/lib/Tuba/files/templates/article/object.ttl.tut

would show up on the list of classes i

[2015-07-17 18:47] bduggan commented on #12
Maybe, but it doesn't make much sense to me that you'd want to do this since you can just eyeball the results.

[2015-07-17 18:53] zednis commented on #57
@justgo129 I think so.   givenName was defined so that it would not be as restrictive as firstName and could handle 'describing parts of people's names'.  I think our current usage of the property is consistent with it's intent and we can close this issue without making any changes.

[2015-07-17 18:54] justgo129 commented on #57
Great.  I will close #57 and denote it as such on the list of proposed changes.  Result of issue: no change in template necessary,

[2015-07-17 18:54] #57 closed

[2015-07-17 18:59] justgo129 commented on #9
By the way, we could also remove mentions of the "meth" namespace from GCIS since this was the sole instance in which it was being used.

[2015-07-20 14:51] CurtTilmes opened #67 "Additional relationship between finding and figure"
I see a strong relationship from Chapter -> Figure and Chapter -> Finding,
but do you have a relationship from Finding -> Figure?

something like
http://data.globalchange.gov/report/nca3/chapter/our-changing-climate/finding/us-temperature-increased
gcis:isDepictedIn   (or illustrated by, Supported by, etc.)
http://data.globalchange.gov/report/nca3/chapter/our-changing-climate/figure/observed-us-te

[2015-07-20 15:22] lic10 opened #68 "I2. “description_attribution” for platforms and instruments"
Please create a term for “description_attribution” for platforms and instruments (e.g. for http://data.globalchange.gov/platform/topex-poseidon  it’s “https://eoportal.org/web/eoportal/satellite-mhttps://data.globalchange.gov/lexicon/echoissions/t/topex-poseidon” (without the quotation marks).

[2015-07-20 15:23] lic10 opened #69 "I5. relating a lexicon to instruments and missions"
Please create a term relating a lexicon to instruments and missions (http://data.globalchange.gov/lexicon/ceos)

[2015-07-20 15:24] lic10 opened #70 "I6. “measurement”"
Please create another term for “measurement” or find an existing term.  http://data.globalchange.gov/platform/topex-poseidon/instrument/topex-microwave-radiometer

[2015-07-21 13:15] bduggan commented on #67
I would like to see these relationships in GCIS, too.

I can add selections to the interface so that someone can
enter them.

What is a good list of relationships to present?  Do we need
a new element in the GCIS ontology?  Do any other ontologies
have something like "gcis:isDepectedIn/SupportedBy" already?

Brian

[2015-07-21 17:55] zednis opened #71 "domain of hasGoverningOrganization is intersection of gcis:Project and gcis:Instrument"
The current domain of ``gcis:hasGoverningOrganization`` is both ``gcis:Project`` and ``gcis:Instrument``.  I believe this would be interpreted as an intersection instead of a union.

[code]

I believe the intended domain as a union should be:

[code]

[2015-07-21 17:56] xgmachina opened #72 "B4 Definitions of gcis:TemporalExtents and gcis:SpatialExtents"
In http://data.globalchange.gov/gcis.owl#TemporalExtents and  http://data.globalchange.gov/gcis.owl#SpatialExtents, should the domains and ranges explicitly call out “datasets” given the descriptions of these terms?
Comment: Might be good to see ISO’s Extents to reduce reinventing the wheel. more specifically the geographical and temporal extents. ISO also distinguishes with vertical extents too.

[2015-07-21 17:59] xgmachina commented on #72
`gcis:TemporalExtents` and `gcis:SpatialExtents` are both classes, not properties, so I think the original update suggestion focuses more on the term 'dataset' in the literal definition of those two classes. If that is the case then it could be easy to make updates.

[2015-07-21 18:08] xgmachina opened #73 "E1 Mapping GCIS 'spatial' properties to properties in other ontologies and schemas"
For images and figures, can gcis:northBoundLatitude, etc. be related to fao:hasMaxLatitude, etc.?  (see http://www.fao.org/countryprofiles/geoinfo/geopolitical/resource/United_States_of_America)  Maybe this could be related to the geo ontology?  Is there something in SWEET to which we can also link?
Someone’s comment: See reuse of gmd. e.g. gmd:northBoundLatitude

[2015-07-21 18:11] xgmachina opened #74 "E2 Properties 'cites' and 'isCitedBy' in GCIS ontology"
Relate http://data.globalchange.gov/gcis.owl#cites to http://vocab.ox.ac.uk/cito#term_cites (cito:cites).  Also, for consistency, create a term similar to http://vocab.ox.ac.uk/cito#term_isCitedBy within the GCIS ontology as there is no entry for gcis:isCitedBy but there is for gcis:cites.

[2015-07-21 18:14] justgo129 commented on #19
@zednis feel free to merge.

[2015-07-21 18:16] zednis commented on #61
@justgo129 Looking at the dbpedia RDF I do not see a class dbpedia:Region.

I think we should define our own class Region and give it a definition that meets the needs of GCIS.

first pass of a definition - 'a spatial defined by a common characteristic (e.g. coastal, southwest, rural communities, etc.)'

[2015-07-21 18:22] xgmachina opened #75 "E3 gcis:contactPoint and gcis:PointofContact"
Relate http://data.globalchange.gov/gcis.owl#contactPoint to prov:Role.
     As an aside, the ontology contains gcis:ContactPoint (specific to datasets) and gcis:PointOfContact (more generally).  Please inform whether we need both.

[2015-07-21 18:25] xgmachina commented on #75
`gcis:contactPoint` is an object property, and `gcis:PointOfContact` is a `prov:Role`. They each has a different function in the GCIS ontology.

[2015-07-21 18:26] xgmachina commented on #75
I would suggest to revise all the instances of `prov:Role` in the GCIS ontology --> To make the first letter in lower case. For example, `gcis:PointOfContact` to `gcis:pointOfContact`

[2015-07-21 18:30] xgmachina opened #76 "E4 Create something like 'gcis:producedDataset' for images"
Create something like http://data.globalchange.gov/gcis.owl#producedDataset for images.

[2015-07-21 18:34] justgo129 commented on #61
my bad, I mistook dbpedia:region for it.
+1 for a slightly modified version of your proposal:
"a spatial area defined by a common characteristic (e.g. coastal...)
"Spatial area" reads awkwardly but I can't immediately think of anything else that could encapture both a contiguous zone and discontinuous ones like various oceans (e.g. "ocean," not "Atlantic Ocean").

[2015-07-21 18:36] xgmachina commented on #76
We can easily add a new property `gcis:producedImage`, but I would like to extend the discussion a bit more:

The current GCIS ontology has a property `gcis:wasCreatedBy`. Its domain is `gcis:Image` and range is `gcis:ImageCreation`. To see more details the ontology document might be easier to follow: http://data.globalchange.gov/gcis.owl#d4e1002

Similarly, for datasets there is a property `gcis:

[2015-07-21 18:37] zednis commented on #61
It seems like our region is synonymous with this definition of zone from New Oxford American Dictionary.

zone |zōn|
noun
1 [ usu. with modifier ] an area or stretch of land having a particular characteristic, purpose, or use, or subject to particular restrictions: a pedestrian zone | the government has declared the city a disaster zone | a no-smoking zone.
• Geography a well-defined region extend

[2015-07-21 18:39] justgo129 commented on #76
fyi all - gcis:producedDataset is defined at:
http://data.globalchange.gov/gcis.owl#d4e809

Thanks for the heads-up, Marshall.  Is it all right with everyone to have gcis:wasCreatedBy associated with Images and gcis:wasCapturedBy with Dataset?  While it works semantically, it might be clearer to include "image" or "dataset" in the property names to avoid confusion.  I'll defer to everyone else tho

[2015-07-21 18:41] zednis commented on #75
:+1: to @xgmachina's proposal to start the instance role with a lowercase.  We could go even further and make the the URI `gcis:point_of_contact` to differentiate it from the conventions used with class and property URIs.

[2015-07-21 18:42] justgo129 commented on #61
Cool observation.  There is a dbpedia:Zone but it may be too specific for our purposes given the myriad of examples called out, with some examples of functional regions which won't fit what we're trying to accomplish:

http://dbpedia.org/page/Zone#Geography

Too bad there isn't a dbpedia:FoundationalRegion or we'd be set.

[2015-07-21 18:47] justgo129 commented on #61
Perhaps something here?
https://bioportal.bioontology.org/ontologies/OGR

While maybe not intended for our purpose, there may be something there.

[2015-07-21 18:48] xgmachina opened #77 "E5 Mapping 'gcis:Image' and 'gcis:Figure' to external ontologies"
Make gcis:Image and gcis:Figure subclasses of fabio:Image and fabio:Figure, respectively.  Also relate to the doco ontology if at all possible (http://www.essepuntato.it/lode/http://purl.org/spar/doco).

[2015-07-21 18:49] justgo129 commented on #77
I forgot to add "assuming this is feasible from an ontological engineering perspective."

[2015-07-21 19:12] xgmachina opened #78 "E7 Differentiate between 'gcis:isFindingOf' and 'gcis:isBasedOn'"
Clarify differentiate between gcis:isFindingOf and gcis:isBasedOn since a publication is considered a chapter.  An example of how we have been using gcis:isFindingOf is available at https://data.globalchange.gov/report/nca3/chapter/our-changing-climate/finding/extreme-precipitation-increase.thtml

[2015-07-21 19:15] xgmachina commented on #78
In the original desgin of GCIS ontology, `gcis:isBasedOn` is used to describe that a (report) finding was derived from one or more (chapter) findings.
Details: http://data.globalchange.gov/gcis.owl#d4e618

The domain of `gcis:isFindingOf` is open.

[2015-07-21 19:27] justgo129 opened #80 "Journals"
Inspired by https://github.com/USGCRP/gcis/pull/191,  I am wondering whether we could relate dbpedia:AcademicJournal (http://dbpedia.org/page/Academic_journal) to gcis:Journal, or rewrite the end of the code for journals to:

"a gcis:Journal, dbpedia:AcademicJournal."

Looking at dbpedia, I see many publication types which relate, at least at first glance, to those in gcis.

[2015-07-21 19:27] xgmachina opened #81 "E8 The use of http://purl.org/spar/cito/cites (cito:cites)"
We may not be using http://purl.org/spar/cito/cites (cito:cites) correctly , e.g.
https://data.globalchange.gov/report/nca3/chapter/our-changing-climate/figure/projected-change-in-average-annual-precipitation.thtml
Specifically its use in the phrase “When citing this figure, please reference NOAA NCDC / CICS-NC.”

https://data.globalchange.gov/report/nca3/chapter/our-changing-climate/figure/variat

[2015-07-21 19:27] xgmachina commented on #81
Property: cito:cites

URI: http://purl.org/spar/cito/cites

cites - A statement that the citing entity cites the cited entity, either directly and explicitly (as in the reference list of a journal article), indirectly (e.g. by citing a more recent paper by the same group on the same topic), or implicitly (e.g. as in artistic quotations or parodies, or in cases of plagiarism).

sub-property-of:

[2015-07-21 19:30] xgmachina commented on #81
In GCIS ontology:

[code]

In bibo ontology (See: http://vocab.ox.ac.uk/cito):

[code]

[2015-07-21 19:32] xgmachina commented on #81
Seems ``cito:cites`` is more implicit or broad than ``bibo:cites``. The later has assertions of domain and range, and the former is open.

[2015-07-21 19:34] xgmachina commented on #81
Definition of `swan:refersTo` (See: http://swan-ontology.googlecode.com/svn/trunk/discourse-relationships.owl):

[code]

And definition of `swan:relatesTo`:

[code]

[2015-07-21 19:49] xgmachina commented on #81
Seems `cito:cites` has a fuzzier meaning than `bibo:cites`.

[2015-07-21 19:52] xgmachina opened #82 "E9 Literal definition of 'gcis:Table'"
http://data.globalchange.gov/gcis.owl#d4e2126 (or http://data.globalchange.gov/gcis.owl#Table) -- Revise the definition to exclude use of the term “list” (too-CS specific).

[2015-07-21 20:00] xgmachina opened #83 "E10 Property for the 'statement' text of a finding"
To describe the text of a finding, dcterms:description is being used, e.g. http://data.globalchange.gov/report/nca3/chapter/water-resources/finding/summer-droughts-intensify.thtml
This is called a “statement” in gcis.

Is dcterms:description being used correctly?  If not, please locate a term from another ontology, and/or create a term like “FindingStatement” in the gcis ontology and relate it to

[2015-07-21 20:02] xgmachina commented on #83
In my understanding `dct:description` works well there. We can also create `gcis:statement` to make it more specific in the context of GCIS.

[2015-07-21 20:03] justgo129 commented on #83
For consistency purposes, I'd like to create something akin to "gcis:statement," relating it to dcterms:description.  Otherwise dcterms:description is fine.

[2015-07-22 13:26] rewolfe commented on #71
It seems like we need to modify the definition to make it broader (not just
a project). Also, the domain could be broaden to include other classes,
e.g. Platform.
On Jul 21, 2015 1:55 PM, "Stephan Zednik" notifications@github.com wrote:

[2015-07-22 13:28] rewolfe commented on #72
I like the idea of using ISO in this area.
On Jul 21, 2015 1:59 PM, "Marshall.Ma" notifications@github.com wrote:

[2015-07-22 13:44] xgmachina opened #84 "A1 Literal defintions of terms in GCIS ontology"
Examine the definitions of terms in the gcis ontology and correct those which are unclear or which use the term to be defined in the actual definition.  Here are some examples:

Figure Compiling : An activity that compiles figures.
Finding : A significant point or central theme of an investigation.
Image Creation : An activity that creates images.
At Location : Something is at a geographic or non-

[2015-07-22 14:11] xgmachina commented on #84
There could be more such literal definitions that need update. Let's extend the list here.

[2015-07-23 13:08] justgo129 commented on #78
Interesting.  @aulenbac what do you think?

[2015-07-23 14:16] justgo129 commented on #84
ChapterWriting: An activity that writes chapters.
ConfidenceAssertion: The confidence assertion of a traceable account.
Dataset Capture: An activity that captures datasets.
SoftwareAgent: A software agent is a running software system.
TableCompiling: An activity that compiles tables.
descriptionOfEvidenceBase: A finding has a description of evidence base.
EndDate: The end date of a temporalExtent

[2015-07-23 14:22] justgo129 opened #86 "GCIS namespace declarations"
With regard to the namespace declarations at the end of the document accessible at:
http://data.globalchange.gov/gcis.owl (last accessed today)

a couple of things stand out.

Notably, do we have a namespace called "data-globalchange-gov" or should this just be called "gcis?"  If so, is there a need for this in addition to the "default namespace?"  Is the "skos2" namespace meant to just be "skos?"

[2015-07-23 18:46] justgo129 commented on #16
@lic10 @zednis what is the progress on this issue?

[2015-07-23 18:47] justgo129 commented on #17
Seeing none, @xgmachina please prepare a pull request.

[2015-07-23 18:50] #34 closed

[2015-07-23 18:52] justgo129 commented on #25
Seeing no objections, let's go with (3).  Pull request forthcoming.

[2015-07-23 19:07] justgo129 commented on #25
Closed via:
https://github.com/USGCRP/gcis-ontology/pull/87

Closing https://github.com/USGCRP/gcis-ontology/issues/25.

[2015-07-23 19:07] #25 closed

[2015-07-23 19:19] justgo129 commented on #61
Let's go with gcis:Region =
a spatial defined by a common characteristic (e.g. coastal, southwest, rural communities, etc.)
per the suggestion of @zednis.

[2015-07-23 19:22] justgo129 commented on #31
Given the lack of activity on this issue #31, I'm closing it.

[2015-07-23 19:22] #31 closed

[2015-07-23 19:24] rewolfe commented on #61
Change "spatial" to "spatial area" and it looks good.
On Jul 23, 2015 3:19 PM, "justgo129" notifications@github.com wrote:

[2015-07-23 20:36] justgo129 commented on #61
Merged at: https://github.com/USGCRP/gcis-ontology/pull/88
Closing #61.

[2015-07-23 20:36] #61 closed

[2015-07-23 20:38] justgo129 commented on #6
Let's remove it and initiate the pull request.

[2015-07-23 20:39] justgo129 commented on #72
ISO it is.  @xgmachina please feel free to proceed.

[2015-07-23 20:40] justgo129 commented on #60
Closing #60 via https://github.com/USGCRP/gcis-ontology/issues/61 and https://github.com/USGCRP/gcis-ontology/pull/88.

[2015-07-23 20:40] #60 closed

[2015-07-23 20:41] justgo129 commented on #76
Leaving as is with no change.

[2015-07-23 20:41] justgo129 commented on #76
Closing #76.

[2015-07-23 20:58] justgo129 commented on #59
Merged (closed) via https://github.com/USGCRP/gcis/pull/198 .

[2015-07-23 20:58] #59 closed

[2015-07-23 21:04] justgo129 commented on #9
Addressed in:
https://github.com/USGCRP/gcis/pull/200.  Once merged, we can close https://github.com/USGCRP/gcis-ontology/issues/9.

[2015-07-23 23:58] justgo129 commented on #10
Closed #10 via https://github.com/USGCRP/gcis/pull/197

[2015-07-23 23:58] #10 closed

[2015-07-24 00:01] justgo129 commented on #84
Note: very few of these are employed in the existing turtle templates anyway.

[2015-07-24 00:01] justgo129 commented on #75
+1

[2015-07-24 00:05] justgo129 commented on #83
I propose the following.

New term: gcis:findingStatement
hasdomain: gcis:Finding
range: dcterms:description
Definition: "The text of a Finding in a Highly Influential Scientific Document"

Please ensure that my domain and range are accurate and proceed with this.

[2015-07-24 00:06] justgo129 commented on #32
Closed #32 due to https://github.com/USGCRP/gcis-ontology/pull/66.

[2015-07-24 00:06] #32 closed

[2015-07-24 00:14] #6 closed

[2015-07-24 00:17] justgo129 commented on #58
Closed #58 due to merged https://github.com/USGCRP/gcis/pull/196.

[2015-07-24 00:17] #58 closed

[2015-07-24 00:19] justgo129 commented on #38
@zednis what is the status of this effort?

[2015-07-24 00:25] justgo129 commented on #19
This suggested edits have been addressed at: https://github.com/USGCRP/gcis/pull/201
However, I'm not ready to close this ticket given that we don't have the newly created predicates in the main gcis owl file.  Once those are created, feel free to close.

[2015-07-24 00:36] justgo129 commented on #35
I have addressed these in https://github.com/USGCRP/gcis/pull/202 and https://github.com/USGCRP/gcis/pull/203.  However, I'll keep this ticket open as we need to update the owl file for the GCIS ontology accordingly in order to reflect these changes.

[2015-07-24 00:42] justgo129 commented on #7
Closed #7 due to the merges listed above.

[2015-07-24 00:42] #7 closed

[2015-07-24 01:00] justgo129 commented on #83
Actually, I just remembered that I could take the domain and range from the other properties associated with components of findings.  I just did that in the pull request I initiated above.  Upon the merging of that request, we can close this ticket.

[2015-07-24 02:43] justgo129 commented on #33
Addressed at:
https://github.com/USGCRP/gcis/pull/200

Once merged, we can close #33.

[2015-07-24 04:32] zednis commented on #86
1) I lowered the priority because this is just documentation.

2) The namespace prefix used is not that critical as long as the computed URI is correct. e.g. using "dct" or "dcterms" for dublin core terms doesn't matter from a technical perspective.

3) The namespace used in the current gcis.ttl in this repository is `gcis`.

[code]

4) The namespace prefixes used in the documentation do not match

[2015-07-24 04:33] zednis commented on #16
@bduggan We have a python script that will fix the anchor tags in the generated HTML.  Where do you think we should add it?  How about a /scripts directory in this repository?

[2015-07-24 04:40] zednis commented on #82
Current class definition:

[code]

The second definition of 'table' from the New Oxford American Dictionary aligns pretty closely with the definition we have been using.  I am fine with keeping what we have.

table |ˈtābəl|
noun
1 a piece of furniture ...
2 a set of facts or figures systematically displayed, especially in columns: the population has grown, as shown in table 1 | a table of contents

[2015-07-24 04:51] zednis commented on #81
I agree that we are using it incorrectly.
1. It is an object property and we are using it as a datatype property
2. This is not an instructional comment on how to cite this entity but a statement that this entity cites another entity (publication or person)

I think we should determine what we want to say here (description to user on how to cite this entity or statement that this entity cites anot

[2015-07-24 04:55] zednis commented on #80
`dbpedia:AcademicJournal` is an instance, not a class.  It is an RDF description of the wikipedia page http://en.wikipedia.org/wiki/Academic_journal.

My gut reaction is that we do not need to tie our class to this instance and we definitely should not attempt to use it as a class.

[2015-07-24 05:10] zednis commented on #22
Should we remove `gcis:accessURL` and `gcis:downloadUrl` from the ontology?

[2015-07-24 05:13] zednis commented on #71
Perhaps we use a very broad domain such as `prov:Entity` or remove the domain altogether?

[2015-07-24 05:30] zednis commented on #68
I am not sure what this request is asking for.

@justgo129 could you please reword or provide another example?

[2015-07-24 05:32] zednis commented on #69
Unless I am misunderstanding the purpose of a lexicon, a lexicon is just a controlled vocabulary.  I do not think there should be specific property for association a lexicon to instrument or mission individuals.

[2015-07-24 05:34] zednis commented on #70
There are many existing ontologies for describing measurements, but how we use the term 'measurement' is important - as it is a term with many different interpretations in usage.

Can you provide an example of how you would like to use 'measurement' in the instance data?

[2015-07-24 12:07] rewolfe commented on #82
I think all we need to do is remove "A list", so it becomes

"Facts or or numbers arranged in a special order, usually in rows and
columns."

On Fri, Jul 24, 2015 at 12:40 AM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-24 12:10] justgo129 commented on #82
Fine with me.  Let's proceed with the pull request.

[2015-07-24 12:11] justgo129 commented on #80
Great.  Closed #80.

[2015-07-24 12:11] #80 closed

[2015-07-24 12:14] justgo129 commented on #68
Sure.
Regarding: http://data.globalchange.gov/platform/topex-poseidon
there is a hyperlink to "directory.eoportal.org...."  That's actually called the description_attribution field in the database.  The description of the entity is pulled directly from directory.eoportal.org...
I am suggesting we find a predicate to express the relationship between a platform/instrument/etc and the URL provided as

[2015-07-24 12:17] rewolfe commented on #71
I'm okay with removing the domain altogether for now.

We are thinking about adding the concept of Project in support of ideas
that USGS has for the ESIP testbed.  At that point, we may want to think
about how instruments and platforms are related to projects.  What NASA
calls missions could be considered a special type (subclass) of project.
Also, what we have been thinking about as earth observi

[2015-07-24 12:17] justgo129 commented on #70
Sure.  Here, seem solely to be using "measurement" to relate an "instrument_instance" (now just "instrument" in the turtle) to the datasets derived from it.  @rewolfe?

[2015-07-24 12:21] justgo129 commented on #71
+1 for removing the domain

[2015-07-24 12:25] rewolfe commented on #70
I'm concerned that if we focus on an instrument instance, we exclude the
more general case where a measurement is associated with a class of
instruments (e.g. AVHRR of which there are many, lots of in situ cases).
Measurement is also a general term that could be applied to a social or
economic survey (e.g. census).

On Fri, Jul 24, 2015 at 8:17 AM, justgo129 notifications@github.com wrote:

##

Ro

[2015-07-24 12:27] justgo129 commented on #70
@rewolfe That makes a ton of sense.  Let's use a broader term then, relating an entity to the dataset produced from it.  Is there anything generic enough that we can use?

[2015-07-24 12:39] justgo129 commented on #70
How about gcis:producedDataset, or prov:generated?
gcis:producedDataset a owl:ObjectProperty ;
    rdfs:label "Produced Dataset" ;
    rdfs:comment "An activity generates datasets." ;
    rdfs:range gcis:Dataset ;
    rdfs:subPropertyOf prov:generated.

Contents copied from OWL file.
If we change "activity" to an entity or activity, we may be good to go.

[2015-07-24 12:54] bduggan commented on #16
On Friday, July 24, Stephan Zednik wrote:

Sure, sounds fine.

Brian

[2015-07-24 13:00] justgo129 commented on #33
Closed #33 due to merged https://github.com/USGCRP/gcis/pull/200.

[2015-07-24 13:00] #33 closed

[2015-07-24 13:00] justgo129 commented on #19
Closed #19 due to merged https://github.com/USGCRP/gcis/pull/201.

[2015-07-24 13:00] #19 closed

[2015-07-24 13:08] justgo129 commented on #82
Closed #82 on account of merged https://github.com/USGCRP/gcis-ontology/pull/94.

[2015-07-24 13:08] #82 closed

[2015-07-24 13:15] justgo129 commented on #9
Closed #9 on account of merged https://github.com/USGCRP/gcis/pull/200.

[2015-07-24 13:15] #9 closed

[2015-07-24 13:18] justgo129 commented on #5
Hi everyone, I'm elevating the priority of this ticket due to our recent discussion, and rephrasing it from a question to a request for additional SPARQL queries.

[2015-07-24 13:20] justgo129 commented on #22
+1 for removing gcis:accessURL and gcis:downloadUrl from the ontology.

[2015-07-24 13:31] justgo129 commented on #67
We have gcis:isSupportedBy but it doesn't explicitly pertain to figures or datasets:
gcis:isSupportedBy  a owl:ObjectProperty ;
    rdfs:label "Is Supported By" ;
    rdfs:comment "A finding is supported by data, models, model runs, software, etc.";
    rdfs:domain gcis:Finding .

[2015-07-24 13:37] zednis commented on #70
It actually sounds like we talking about the relationship between agents and datasets, so I would use or extend `prov:wasAttributedTo` (entity to agent) or its inverse `prov:contributed` (agent to entity).

[2015-07-24 13:48] justgo129 commented on #84
@rewolfe - currently the only instances of these used in the turtle templates are:
gcis:hasURL
gcis:descriptionOfEvidenceBase
gcis:Finding (but that definition is reading all right to me now).

However, we definitely need to change the definitions for the following in order to be more insightful.  It might just be best to find out the official definitions from various USGCRP assessments and use th

[2015-07-24 13:53] justgo129 commented on #78
Thanks for the clarification, @xgmachina.  Although the difference now makes more sense, could we change the predicates to clarify the distinction?  @rewolfe ?

[2015-07-24 14:04] justgo129 opened #95 "dbpedia:Natural_number (class as property)"
As a "child" issue of: https://github.com/USGCRP/gcis-ontology/issues/12 , we use dbpedia:Natural_number as a property.

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/finding/object.ttl.tut

The aim was to identify a predicate to refer to a number to the right of a decimal place.  e.g. the "11" in "Finding 2.11."

I'm not even sure we need this triple and can't immediately th

[2015-07-24 14:08] #83 closed

[2015-07-24 14:10] justgo129 commented on #69
@zednis your logic makes sense.  If @bduggan and @rewolfe agree, we can close this ticket.

[2015-07-24 14:12] bduggan commented on #69
I would say we have covered lexicons more generally already; this ticket can be
closed.

[2015-07-24 14:20] justgo129 opened #96 "gcis:Project, Model as property"
Like https://github.com/USGCRP/gcis-ontology/issues/95 this is a spinoff of #12.  Here, the turtle for models, in addition to projects, incorrectly uses classes as properties:
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/model/object.ttl.tut

Example with instance data:
http://data.globalchange.gov/model/ccsm3.thtml

I was unable to locate a candidate "property" relating a m

[2015-07-24 15:03] zednis commented on #69
If @rewolfe agrees I will close this ticket.

[2015-07-24 15:07] zednis commented on #68
seeAlso?

[2015-07-24 15:08] justgo129 commented on #68
Hmm, what we need to describe is the URL for the source from which the description described above was pulled.

[2015-07-24 15:14] zednis commented on #68
I believe rdfs:seeAlso is appropriate for that need.

[code]

[2015-07-24 15:17] zednis commented on #68
We could also use dublin core terms source http://dublincore.org/documents/dcmi-terms/#terms-source

[2015-07-24 15:25] justgo129 commented on #68
I like the terms-source.  As a point of information, would one explicitly call out xsd:anyURI or xsd:string given the comment for that term?  Regardless, let's run with it and prepare the pull request.

[2015-07-24 15:29] zednis commented on #68
Neither, it is intended to be used with non-literal values (i.e. as an object property)
see http://wiki.dublincore.org/index.php/User_Guide/Publishing_Metadata#dcterms:source.

If we want to reference a URL we would do this:

[code]

If we don't have a URL, just a string description of the source, we would do this:

[code]

[2015-07-24 15:30] justgo129 commented on #68
Great.  Let's run with it and merge.

[2015-07-24 16:00] justgo129 commented on #81
The latter, a statement that says that one entity cites another: either through a formal in-text citation or from an indirect one like "(source: NCDC)" , "source: NASA / GSFC," or "Updated from NASA (2006)" or even less formal.

[2015-07-24 16:05] justgo129 commented on #81
Examples:
"Source: Ma and Zednik (2009)"
 "(source: NCDC)"
"source: NASA / GSFC,"
 "Updated from NASA (2006)"
"NOAA NCDC / CICS-NC"

As is evident, sometimes the word "source:" appears in the instance triples, sometimes not.

[2015-07-24 16:14] zednis commented on #81
This is a much more relaxed description than is intended with `dcterms:references` which `gcis:cite` extends.

from http://wiki.dublincore.org/index.php/User_Guide/Publishing_Metadata#dcterms:references

[code]

The examples you have provided show a much more relaxed and human-readable description of a citation rather than triples that semantically represent the  citation itself.

[2015-07-24 16:40] justgo129 commented on #81
Nice example.  Is there any predicate that can be used informally?  I found dbpedia:cites.  http://dbpedia.org/ontology/cites

It's a datatype property.  "A document cited by this work. Like OntologyProperty:dct:references, but as a datatype property."  @rewolfe or @zednis please confirm that this would work and we can finish out this ticket.

[2015-07-24 18:35] justgo129 commented on #22
I can prepare the pull request for removing the two aforementioned items and close this ticket.  @rewolfe is this solution acceptable?

[2015-07-24 18:42] justgo129 commented on #70
If @bduggan , @aulenbac , or @rewolfe agree with this approach, I'll prepare the pull request using prov:contributed (agent to entity).

[2015-07-24 18:43] zednis commented on #95
I do not think we need to have an additional separate statement for the number to the right of the decimal point in the number value of the finding number.

[2015-07-24 18:45] zednis commented on #96
To verify, we are looking for a property to relate reference a project instance from a model instance.

What are the semantics here?  Did the project create the model, use the model, something different?

[2015-07-24 18:45] justgo129 commented on #95
Sounds reasonable to me.  I'll prepare the pull request to have it removed.  We could always revert it later upon request.

[2015-07-24 18:46] zednis commented on #95
:+1:

[2015-07-24 18:54] zednis commented on #70
Oddly enough, we will want to add a definition of `prov:contributed` to the gcis ontology (in the prov namespace).  There was not agreement to formally define inverse properties for all RDF properties in PROV (because they we not formally defined in PROV-N) but the PROV-O team developed suggested property URIs for inverse properties.

`prov:wasAttributedTo` is formally defined.  `prov:contributed`

[2015-07-24 22:00] justgo129 commented on #84
Indeed, the defns of these four are in the "About this Report" chapter.  I'll update the four accordingly, plus that for gcis:hasURL.  We can then finish off this ticket.

[2015-07-26 18:53] justgo129 commented on #95
Closed #95 on behalf of https://github.com/USGCRP/gcis/pull/209.

[2015-07-26 18:53] #95 closed

[2015-07-26 18:59] #71 closed

[2015-07-26 19:00] justgo129 commented on #71
Domain for gcis:hasGoverningOrganization removed.

[2015-07-27 16:00] rewolfe commented on #69
Yes, let's close this ticket.

On Fri, Jul 24, 2015 at 11:03 AM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-27 17:37] xgmachina commented on #86
And, check the prefix.cc site page: http://prefix.cc/gcis

[2015-07-27 18:02] xgmachina commented on #84
Revisit definition of gcis:Dataset to encompass health data in addition to those from the NCA3.

[2015-07-27 18:10] justgo129 commented on #69
Closed #69 without making a change in github.

[2015-07-27 18:10] #69 closed

[2015-07-27 18:21] xgmachina opened #101 "D4 generalizing definitions of roles"
Various classes and properties in the ontology referring to author/contributor roles have definitions specific to NCA3.  Given that many non-NCA3 documents are cited or will be traced in the GCIS, we prefer generalizing those definitions.

i.e.: http://data.globalchange.gov/gcis.owl#ReviewEditor
      http://data.globalchange.gov/gcis.owl#ContributingAuthor
      http://data.globalchange.gov/gcis.

[2015-07-27 18:23] xgmachina opened #102 "D5 role types"
An expansion of new D5:
    We have expanded GCIS to include many roles, including “coordinating lead author,” “lead agency,” etc.  See:
http://data.globalchange.gov/role_type

Would we need special classes for each in the ontology?  We don’t always know what those responsibilities entail.

[2015-07-27 18:26] xgmachina opened #103 "dcterms:publisher and gcis:hasPublisher"
Please advise whether it be possible to relate dcterms:publisher with gcis:hasPublisher while retaining the properties of the latter term?  Side point: could we revisit the definition for gcis:hasPublisher to incorporate that for gcis:Publisher? so as not to include the term to be defined in its definition?

[2015-07-27 20:05] xgmachina commented on #102
Now that role_type is a first-class object in the database, please inform whether all role_types presented need to be called out in the GCIS Ontology.  I ask because all role types in the ontology are assigned to be subclasses of prov:Role.  Alternatively stated, could the Ontology contain some role types (subclass prov:Role) and not other “roles?”

[2015-07-27 20:06] xgmachina opened #104 "I7 Add the concept of “observation system”"
Add the concept (class) of “observation system” (alternatively “observing system” or “measurement system”) to allow for aggregation of multiple platform/instruments.  E.g.  NOAA POES is a observation system that includes all of the NOAA-n polar orbiting platforms.

[2015-07-27 20:14] xgmachina opened #105 "J7 class for “Indicator”"
Please create a term for “Indicator.”
See the page accessible at: http://www.globalchange.gov/browse/indicators

[2015-07-27 20:15] xgmachina opened #106 "J8 a term or utilize an existing one for “Societal Benefit Area”"
Please create a term or utilize an existing one for “Societal Benefit Area” as used in the Earth Observations Assessment.  See: http://www.aprsaf.org/data/feature/f_086_3.pdf

[2015-07-27 20:16] xgmachina commented on #106
Would this be a property in GCIS ontology and each “Societal Benefit Area” will be a skos:Concept instance?

[2015-07-27 20:20] xgmachina opened #107 "J9 terms for GCIS entries pertaining to gcmd keywords"
Please identify or create terms for GCIS entries pertaining to gcmd keywords, e.g.
http://data.globalchange.gov/gcmd_keyword/00fc45e0-400d-4024-a82a-4d6544735f64.html
http://data.globalchange.gov/gcmd_keyword/00fc45e0-400d-4024-a82a-4d6544735f64.thtml

Notably, for the “GCMD Metadata,” “Ancestors,” “gcmd_keywords,” and “parent” fields.  Please advise whether the turtle uses dcterms:subject correct

[2015-07-27 20:21] xgmachina commented on #107
Do you mean a property to link a GCIS object to one or more gcmd keywords?

[2015-07-27 20:24] xgmachina opened #108 "J6 uses of schema:isRelatedTo"
When relating a file to a publication, is schema:isRelatedTo the correct property to use?  See e.g.: https://data.globalchange.gov/file/c18de699-ad4e-4055-8557-58ac989fe18c.thtml

[2015-07-27 22:06] zednis commented on #107
:+1: to @xgmachina's question.  If the question is to identify a property to use to associate GCMD keyword concepts with GCIS report content, have you looked at `gcis:subject`?

[2015-07-28 01:45] justgo129 commented on #107
@xgmachina and @zednis I'm not sure what you're asking.  I'm basically asking to identify the predicates/properties mentioned on a page pertaining to gcmd keywords, e.g. http://data.globalchange.gov/gcmd_keyword/00fc45e0-400d-4024-a82a-4d6544735f64.html
http://data.globalchange.gov/gcmd_keyword/00fc45e0-400d-4024-a82a-4d6544735f64.thtml

for "parent_identifier," "Ancestors," etc..  Some are alread

[2015-07-28 01:47] justgo129 commented on #106
I'd say both a property and a subject.  e.g.:
"Health" as an SBA (subject) would have properties of being related to various datasets or observing systems.

Alternatively, a dataset or observing system (subject) could have its being tied to an SBA as a property.

[2015-07-28 01:49] justgo129 commented on #96
As an example, we're trying to relate ccsm3 (model) with CMIP3 (project), and vice-versa.  I'd say the model is part of the project (okay, the running of the model is part of the project).  I'm not sure dcterms:isPartOf or dcterms:hasPart would be adequate.

[2015-07-28 01:50] justgo129 commented on #86
@rewolfe I'll defer this your way.

[2015-07-28 01:53] justgo129 commented on #16
Closed #16 due to #98.

[2015-07-28 01:53] #16 closed

[2015-07-28 01:55] justgo129 commented on #105
@rewolfe I'm content to use the definition on the aforementioned webpage:
"Indicators are observations or calculations that can be used to track conditions and trends. "

Please confirm that this is acceptable.

[2015-07-28 14:39] justgo129 commented on #22
Closed #22 via merged #109.

[2015-07-28 14:39] #22 closed

[2015-07-28 14:56] rewolfe commented on #105
Good definition. +1

On Mon, Jul 27, 2015 at 9:55 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-28 15:03] justgo129 commented on #105
Thanks, @rewolfe.  Would the domain be a "report" or would it be blank?

[2015-07-28 15:07] rewolfe commented on #105
@justgo129 - I think so

On Tue, Jul 28, 2015 at 11:03 AM, justgo129 notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-28 15:07] rewolfe commented on #105
@justgo129 - actually, I meant that I think the domain should be a report

On Tue, Jul 28, 2015 at 11:07 AM, Robert Wolfe rewolfe@usgcrp.gov wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-28 15:09] justgo129 commented on #84
Merged #99 (pull request).

[2015-07-28 15:46] zednis commented on #72
I think we should do some research on the 'preferred' ISO 19115 OWL encoding.  There are a couple out there, and if OGC has a preferred encoding I think we should use that.

Simon Cox is heavily involved in RDF/OWL encodings for OGC/ISO standards has an OWL encoding of ISO 19115 at http://def.seegrid.csiro.au/static/isotc211/iso19115/2003/extent.ttl.  I will ask him what the current preferred enco

[2015-07-28 15:56] xgmachina commented on #108
The domain and range of `schema:isRelatedTo` are both `schema:Product`. If we regard the PDF and the publication both as product then it should be okay to use `schema:isRelatedTo`  there.

[2015-07-28 15:58] xgmachina commented on #102
I support the idea to define a list of subclasses of `prov:Role` for organizing the various types of roles.

[2015-07-28 16:01] xgmachina commented on #105
@justgo129 Oh, originally I was thinking you suggest a class for 'Indicator'. Or, can we create a pair - `gcis:Indicator` as a class and `gcis:hasIndicator` as a property?

[2015-07-28 16:01] zednis commented on #102
I think I support the suggestion but I would prefer we work through an example before closing this issue.

[2015-07-28 16:02] zednis commented on #72
I have sent a message to Simon and will update this thread with his response.

[2015-07-28 16:12] zednis commented on #105
Let's work through an example to determine if indicator should be a class or just a property.

[2015-07-28 16:17] zednis commented on #105
Also, TW previously did some modeling of indicators related to the DPSIR conceptual framework.  http://tw.rpi.edu/media/2012/12/01/a279/AGUFM2012-ED41A-0666-PW.pptx

This may be useful to review.

[2015-07-28 16:20] justgo129 commented on #105
We won't need gcis:hasIndicator.  If anything it would be a subclass of report, or a subclass of a document, An example is:
https://data.globalchange.gov/report/indicator-start-of-spring

No need to worry about this too much since it's not really a high priority for now.

[2015-07-28 16:50] congruili commented on #108
do we want to make pdf and publication some subclasses of `schema:Product`, or we just want to treate them as instances of `schema:Product`?

[2015-07-28 18:27] xgmachina commented on #107
@justgo129 I think I got what you mean. It is about properties/attributes describing the hierarchical relationships among gcmd keywords. GCMD uses skos as the schema for encoding the hierarchical relationships among keywords, so those properties and information describing 'parent' and 'ancestor' on the html user interface are generated from the skos. I do not see the needs to create new properties

[2015-07-28 18:39] xgmachina commented on #105
From that example it seems an indicator is a kind of report.

[2015-07-28 19:05] rewolfe commented on #105
We've discussed making it a subclass of publication (like book, report,
etc.), instead of a kind of report.

On Tue, Jul 28, 2015 at 2:39 PM, Marshall.Ma notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-07-28 19:33] xgmachina commented on #104
Quote a definition from Wikipedia 'Earth observation systems consist of instruments and models designed to measure, monitor and predict the physical, chemical and biological aspects of the Earth system' https://en.wikipedia.org/wiki/Global_Earth_Observation_System_of_Systems#Earth_observation_systems
Do we focus on 'Earth' observation systems here or more general?

[2015-07-28 19:38] xgmachina commented on #103
`dcterms:publisher` - An entity responsible for making the resource available.
`gcis:hasPublisher` - A publication has a publisher that produced it and made it available to the public.
@justgo129 Can you specify the question a bit more?

[2015-07-28 19:42] xgmachina commented on #102
+1 to @zednis. @justgo129 can we get some examples of those roles that represent different types?

[2015-07-28 20:59] xgmachina commented on #96
FYI, `gcis:Project` is a subclass of `prov:Agent`.
Should I say a model can be used in many projects through model runs.

[2015-07-28 21:26] zednis commented on #96
I do not think either `dcterms:isPartOf` or `dcterms:hasPart` are appropriate.

Also, our conceptual modeling here will be dependent on the resolution of #17.

If we resolve #17 with the addition of the class `gcis:ModelRunOutput` (subclass of `prov:Entity`) then we can use PROV to say that the ModelRunOutput was attributed to the Project (note: I am assuming we are wanting to say that the project

[2015-07-28 21:29] zednis commented on #17
@xgmachina do you want to prepare this pull request, or should I?

[2015-07-29 00:38] zednis commented on #72
Here are Simon's responses to my questions on ISO 19115 extent encodings in OWL.

SZ:  Do you know if there is a preferred encoding of ISO 19115 extents in OWL?

SZ: So far I have found https://ontohub.org/socop/ISO19115.owl

SZ:  and http://def.seegrid.csiro.au/static/isotc211/iso19115/2003/extent.ttl

[2015-07-29 14:13] rewolfe commented on #104
It is interesting that models are included in this definition.  This
doesn't quite match how Observing Systems are being used by OSTP.  For
instance, in the 2014 National Plan for Earth Observation
https://www.whitehouse.gov/sites/default/files/microsites/ostp/NSTC/2014_national_plan_for_civil_earth_observations.pdf,
page 7:

_The term “Earth observations” refers to data and products derived from

[2015-07-29 14:35] congruili commented on #77
How exactly would we want to relate gcis:Image and gcis:Figure to the doco ontology? What's the purpose of it?

[2015-07-29 14:39] justgo129 commented on #77
To increase robustness of searches.  e.g. someone searching for gcis:Figure in an extended SPARQL query

[2015-07-29 14:49] congruili commented on #77
`doco:Figure` -- A communication object comprising one or more graphics, drawings, images, or other visual representations.
Also make `gcis:Figure` subclass of `doco:Figure`?
There's no class related to "image" in the doco ontology though.

[2015-07-29 14:54] justgo129 commented on #77
Thanks.  Other ontologies then?  Dbpedia?  Fabio?  Mainly, I'd just like to see further robustness for gcis:Image and gcis:Figure if at all possible to account for the fact that many users may not be searching under "gcis:Image" and "gcis:Figure" in order to locate these items.

[2015-07-29 15:08] congruili commented on #77
foaf has an image class, but no"figure".

http://xmlns.com/foaf/spec/#term_Image

[2015-07-29 15:24] justgo129 commented on #77
It might just be best to just look at figures, then, assuming that our definition for figure matches others.  Please feel free to suggest specific examples of potential compatibility for future discussion, given our immediate interest in additional SPARQL queries:

gcis:Figure a owl:Class ;
    rdfs:label "Figure" ;
    rdfs:comment "A graphical/visual item in a publication that normally is referr

[2015-07-30 12:57] #68 closed

[2015-07-30 13:09] justgo129 commented on #107
Works for me.  Closed #107 with no changes made.

[2015-07-30 13:09] #107 closed

[2015-07-30 13:10] justgo129 commented on #96
Sounds good.  I'll defer to the judgement of @rewolfe and @bduggan on this one.

[2015-07-30 13:11] justgo129 commented on #70
@zednis please feel free to proceed with this one.  Although important, it's not a real high priority at this time.

[2015-07-30 13:13] justgo129 commented on #102
http://data.globalchange.gov/role_type

We may need to discuss this issue prior to the taking of any action though.

[2015-07-30 13:25] justgo129 commented on #103
I'll rephrase: can we relate dcterms:publisher (or some other term) with gcis:hasPublisher in some way?  The sole reason for this question is enhancing search-ability in SPARQL queries wherever we can.

[2015-08-04 16:04] justgo129 opened #112 "xsd:gYear in SPARQL"
Hi everyone,
  I notice that xsd:gYear isn't supported by SPARQL.  See:
http://www.w3.org/TR/2013/REC-sparql11-query-20130321/#operandDataTypes

We do have instances of xsd:gYear in our turtle, e.g. when calling out publishing for publications, e.g. http://data.globalchange.gov/article/10.1289/ehp.8430.thtml
(See 4th triple)

@zednis @xgmachina Please confirm that xsd:gYear isn't supported by SPAR

[2015-08-04 16:09] zednis commented on #112
@justgo129 Where does the link you provided say that gYear isn't supported in SPARQL?

Also, what is our desired usage of gYear in SPARQL?  I suspect we can return and order publications by year just fine.  Do we have a query that is attempting a filter by year that isn't working?

[2015-08-04 16:11] justgo129 commented on #112
@zednis another link is:
http://www.w3.org/TR/2013/REC-sparql11-query-20130321/#otherTermConstraints

While it doesn't say that xsd:gYear isn't supported by SPARQL, it's not included in the list of related xsd types that are.

We've mostly been using gYear for publication dates, similar to the above example.

[2015-08-04 16:16] zednis commented on #112
Is there a specific operator you are concerned about?  We will be able to retrieve and order by the publication years just fine.  The only thing I can think of that ~might~ not work would be filter by year ranges, but even then I think it will work just fine.

Please attempt to find a SPARQL usage that is not working as intended.

[2015-08-04 16:23] justgo129 commented on #112
Sure.  The aim of this SPARQL query is to return the NCA3 findings based on
material published after 2009.  Not a great idea for a query clearly but
it's a start.

Because the URL for the query within yasgui is so long, here is the SPARQL
query:
PREFIX rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
PREFIX rdfs: http://www.w3.org/2000/01/rdf-schema#
PREFIX gcis: http://data.globalchange.gov/gcis.

[2015-08-04 16:30] zednis commented on #112
Is that number less than expected?  I see 161 total findings in the report so that is 85% of the total findings.

[2015-08-04 16:51] justgo129 commented on #112
Possibly less but it's in the ballpark.  Why is the xsd:gYear suffix produced:
"2010-01-01T00:00:00-06:00"^^xsd:gYear

in-lieu of simply "2010?"
My understanding was that xsd:gYear serves as a function to strip the xsd output.  Is it a function of a bad query (which I had adapted from another source which I don't recall), or an issue with attempting to perform a query on a triple with an xsd:gYear

[2015-08-04 16:55] zednis commented on #112
It is probably an artifact from the endpoint implementation converting the xsd:gYear to a xsd:datetime to perform comparison operations.  I do not expect all SPARQL endpoints to act the same.

Also I ran the following query to find all findings that have no cited work from after 2009 and I got 24 results, so I believe the 137 results from the earlier query is accurate.

[code]

[2015-08-04 17:19] justgo129 commented on #112
Works for me.  @bduggan or @rewolfe please feel free to close unless you'd like to continue discussing further.

[2015-08-04 19:03] zednis opened #113 "generate author report"
"Generate a list of all NCA3 authors, sortable by chapter and organization.  Each author can only be mentioned once but nonetheless all chapters authored be stated and captured."

This is the request that Bryce [NCO Colleague] had received a while back.

[2015-08-04 19:04] zednis opened #114 "Generate report on author self-citation"
"Ascertain whether NCA3 authors cited their own work in their chapters, and if so, to what extent [we might not be there yet given our discussions of representation]."

[2015-08-04 19:05] zednis opened #115 "Generate NCA graphic source report"
"Calculate how many of the graphics in the NCA3 have source "CICS / NC" or a variation."

[2015-08-04 19:07] zednis opened #116 "generate report on NCA report findings cited works"
"Locate all findings based at least partially on articles with a top journal ranking (e.g. Nature and Science) per an official citation metric of one's choice, and calculate the percentage of total references."

[2015-08-04 19:08] zednis opened #117 "Generate report comparing launch dates in GCIS vs dbpedia for same platforms"
Compare the launch dates of platforms in GCIS (i.e. from CEOS) to launch dates from dbpedia.

[2015-08-04 19:09] zednis opened #118 "generate report on NCA author ORCID prevalence"
"Find the most frequent authors of articles cited by the NCA3.  Is a mashup possible using ORCIDs?  What other endpoints have ORCIDs for people?"

[2015-08-04 19:38] justgo129 opened #119 "API, yasgui"
The query at:
http://yasgui.org/short/41c-7Z99

returns outputs of "true."

However, running an identical query in the GCIS API returns an error:
"Virtuoso 37000 Error SP031: SPARQL compiler: Variable 'findingStmt' is used in the query result set but not assigned."

I'm curious as to why this so.  Is it a Virtuoso implementation issue?

[2015-08-04 19:47] zednis commented on #119
The query in yasgui is flawed and yasgui ~should~ throw an error on it.

The function str( ) is being called on an unassigned variable - ?findingStmt

[2015-08-04 19:48] justgo129 opened #120 "Yasgui implementation - differs slightly from #119"
Hi everyone,
  With regard to the query at:
http://yasgui.org/short/41c-7Z99

Note that it returns a series of "true" values.

However, if we make the "s" within the function call on line 8 (i.e. "str(?findingStmt)" -> "str(?findingstmt"), without changing anything else a different result is produced.  I have illustrated this at: http://yasgui.org/short/VychSZqq .  I think I know why, because the

[2015-08-04 19:48] justgo129 commented on #119
My understanding was that str() could be called on an unassigned variable if only used within the "select" portion of the query.

[2015-08-04 19:52] zednis commented on #119
What would you expect it to return?

[2015-08-04 20:03] justgo129 commented on #119
The string without the "xsd:..." suffix.

[2015-08-04 20:08] zednis commented on #119
?findingStmt is never assigned a value at any point in that query.  Case matters, and a variable with that case is not used anywhere in the query.  ?findingStmt and ?findingstmt are different variables.

Perhaps you meant something like this?  (I named the variables to reduce confusion)

[code]

[2015-08-04 20:22] justgo129 commented on #119
Ah, great, so case does matter.  Thanks.

[2015-08-04 20:23] justgo129 commented on #119
I'm curious as to why "true" in-lieu of something else was returned within yasgui though. I don't see a conditional statement other than the "FILTER NOT EXISTS" in the query.  Is it responding to the line:
"str(?findingstmt) as ?stmt" or to another one?

[2015-08-04 20:53] justgo129 commented on #120
Answered in #119.

[2015-08-04 20:53] #120 closed

[2015-08-04 21:07] zednis commented on #119
Case matters in the variables it does not matter in SPARQL keywords

`SELECT ?x  ?y { ... } ORDER BY ?x` is the same as `select ?x ?y { ... } order by ?x`

`?foo` is a different variable from `?Foo`

[2015-08-04 22:37] justgo129 commented on #119
Got it, but I'm curious as to why "true" is returned (i.e. in-lieu of something else or an error message).  Which portion of the code is being tested in order to return a true/false response?

[2015-08-04 22:38] justgo129 commented on #118
As an additional aside, various people with the same name as NCA3 authors have ORCIDs, but are not the same people as the authors.  See e.g.: http://orcid.org/0000-0003-2869-9426 , which refers to a Tom Karl who differs from the NCA3 report editor.  We may need to inspect manually, but if you could think of a nice little wrinkle to check for it through some method, it would be really cool.  I'd so

[2015-08-04 23:15] justgo129 opened #121 "Revised GCIS SPARQL Example #2"
Given #95, the second SPARQL example on GCIS no longer generates results.  I have thus modified the query:

PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX dbpedia: <http://dbpedia.org/resource/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX gcis: <http://data.globalchange.gov/gcis.owl#>

SELECT DISTINCT
str($chapterTitle) as $Chapter_Title
str($findingNumber) as $Finding_Number
str($f

[2015-08-05 19:41] justgo129 commented on #35
Closed via merged https://github.com/USGCRP/gcis-ontology/pull/93.

[2015-08-05 19:41] #35 closed

[2015-08-05 19:47] justgo129 commented on #116
Also, as an interesting exercise, note that 11 of the NCA3 findings are "report findings" and are thus findings of the entire report, not of particular chapters.
https://data.globalchange.gov/report/nca3/finding?page=8

[2015-08-05 19:48] justgo129 commented on #121
Also, note that 11 of the NCA3 findings are "report findings" and are thus findings of the entire report, not of particular chapters.
https://data.globalchange.gov/report/nca3/finding?page=8

As such, they do not appear here.  We might need to add something akin to "if ! chapter, than report->finding";

[2015-08-05 20:20] zednis commented on #116
@justgo129 did you mean to close this ticket?

[2015-08-05 20:21] justgo129 commented on #116
Oops, didn't mean to, I hit the wrong button.  I'm sorry.  Thanks for catching that.

[2015-08-05 20:24] zednis commented on #119
@justgo129 I really don't know.  That seems like a bug to me.  I would expect an error message from YASGUI just as we got from the endpoint used by the GCIS API.

[2015-08-05 20:25] zednis commented on #121
What file have you modified?  The above query is not legal SPARQL syntax so I assume you are showing a template that is generating a query.

[2015-08-05 20:35] zednis commented on #113
@justgo129 Should I include the author's role?  (editor, lead author, author)

[2015-08-05 20:36] justgo129 commented on #121
@zednis, correct.  The original query contained a call-out to dbpedia:Natural_number which we deleted in #95.  I no longer have the original query as I've pulled in the changes.  The query as it appears on prod is:

PREFIX dcterms: http://purl.org/dc/terms/
PREFIX dbpedia: http://dbpedia.org/resource/
PREFIX xsd: http://www.w3.org/2001/XMLSchema#

SELECT
    str($findingNumber) as $findingNumber

[2015-08-05 20:38] justgo129 commented on #121
(I'll use markdown in the future to denote URLs.  <> where necessary were input into the original query.)

[2015-08-05 20:39] justgo129 commented on #113
That would be great.  So technically we'd be asking for "contributors" rather than "authors."

[2015-08-05 20:40] zednis commented on #121
@justgo129 are you confusing `?` with `$` in your query?  What you have posted is not a valid SPARQL query.

Also just use 3 backticks at the beginning and end of a section of code or a query to have it treated as code and the < and > not be formatted.

[code]

[2015-08-05 21:08] justgo129 commented on #121
I've seen them used (perhaps inaccurately) interchangeably.  I'll close this ticket for now.  @zednis let's chat offline about this at your convenience.

[2015-08-05 23:35] zednis commented on #113
@bduggan @justgo129 This should be doable in a SPARQL query, but the virtuoso instance that appears to be running the endpoint does not seem to fully support group_concat( ).

from the footer on http://data.globalchange.gov/sparql it appears we are running Virtuoso version 06.01.3127 (from 2011?).

Would it be possible to explore upgrading the version of virtuoso we are using as our endpoint?  If

[2015-08-06 00:09] justgo129 commented on #113
@zednis would upgrading the version of Virtuoso also provide ability to query classes from subclasses?  For instance, a query "a prov:Entity" doesn't generate a list of platforms, instruments etc which are defined as subclasses of prov:Entity within the gcis ontology.  In short. I'm wondering whether upgrading would allow us to "kill two birds with one stone."

[2015-08-06 00:13] zednis commented on #113
To support the subclass query you describe we need to utilize RDFS or OWL inference.

We should look at virtuoso to see if there is an option to enable query-time (e.g. backward-chaining) RDFS inference.  That may be available on the version of virtuoso you are running or a newer version.

First, let's confirm the version of virtuoso we are using and then we can see where we stand on these two fea

[2015-08-06 02:42] zednis commented on #113
@justgo129 It looks like virtuoso supports `rdfs:subClassOf` and `rdfs:subPropertyOf` inferences (and a few others).  We should be able to enable it with some configuration changes.

http://docs.openlinksw.com/virtuoso/rdfsparqlrule.html

[2015-08-06 12:49] bduggan commented on #113
On Wednesday, August  5, Stephan Zednik wrote:

Yes, but probably not for a while.  Another issue with this version
(or possibly just the configuration) is that federated queries don't
work.  I find virtuoso to be very cumbersome to maintain and configure
and would be fine moving to another triple store.  I have heard good
things about blazegraph (for instance, that they are being used by
wikidata

[2015-08-06 14:42] zednis commented on #113
ok, I think it would make sense to create a new ticket or email thread around SPARQL endpoint issues so we can keep track of functionality we are having trouble getting to work and discussions of possible solutions (upgrading, change endpoint, etc)

[2015-08-06 14:53] zednis commented on #113
Here is a query that gets basic NCA3 chapter contributor information.  It does not group the chapters for each contributor into a single value because I was unable to get SPARQL's GROUP_CONCAT to work correctly with the endpoint. (I was able to get a weird non-standard form of sql:GROUP_CONCAT to somewhat work, but it included duplicates)

Also, I am currently returning role information as well.

[2015-08-06 14:56] justgo129 commented on #113
Thanks, @zednis.  I pasted the query into the GCIS (https://data-stage.globalchange.gov/sparql) but got no outputs other than column names though.  Do you know why?

[2015-08-06 14:59] zednis commented on #113
@justgo129 I do not.

Try it in http://data.globalchange.gov/sparql or with yasgui.org

[2015-08-06 15:09] zednis opened #123 "role information in the tripelstore appears to be missing"
@bduggan @justgo129

When building my query on report chapter contributors I noticed that role labels/descriptions do not appear to be accessible via the endpoint.

Looking at the RDF of the lead author role at http://data.globalchange.gov/role_type/lead_author.thtml it appears there is both a ``dcterms:identifier`` and ``prov:label`` for the role instance.

**NOTE** - that should be ``rdfs:label`

[2015-08-06 15:11] zednis commented on #123
To support the theory that role information is not being imported into the triplestore; the following query returns 0 results.

[code]

[2015-08-06 16:24] bduggan commented on #113
On Thursday, August  6, justgo129 wrote:

That non-public endpoint has not been updated for some time.

Brian

[2015-08-06 16:27] #123 closed

[2015-08-06 16:27] bduggan commented on #123
This will be fixed in the next release (when I run this script)

[2015-08-06 18:23] justgo129 commented on #119
Works for me.  Closed #119.

[2015-08-06 18:23] #119 closed

[2015-08-07 17:01] zednis opened #124 "review provenance relationship between datasets and instruments"
We currently use ``prov:wasDerviedFrom`` to associate datasets with instruments that were used to capture the data.  I think ``prov:wasAttributedTo`` is a better relationship to use in this case.

definitions:
- ``prov:wasDerviedFrom``: *A derivation is a transformation of an entity into another, an update of an entity resulting in a new one, or the construction of a new entity based on a pre-exis

[2015-08-07 17:03] zednis commented on #124
@xgmachina @bduggan @aulenbac

[2015-08-07 17:38] bduggan commented on #124
Makes sense, +1.

This is just a simple template change.

Brian

[2015-08-07 17:49] zednis commented on #124
Yep, if everyone agrees to the semantics of the change I can create the simple pull request.

One thing that we should verify is that all instruments mentioned in the provenance have type `gcis:Instrument` and not `gcis:InstrumentType`.  The instrument referenced in the provenance refer to a physical instantiation of an instrument and not a general type of instrument (e.g. `gcis:InstrumentType`).

[2015-08-07 17:52] justgo129 commented on #124
+1

On Fri, Aug 7, 2015 at 1:49 PM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1717 Pennsylvania Ave NW, Suite #250
Washington, DC 20006

O: (202) 419-3496
M: (202) 285-3005

e-mail: jgoldstein AT usgcrp Dot gov
http://www.globalchange.gov

[2015-08-07 18:23] bduggan commented on #124
On Friday, August  7, Stephan Zednik wrote:

Not to get too far off topic but wanted to state this since it
may be the source of some confusion: the relational model uses
"instrument" vs "instrument instance", but the semantic one uses
"instrumentType" vs "instrument".  So "instrument" means something
different in the relational vs semantic models.  i.e. the
"instrument_instance" template generate

[2015-08-07 19:41] justgo129 commented on #112
Having seen no objection, I've closed #112.

[2015-08-07 19:41] #112 closed

[2015-08-10 13:41] rewolfe commented on #124
I don't think that "attributed to" is a good replacement for "derived
from".   When we say a data set is derived from an instrument, we really
mean that the data set is derived from the *output of *the instrument.  I
realize that this is a short hand way of saying this, but "output of" is
implied because that is what an instrument does, it measures something and
produces an output which is capture

[2015-08-10 14:31] bduggan commented on #124
On Monday, August 10, Robert Wolfe wrote:

I might agree in a colloquial sense, but as Stephan explained, "derivedFrom"
has a very specific definition in PROV.  If we aren't using it as defined there,
we should use something other than prov:wasDerivedFrom.

[2015-08-10 16:22] justgo129 commented on #124
I was unable to locate an adequate term in PROV-O.  I'd be fine with creating a predicate here.

[2015-08-10 16:35] zednis commented on #124
I think we still want to use PROV to establish a relationship between the datasets (level 0 or later) and the instrument.  I don't think it makes sense to stop at the last mile and NOT use PROV to connect datasets and instruments.

The PROV way to establish a provenance relationship between a level 0 dataset and the sensing instrument would be with the `prov:wasAttributedTo` property.  This was on

[2015-08-10 16:57] rewolfe commented on #124
So, I get where you are coming from.  I see the example here:

http://www.w3.org/TR/prov-primer/

So, is an instrument a Agent or an Entity?

On Mon, Aug 10, 2015 at 12:35 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-10 17:08] zednis commented on #124
An instrument can be both an Agent and an Entity.

[2015-08-10 18:18] justgo129 commented on #124
Would it overly complicate matters if we added turtle for an activity, assigning it a UUID?  We can then use: prov:used or prov:wasGeneratedBy through a qualified attribution?

gcis:wasProducedBy a owl:ObjectProperty ;
    rdfs:label "Was Produced By" ;
    rdfs:comment "A report was produced by an activity of report producing." ;
    rdfs:domain gcis:Report ;
    rdfs:range gcis:ReportGeneration

[2015-08-10 18:25] justgo129 commented on #108
@zednis what do you recommend?

[2015-08-10 18:32] justgo129 commented on #70
@zednis could you please provide a sample piece of turtle to reflect your suggestion that begins with "oddly enough?"  e.g. how would one or two of the appropriate lines for the turtle at:
http://data.globalchange.gov/platform/topex-poseidon/instrument/topex-microwave-radiometer
http://data.globalchange.gov/platform/topex-poseidon/instrument/topex-microwave-radiometer.thtml

look if implemented pe

[2015-08-10 18:32] zednis commented on #108
I think I need some background.  What relationship does the file have to the report?  Perhaps an example would help.

[2015-08-10 18:36] justgo129 commented on #108
The "file" represents the downloadable PDF (or extension) which represents the report.  e.g.:
https://data.globalchange.gov/report/aeo2013

click on the thumbnail to get:
https://data.globalchange.gov/file/d25e1cfd-e12e-4101-8402-5d09e68d7a1c

Clicking on this downloadable thumbnail produces the report. Hence the file has a SHA-1, MIME type, etc.  Please also note the sentence at the bottom of the

[2015-08-10 18:39] justgo129 commented on #108
and "prov:wasAssociatedWith" is specific to activities, not to characterizing an association between two entities.  Hope this clarifies matters.

[2015-08-10 18:42] zednis commented on #70
We would want to add a definition of `prov:contributed` to gcis.ttl:

[code]

We could then use `prov:contributed` in our instance data as if it had been defined in the PROV-O ontology.

[2015-08-10 18:45] zednis commented on #108
So the file is a representation of the report.  The file is not just associated with the report, the file is a representation of the report.

[2015-08-10 18:46] justgo129 commented on #70
I think I understand.  So after this definition is added, a (poorly-written format-wise) sample turtle would read:
<http://data.globalchange.gov/instrument/topex-microwave-radiometer>
   a gcis:Instrument;
   prov:contributed <<http://data.globalchange.gov/dataset/nasa-podaac aviso_l4_dyn_topo_1deg_1mo>>;
prov:contributed <http://data.globalchange.gov/dataset/nasa-podaac-merged_tp_j1_ostm_ost_all_

[2015-08-10 18:48] justgo129 commented on #70
(with a URI in the first "prov:contributed")

[2015-08-10 18:50] justgo129 commented on #108
That makes sense.  @rewolfe?

[2015-08-10 18:52] zednis commented on #108
This reminds me of the FRBR model.

https://en.wikipedia.org/wiki/Functional_Requirements_for_Bibliographic_Records

What you are calling the instance of type 'File' is (in FRBR) a manifestation of the report.

[2015-08-10 18:52] zednis commented on #70
Yes (except I am pretty sure the URI you are calling an instrument in your example would actually be have type `gcis:InstrumentType`).

[2015-08-10 18:55] justgo129 commented on #70
Yikes, I must have highlighted the wrong URL in the "I think I understand":

This was the one I meant.

I think I understand. So after this definition is added, a (poorly-written format-wise) sample turtle would read:
<http://data.globalchange.gov/platform/topex-poseidon/instrument/topex-microwave-radiometer.thtml>
a gcis:Instrument;
prov:contributed <http://data.globalchange.gov/dataset/nasa-poda

[2015-08-10 18:55] justgo129 commented on #70
So yes, I think we're saying the same thing.  +1.

[2015-08-10 18:56] zednis commented on #70
yep, this:

[code]

[2015-08-10 18:56] zednis commented on #70
@justgo129 I think our examples are in agreement.

[2015-08-10 18:56] justgo129 commented on #70
Works for me.  +1 for the addition of this predicate and subsequent change in the turtle template.  This also helps towards the resolution of #12.

[2015-08-10 19:19] justgo129 commented on #108
So something like frbr:embodimentOf?  http://vocab.org/frbr/core.html

http://data.globalchange.gov/file/9bdd68ab-4b90-4ad9-b043-fedb7e564184
   dcterms:identifier "9bdd68ab-4b90-4ad9-b043-fedb7e564184";
   gcis:cryptographicHash [
      gcis:hashFunction dbpedia:SHA-1;
      rdf:value "bdbe9f11d4b77589c541c062cfdeca636440dd82" ] ;
   dcterms:format "application/pdf";
   frbr:embodimentOf http://d

[2015-08-10 19:19] justgo129 commented on #108
where the URI for the "file" appears in the open brackets?

[2015-08-10 19:22] justgo129 commented on #108
with URIs surrounded by <<>> accordingly

[2015-08-10 19:26] justgo129 commented on #96
Seeing no opinion to the contrary, please go ahead and perform the steps described in your latest comment, @zednis.

[2015-08-10 19:29] justgo129 commented on #103
@zednis?

[2015-08-10 19:47] rewolfe commented on #70
Okay, this helps with my understanding of the other thread: #124.  +1

On Mon, Aug 10, 2015 at 2:57 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-10 19:50] zednis commented on #108
If we wanted to use the FRBR property directly I believe that is the correct encoding in RDF.

[code]

We could mint a sub-property of `frbr:embodimentOf` if the definition or terminology employed by FRBR causes confusion, but I believe our scenario translates to this mapping in FRBR.

I find FRBR to be a nice framework to discuss issues like this (the PDF vs the PDF content)

[2015-08-10 19:54] justgo129 commented on #108
+1

[2015-08-10 20:31] zednis commented on #103
Afew questions:

1) with `dcterms:publisher` is there a need for `gcis:hasPublisher`?
2) `gcis:hasPublisher` is an object property but is currently being used in the instance data as a datatype property.  Do we want this property to be a datatype property instead?
3) If we don't want to mint resources for publishers would we be willing to use [`dc:publisher`](http://dublincore.org/documents/dcmi-t

[2015-08-10 20:32] congruili commented on #115
could someone please specify what kinds of "variations" would be included?
e.g.:
Cics
Nc
Cics / Nc

[2015-08-10 20:34] justgo129 commented on #115
CICS-NC
CICS / NC
CICS/NC
Cooperative Institute for Climate and Satellites — NC
Cooperative Institute for Climate and Satellites—NC
Cooperative Institute for Climate and Satellites-North Carolina State University
Cooperative Institute for Climate and Satellites - North Carolina State University
NOAA NCDC / CICS-NC

I think that's it.

[2015-08-10 20:44] justgo129 commented on #103
1) not sure, what do you think?

gcis:hasPublisher a owl:ObjectProperty ;
    rdfs:label "Has Publisher" ;
    rdfs:comment "A publication has a publisher that produced it and made it available to the public." ;
    rdfs:domain gcis:Publication ;
    rdfs:range gcis:Agent ;
    rdfs:subPropertyOf prov:wasAttributedTo .

2) What are the pros/cons?
3) dc:publisher would be fine - please clarify the

[2015-08-10 20:59] congruili commented on #115
[code]

Please correct me in case something is wrong. Thanks!

[2015-08-10 21:05] congruili commented on #118
The following query is not related to "ORCID" yet:

[code]

[2015-08-10 21:06] zednis commented on #103
1) The benefit of the `gcis:hasPublisher` property over `dcterms:publisher` is that we would infer the `prov:wasAttributedTo` relationship (but only if reasoning was applied, which I currently do not believe is the case).

We could update the definition of `gcis:hasPublisher` to be a sub-property of both `prov:wasAttributedTo` and `dcterms:publisher`.  If we did that and applied reasoning the foll

[2015-08-10 21:10] congruili commented on #118
By the way, as was said to @zednis earlier, since no instances could be found using the property gcis:cites, it would be worth discussing whether or not we still keep it.

[2015-08-11 00:08] justgo129 commented on #70
Excellent.  Closed #70 given the commit in the USGCRP branch, see:
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/instrument_instance/object.ttl.tut

[2015-08-11 00:08] #70 closed

[2015-08-11 00:28] justgo129 commented on #96
Also @zednis just as a point of information, this may also allow us to resolve #12, as the only other instances of that issue are visible at:

https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/model/object.ttl.tut
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/model_run/object.ttl.tut
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/project

[2015-08-11 14:51] justgo129 commented on #103
+1

[2015-08-11 14:54] justgo129 commented on #81
Let's go with the more relaxed description.  @zednis, do you have any suggestions?  Would dbpedia:cites suffice?

[2015-08-11 14:57] justgo129 commented on #115
Thanks, @lic10 .  I'm not getting any results when trying it in the API though.

[2015-08-11 15:05] justgo129 opened #126 "SPARQL query: copyrighted figures in the NCA3"
Objective: Identify the (a) copyrighted figures which exist in the NCA3 and (b) the non-copyrighted ones.

This is the query to date:
select ?figure from <http://data.globalchange.gov> where {
   ?s a gcis:Report .
   ?s gcis:hasFigure ?figure .
   ?figure dcterms:rights [ rdf:value "Free to use with credit to the original figure source."^^xsd:string; ]
}

and of course we could modify the penulti

[2015-08-11 15:08] justgo129 commented on #75
@zednis or @xgmachina please feel free to take action accordingly.

[2015-08-11 15:11] justgo129 commented on #106
@xgmachina could you please inform as to the status of this issue?  Thanks.

[2015-08-11 15:15] rewolfe commented on #106
I believe this is related to the controlled vocabulary issues that @bduggan has been thinking about.

[2015-08-11 16:14] zednis commented on #81
1) Most of the time when we use cito:cites we are using it correctly (as an object-property).  Only occasionally do we use it with literal values.

I think we should keep using `cito:cites` in the standard case were it is being used to reference a document resource.

2) when we do use it with literal value there is a great amount of variety in what we say.  Sometimes we reference a document, somet

[2015-08-11 16:20] justgo129 commented on #81
Thanks, @zednis.  Since the above are edge-cases anyway coupled with the lack of a single property, I'm all for leaving this alone without action.  If @rewolfe agrees, I'll close #81.

[2015-08-11 16:22] zednis commented on #81
edit - I just ran a count and the balance between objects and literals as the value of cito:cites statements is much closer than I thought.

literal value: 258
IRI: 265

[2015-08-11 16:23] zednis commented on #81
@justgo129 I think we should act to stop using cito:cites with literal values.  From recent ticket conversations I think it is time for us to consider leveraging basic reasoning, and we should fix all cases were object properties are used with literal values if we want to do reasoning.

[2015-08-11 16:27] zednis commented on #115
@justgo129 the query works for me when I used http://data.globalchange.gov/sparql

http://data.globalchange.gov/sparql?default-graph-uri=&query=PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0APREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0APREFIX+gcis%3A+%3Chttp%3A%2F%2Fdata.globalchange.gov%2Fgcis.owl%23%3E%0D%0APREFIX+cito%3A+%3Cht

[2015-08-11 16:27] justgo129 commented on #81
I don't disagree.  @bduggan @rewolfe @aulenbac I will defer to you going forward on this ticket given the implications.

[2015-08-11 16:32] zednis commented on #126
There are no statements using predicate `dcterms:rights` in the triplestore.

[code]

has 0 results

[2015-08-11 16:38] zednis commented on #126
actually, scratch my last comment.  The `dcterms` prefix must not be configured for the sparql endpoint.

This query works:

[code]

[2015-08-11 16:39] justgo129 commented on #115
Interesting.  The hyperlink in the e-mail doesn't work, but the one here (identical to that in the e-mail of course) does.  I wonder what's going on.  @bduggan what are your thoughts?

[2015-08-11 16:40] bduggan commented on #81
Sounds good, no cito:cites.  The examples are basically text that should be included  in documents which cite the particular resource.  i.e. a "recommended citation", in the same category as the text in the "data citation" portion of this page: http://nsidc.org/data/G02135 Sounds like cito:cites is not the right way to convey this.

[2015-08-11 16:59] zednis commented on #81
To be more clear on my recommendations.

1) I think we should continue to use `cito:cites` with links to document resources in cases where what we are trying to say is that resource A cites document B (i.e. not a recommended citation)
2) I think we should discontinue using `cito:cites` with literal values
3) We should consider defining our own datatype property (`gcis:recommendedCitation`?) for re

[2015-08-11 17:58] zednis commented on #75
I have updated the qnames for role instances, but we have not yet decided on a resolution to the original request to relate `gcis:contactPoint` to `gcis:point_of_contact`.

[2015-08-11 18:37] justgo129 commented on #126
Great, @zednis .  I have subsequently restricted the query to NCA3 ones:
PREFIX dcterms: http://purl.org/dc/terms/

select ?figure from http://data.globalchange.gov where {
?s a gcis:Report .
?s dcterms:title "Climate Change Impacts in the United States: The Third National Climate Assessment"^^xsd:string .
?s gcis:hasFigure ?figure .
?figure dcterms:rights [ rdf:value "Free to use with credit to t

[2015-08-11 18:44] justgo129 commented on #126
Closed #126 due to successful resolution.  I'm surprised that the dcterms prefix isn't configured, though.  Anyway, thanks, @zednis!

[2015-08-11 19:01] rewolfe commented on #81
+1

On Tue, Aug 11, 2015 at 12:59 PM, Stephan Zednik notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-11 19:05] justgo129 commented on #81
+1 for recommendation 3.  I'd honestly be uncomfortable manually changing  the literal objects, and that would be outside the scope of GCIS IMO.  Can we just do a gcis:recommendedCitation for everything, literals and URIs alike?

[2015-08-11 19:06] congruili commented on #118
Would someone explicate how ORCIDs are currently being used in GCIS?

[2015-08-11 19:19] zednis commented on #81
As far as I can tell we are currently using the property for two different purposes

1) to say that the subject cites a document resource
2) to provide a suggestion/recommendation on how to cite the current subject

I think we should continue to use `cito:cites` for case 1.

I think it would be reasonable to define an annotation property for case 2.

[code]

[2015-08-11 19:36] justgo129 commented on #81
How would one code case 2 within the turtle templates?  Would it be something like the following pseudocode?

% if object ! literal, then predicate = ;
% } % {   else
   predicate = ;
% }

[2015-08-11 21:43] bduggan commented on #81
On Tuesday, August 11, Stephan Zednik wrote:

Yes, sounds good.  cito for (GCIS) URIs but not for literals.

Brian

[2015-08-11 21:49] bduggan commented on #115
I don't know what you mean by "the hyperlink in the email".  The SPARQL works for me.

[2015-08-11 22:35] justgo129 commented on #115
Sure.  Within the email that is automatically generated with each update of
a github issue, I clicked on the URL for the SPARQL query (i.e. the
multi-line URL which executes the query).  That returns the following
syntax error:

\Virtuoso 37000 Error SP030: SPARQL compiler, line 20: syntax error at 'e'
before 'dcterm'

SPARQL query:
define sql:big-data-const 0
#output-format:text/html
define sql:s

[2015-08-11 22:50] justgo129 commented on #81
+1.  Note that on:
http://data.globalchange.gov/report/nca3/chapter/water-resources/figure/projected-changes-in-water-withdrawals.thtml

"cito:cites" is invoked twice.  I ran a SPARQL query to investigate the use of cito:cites and it came up with many URIs for webpages with this double invocation.  Is there a way to limit the SPARQL query to the upper portion of the turtle, i.e. through "a gcis:Fi

[2015-08-11 22:53] justgo129 commented on #81
I retract that.  Line 14 of https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/figure/object.ttl.tut:
which is:
cito:cites "<%= no_tbibs($figure->source_citation) %>"^^xsd:string;

is the problematic use of cito:cites.  The second use of cito:cites, line 20 of https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/prov.ttl.tut
will always call a URI.

In short, we'll

[2015-08-11 23:04] bduggan commented on #115
On Tuesday, August 11, justgo129 wrote:

Multi-line URLs are error prone, just copy and paste the
SPARQL.

[2015-08-11 23:29] justgo129 commented on #115
Excellent advice, Brian.  I am happy with the SPARQL query.  Should we revise the column titles for the purpose of aesthetics?  I think it's good to go into a test suite.  @budggan if you think so , please feel free to close this ticket after adding it if you feel it's ready to go.  I'm satisfied with the resolution.

[2015-08-11 23:35] justgo129 commented on #115
Interesting:
http://data.globalchange.gov/report/nca3/chapter/appendix-climate-science-supplement/figure/temperature-trends-past-century-past-30-years

comes up as one of the outputs from the SPARQL query.
Although an NCDC / CICS product, the description does not explicitly stated "source...CICS" or a variation thereof.  From the description, someone not familiar with the figure-making process for

[2015-08-12 13:29] bduggan commented on #115
Anyone want to take a shot at adding this to the test suite?

I've put instructions on how to do this into the README :

https://github.com/USGCRP/gcis-ontology/blob/master/README.md

Brian

[2015-08-12 14:28] justgo129 commented on #108
Closed #108 due to merged https://github.com/USGCRP/gcis/pull/221.

[2015-08-12 14:28] #108 closed

[2015-08-12 23:12] justgo129 commented on #81
I meant "predicate."  Apologies for any confusion.

[2015-08-12 23:15] justgo129 commented on #103
@zednis please feel free to proceed with enacting your recommendation.

[2015-08-12 23:26] zednis commented on #103
To enact my recommendation we will need to start representing publishers as objects rather than as literals.

We would end up with new resources for publishers that would look like the following:

[code]

@bduggan How easy would it be to update the templates to do this?

[2015-08-12 23:28] justgo129 commented on #86
@zednis @xgmachina @bduggan given the comment of @zednis above coupled with that #16 is now resolved, is there any action to be taken on #86 or would this be an example of "close with no action taken?"  Thanks.

[2015-08-13 00:30] justgo129 commented on #103
Hmm.
@zednis do you think this change is necessary?  Would it be worth the time expended?  I am fine keeping as is if it doesn't justify the effort.

Note also that publishers exist as first class objects in the database, but as an instance of organization.  See e.g. https://data.globalchange.gov/organization/cambridge-university-press
                               https://data.globalchange.gov/o

[2015-08-13 01:47] zednis commented on #103
@justgo129 I do think this change is warranted.  `gcis:hasPublisher` is an object-property and we should correct our usage of it accordingly.  If we want to leave the publisher has a literal value we should drop usage of `gcis:hasPublisher` and go with `dc:publisher`, but then we lose the nice alignment with PROV.

[2015-08-13 13:48] bduggan commented on #103
This will require an improvement to the relational data model (not hard) and
an effort to get the data (hard, since it will take human curation). I
don't think we have the resources to undertake this right now, but would
love to see it at some point.

[2015-08-13 14:12] zednis commented on #103
We already have text values for the publisher, is the issue that the values have not been curated and normalized?

[2015-08-13 14:14] justgo129 commented on #103
Actually, in addition to that, publisher is also a contributor field.

On Thu, Aug 13, 2015 at 10:12 AM, Stephan Zednik notifications@github.com
wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1717 Pennsylvania Ave NW, Suite #250
Washington, DC 20006

O: (202) 419-3496
M: (202) 285-3005

e-mail: jgoldstein AT

[2015-08-13 14:57] bduggan commented on #103
On Thursday, August 13, Stephan Zednik wrote:

Yes, the current publisher names have been curated for the purpose of display
in a document, not for relational integrity.

crossref can help with this, they have a distinct list of 5,046
"publishers and societies", and I think the api returns one of
the entries on this list:

[code]

So a first start would be to improve the article syncer:

[code]

t

[2015-08-13 15:01] zednis commented on #103
ok, we could update to using `dc:publisher` with the current non-curated text values as an intermediate step and then proceed with the updates @bduggan is suggesting.  I really like the idea of making publisher's first-class citizens in the system and having better support for queries such as "show me all articles with attributes X, Y, and Z from publisher A"

[2015-08-13 16:08] bduggan commented on #103
Sounds good, I like that too, just not yet :)

[2015-08-13 19:06] rewolfe commented on #103
Should we move the "not yet" part to another ticket, or should we keep a
list someplace else?

On Thu, Aug 13, 2015 at 12:08 PM, Brian Duggan notifications@github.com
wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-13 20:51] justgo129 opened #128 "remove role instances from ontology"
Per discussion in #127.  This issue focuses on defining the role instances in the database and removing the declarations from the ontology

[2015-08-13 22:14] justgo129 commented on #103
I think we can move it to another ticket.  I am still a little concerned about the suggested approach to resolving the issue at the heart of the ticket but we can chat about that offline.

[2015-08-14 14:51] congruili commented on #116
https://data.globalchange.gov/sparql

something is wrong here? I could not get any query results at this moment...

[2015-08-16 15:09] justgo129 opened #129 "Most cited (sparql query)"
I think this would be a really good example of a SPARQL query and for which to place in a test suite:

Identify the most frequently cited:
(a) publication in GCIS (i.e. that exists as a record within GCIS)
(b) author listed in GCIS (i.e. that exists as a record within GCIS)
(c) publication in the NCA3
(d) author listed in the NCA3

"Author" may include "convening lead author," "lead author," and "

[2015-08-18 17:27] zednis commented on #124
@justgo129 I am not sure what the property gcis:wasProducedBy you suggest adds to the existing `prov:wasGeneratedBy` property and I think the domain and range you specify do not make sense for such as broadly named relationship as 'was produced by'.

Also I am not sure how the property you have suggested work with the following example - which does not include reports or report generation activiti

[2015-08-18 17:40] zednis commented on #114
query has 47 results.

[code]

[2015-08-18 17:42] zednis commented on #114
yasgui link - http://yasgui.org/short/4J5tR83i

[2015-08-18 17:46] zednis commented on #113
What are the requirements for closing this ticket?

[2015-08-18 17:52] justgo129 commented on #113
The generation of the query will enable the closing of this ticket.  The
outputs look good, but I see the nonetheless a few author duplicates (e.g.
Paul Fleming) even though they are from different chapters.  I'd be happy
to spin this off to another issue because I nonetheless see the value in
the output produced by the code above.

On Tue, Aug 18, 2015 at 1:46 PM, Stephan Zednik notifications@git

[2015-08-18 17:59] bduggan commented on #113
I would like to see a pull request that puts a sparql query like this into the test suite.

[2015-08-18 18:05] zednis commented on #113
@justgo129 I don't think we can provide a report with no author duplicates unless we combine chapters into a single delimited value in cases where authors have contributor relationships with more than 1 chapter.

Alternatively we could provide the output as a JSON or a similar data structure.

[2015-08-18 18:21] zednis commented on #118
[code]

[2015-08-18 18:29] justgo129 commented on #129
(c) and (d) are more important than (a) and (b)

[2015-08-18 18:42] zednis commented on #117
Query to get launch dates for platforms from GCIS.  Next I will update the query to compare with launch dates from dbpedia.

[code]

[2015-08-18 19:08] justgo129 commented on #72
With regard to the specific question:
In http://data.globalchange.gov/gcis.owl#TemporalExtents and http://data.globalchange.gov/gcis.owl#SpatialExtents, should the domains and ranges explicitly call out “datasets” given the descriptions of these terms?

a) I suggest removing "of a dataset" from the rdfs:comment of gcis:TemporalExtents:
    rdfs:comment "The time information, including that of the

[2015-08-18 19:26] bduggan commented on #117
Great, thanks, I'm adding this to the (newly created) gcis-sparql repo:

[code]

I'll send an email (outside this ticket) about this repo.

Brian

[2015-08-18 20:01] congruili commented on #116
[code]

[2015-08-18 20:04] justgo129 commented on #116
Interesting approach.  Science and Nature were meant to be examples and not
meant to be all inclusive though.  Can we generalize this to incorporate
everything with a certain impact factor?.

On Tue, Aug 18, 2015 at 4:01 PM, lic10 notifications@github.com wrote:

##

---

Justin Goldstein, Ph.D.
Advance Science Climate Data and Observing Systems Coordinator
US Global Change Research Program
1800 G

[2015-08-18 20:05] congruili commented on #116
Some more explanations about the "FILTER" condition: this is a bit tricky here since all the journals contain the "nature" string belong to "Nature" while for "Science" we need to satisfy an entire string match since all the other partial matches like "Biogeosciences" are wrong.

[2015-08-18 20:08] congruili commented on #116
@justgo129 I'm not quite sure what the question is asking.

Could you please explain a bit more regarding the following two sentences?
1. "calculate the percentage of total references"
2. "generalize this to incorporate everything with a certain impact factor"

[2015-08-18 20:14] justgo129 commented on #116
Sure.
1. Of which percentage of the total references are articles from journals
   with a specific impact factor?  (i.e. there are X amount of references in GCIS.  Which percentage of these refer to articles which satisfy our condition?)
2. The article at: https://en.wikipedia.org/wiki/Impact_factor may be of
   assistance with #2.

Also, don't forget that the _Annals of the Association of America

[2015-08-18 21:12] zednis commented on #72
@justgo129 said

I am not sure which domains and ranges you are referring to.  The extent classes are in the domain of properties we have defined to help characterize extents (start/end properties, latitude/longitude properties).  I do not believe these classes should be in the range of any current properties.

If I remember correctly we agreed to move towards using dublin core's `dcterms:spatial`

[2015-08-18 21:14] zednis commented on #72
Perhaps we should address this in a separate issue - but did we intend for for the spatial and temporal extent classes to have a plural name?

[2015-08-18 22:29] justgo129 commented on #72
I'll defer to @rewolfe about the solution of @zednis.  Yes, let's spin off the plural name issue into a second ticket.

[2015-08-18 22:34] justgo129 commented on #72
Also @zednis, just as a general point of information: with regard to the turtle above (northBoundLatitude, etc.) could we use xsd:float regardless of the object?  i.e., if someone reports "-88" as in the example above  or "-88.0" or "'88.01"?

[2015-08-19 00:43] justgo129 commented on #126
@zednis could you please add this to the test suite?  I know it's a relatively simple query but it's still worth adding.  Thanks.

[2015-08-19 00:50] justgo129 commented on #124
Sounds good.  To close the loop on this one,  @zednis do you have a concrete suggestion using PROV which would resolve the ticket?  Would a simple replacement of prov:wasDerivedFrom with prov:wasAttributedTo to associate datasets with "instrument_instances" suffice?  Would it satisfy an instrument being both an agent and an entity?  @rewolfe are you all right with an instrument being both an agent

[2015-08-19 00:55] zednis commented on #124
@justgo129 yes, see USGCRP/gcis/pull/216.  If we want to make it explicit I can create pull request where instrument instances also have `prov:Agent` as an explicitly declared type.

[2015-08-19 00:59] justgo129 commented on #121
@zednis I've replaced the dollar signs with question marks.  My question about the ordering of finding numbers still stands, though as it doesn't change the output.  The query is available at: https://gist.github.com/justgo129/0ad8ad99cf30e7370d8b .  Assistance is welcome.  Once we get this figured out let's add this to the test suite and subsequently close this ticket.

[2015-08-19 01:00] justgo129 commented on #124
@zednis yes, please.

[2015-08-19 01:42] zednis commented on #121
[code]

[2015-08-19 01:46] zednis commented on #121
note - the query I just used does not work for chapters 10+.  I will attempt to update the query.

[2015-08-19 01:54] zednis commented on #121
Revised query that works for all chapter numbers.  This could probably be refactored to be more succinct, but it works as-is and seems pretty fast when executed.

YASGUI link - http://yasgui.org/short/Nk1VZ02o

[code]

[2015-08-19 13:25] justgo129 commented on #121
Excellent, and I just added one line to remove the "xsd:string" from one of the column headings.  I tested it myself, to my satisfaction.  @bduggan how would I replace the current 2nd example at:
https://data.globalchange.gov/examples

with this updated query?  I am looking at:
https://github.com/USGCRP/gcis/blob/master/lib/Tuba/files/templates/doc/examples.html.ep but don't see SPARQL syntax ther

[2015-08-19 13:52] rewolfe commented on #72
Stephan's definitions and the example above look good.  Singular makes more
sense for the extents since I don't think the idea is to provide more than
one spatial or temporal extent.

On Tue, Aug 18, 2015 at 6:34 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-19 14:17] rewolfe commented on #124
@justgo129 - yes, I'm fine with an instrument being both an agent and
entity.

On Tue, Aug 18, 2015 at 9:00 PM, justgo129 notifications@github.com wrote:

##

Robert Wolfe, NASA GSFC @ USGCRP, o: 202-419-3470, m: 301-257-6966

[2015-08-19 22:18] zednis commented on #72
@justgo129

I am not sure what you are asking.  Are you asking for clarification on what is and is not a valid value for a xsd:float?

[2015-08-19 22:34] justgo129 commented on #72
Yes.  Can we use a float for a value of "-88" since that's an integer?  What happens if one value is "-88.1" (float) and another is "-88" (integer)?  Would  it therefore be problematic to hard-code "xsd:float"?

[2015-08-19 22:41] zednis commented on #72
I believe "-88" is a valid value for a literal of type `xsd:float`, have you seen any documentation that suggests otherwise?

[2015-08-19 22:52] justgo129 commented on #72
You're right .I just hadn't seen them represented that way.  It seems that C initially handled them differently; which was the source if my confusion.  (My intro to CS was C).  Feel free to proceed.

[2015-08-20 15:59] justgo129 commented on #124
Great.  Closed #124 via https://github.com/USGCRP/gcis/pull/226.

[2015-08-20 15:59] #124 closed

[2015-08-20 17:53] congruili commented on #116
@justgo129 The impact factors are currently not included in the database and they would change over time. Could you please just provide a list of what journals you would like to take into account for this question? Otherwise it would be too complicated ...

[2015-08-20 18:08] justgo129 commented on #116
@lic10 I suggest examining http://dbpedia.org/ontology/impactFactor  (per Curt Tilmes's comment earlier, actually).  Also, this is envisioned as a federated query, involving the mining of information from other databases like Web of Science, etc.  Impact factors don't actually change much over time.

[2015-08-20 19:29] congruili commented on #116
@justgo129 I am creating rdf triples for the impact factor of journals using some data I found online. When it's done, we could load the triples in the database and do the sparql query regarding impact factor.
Here's another question: should we add this in our GCIS ontology?
gcis:Journal gcis:has2014ImpactFactor xsd:decimal

[2015-08-20 20:10] justgo129 commented on #116
Excellent.  I don't think we should add the "gcis:has2014ImpactFactor" predicate to our ontology but I can be convinced otherwise.

[2015-08-20 20:35] congruili commented on #116
Here are the rdf triples:

https://drive.google.com/file/d/0B4GwxoO9tVwJZWFZSDhrS2R2dGs/view?usp=sharing

[2015-08-21 00:01] justgo129 commented on #81
Let's go with something along the lines of a property not named "cito:cites" for literals.  I wouldn't call it a gcis:recommendedCitation but maybe something like gcis:sourceAttribution.

[2015-08-21 00:06] justgo129 commented on #75
@zednis good point.  What is your opinion on this matter?  I am also all right with resolving the particular question as "no action taken."  My instinct is to remove gcis:contactPoint although I am open to other options.

[2015-08-21 13:35] bduggan commented on #116
We shouldn't have to load triples.  A federated query can use the
triples from dbpedia and query both places dynamically.

[2015-08-24 18:38] xgmachina commented on #104
I will close the issue since #131 is done.

[2015-08-24 18:38] #104 closed

[2015-08-24 18:39] xgmachina commented on #17
@zednis @justgo129  Should I close this issue since #130 is done. Changes made are:
Create a new class gcis:ModelRunOutput as a subclass of both prov:Entity
and gcis:Dataset. And change gcis:ModelRun from a subclass of
prov:Entity to a subclass of prov:Activity

[2015-08-24 18:41] justgo129 commented on #73
Given the lack of action on this and our ongoing discussion with ISO, I am closing #73 for the time-being.  I'd be happy to reopen this at a later date.